body {
    background: url(images/background.png) no-repeat center top;
}

@media (min-width: 1921px) {
    body {
        background-size: contain;
    }
}

/* icons */
@font-face {
    font-family: 'hubicons';
    src: url('fonts/hubicons/hubicons.eot?vr29mm');
    src: url('fonts/hubicons/hubicons.eot?vr29mm#iefix') format('embedded-opentype'),
    url('fonts/hubicons/hubicons.ttf?vr29mm') format('truetype'),
    url('fonts/hubicons/hubicons.woff?vr29mm') format('woff'),
    url('fonts/hubicons/hubicons.svg?vr29mm#hubicons') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="hubicon-"], [class*=" hubicon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'hubicons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.hubicon-linkedin-logo:before {
    content: "\e900";
    color: #fff;
}

.hubicon-instagram-logo-3:before {
    content: "\e901";
    color: #fff;
}

.hubicon-telegram:before {
    content: "\e902";
    color: #fff;
}

.hubicon-big-youtube-logo:before {
    content: "\e903";
    color: #fff;
}

.hubicon-vk-logo:before {
    content: "\e904";
    color: #fff;
}

.hubicon-facebook-logo-2:before {
    content: "\e905";
    color: #fff;
}

.hubicon-logo_white:before {
    content: "\e906";
}

.hubicon-smartphone-call-3:before {
    content: "\e907";
    color: #fff;
}

.hubicon-location-point:before {
    content: "\e908";
    color: #fff;
}

.hubicon-envelope-1:before {
    content: "\e909";
    color: #fff;
}

.hubicon-desktop-monitor:before {
    content: "\e90a";
}

.hubicon-arrow:before {
    content: "\e90b";
}

.hubicon-baking:before {
    content: "\e90c";
}

.hubicon-cofee_maker:before {
    content: "\e90d";
}

.hubicon-paint_roller:before {
    content: "\e90e";
}

.hubicon-light_bulb:before {
    content: "\e90f";
}

.hubicon-projector_screen:before {
    content: "\e910";
}

.hubicon-wifi:before {
    content: "\e911";
}

.hubicon-screen:before {
    content: "\e912";
}

.hubicon-projector:before {
    content: "\e913";
}

.hubicon-mouse .path1:before {
    content: "\e914";
    color: ;
}

.hubicon-mouse .path2:before {
    content: "\e915";
    margin-left: -1em;
    color: ;
}

.hubicon-mouse .path3:before {
    content: "\e916";
    margin-left: -1em;
    color: ;
}

.hubicon-mouse .path4:before {
    content: "\e917";
    margin-left: -1em;
    color: ;
}

.hubicon-smartphone:before {
    content: "\e918";
}

/* font OpenSans */
@font-face {
    font-family: 'Open Sans';
    src: url('fonts/opensans/OpenSans-ExtraBold.eot');
    src: url('fonts/opensans/OpenSans-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('fonts/opensans/OpenSans-ExtraBold.woff2') format('woff2'),
    url('fonts/opensans/OpenSans-ExtraBold.woff') format('woff'),
    url('fonts/opensans/OpenSans-ExtraBold.ttf') format('truetype'),
    url('fonts/opensans/OpenSans-ExtraBold.svg#OpenSans-ExtraBold') format('svg');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Condensed';
    src: url('fonts/opensans/OpenSansCondensed-Light.eot');
    src: url('fonts/opensans/OpenSansCondensed-Light.eot?#iefix') format('embedded-opentype'),
    url('fonts/opensans/OpenSansCondensed-Light.woff2') format('woff2'),
    url('fonts/opensans/OpenSansCondensed-Light.woff') format('woff'),
    url('fonts/opensans/OpenSansCondensed-Light.ttf') format('truetype'),
    url('fonts/opensans/OpenSansCondensed-Light.svg#OpenSansCondensed-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('fonts/opensans/OpenSans-Light.eot');
    src: url('fonts/opensans/OpenSans-Light.eot?#iefix') format('embedded-opentype'),
    url('fonts/opensans/OpenSans-Light.woff2') format('woff2'),
    url('fonts/opensans/OpenSans-Light.woff') format('woff'),
    url('fonts/opensans/OpenSans-Light.ttf') format('truetype'),
    url('fonts/opensans/OpenSans-Light.svg#OpenSans-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('fonts/opensans/OpenSans-Bold.eot');
    src: url('fonts/opensans/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
    url('fonts/opensans/OpenSans-Bold.woff2') format('woff2'),
    url('fonts/opensans/OpenSans-Bold.woff') format('woff'),
    url('fonts/opensans/OpenSans-Bold.ttf') format('truetype'),
    url('fonts/opensans/OpenSans-Bold.svg#OpenSans-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Condensed';
    src: url('fonts/opensans/OpenSansCondensed-Bold.eot');
    src: url('fonts/opensans/OpenSansCondensed-Bold.eot?#iefix') format('embedded-opentype'),
    url('fonts/opensans/OpenSansCondensed-Bold.woff2') format('woff2'),
    url('fonts/opensans/OpenSansCondensed-Bold.woff') format('woff'),
    url('fonts/opensans/OpenSansCondensed-Bold.ttf') format('truetype'),
    url('fonts/opensans/OpenSansCondensed-Bold.svg#OpenSansCondensed-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('fonts/opensans/OpenSans-SemiBold.eot');
    src: url('fonts/opensans/OpenSans-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('fonts/opensans/OpenSans-SemiBold.woff2') format('woff2'),
    url('fonts/opensans/OpenSans-SemiBold.woff') format('woff'),
    url('fonts/opensans/OpenSans-SemiBold.ttf') format('truetype'),
    url('fonts/opensans/OpenSans-SemiBold.svg#OpenSans-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('fonts/opensans/OpenSans-Regular.eot');
    src: url('fonts/opensans/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/opensans/OpenSans-Regular.woff2') format('woff2'),
    url('fonts/opensans/OpenSans-Regular.woff') format('woff'),
    url('fonts/opensans/OpenSans-Regular.ttf') format('truetype'),
    url('fonts/opensans/OpenSans-Regular.svg#OpenSans-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* header */
header {
    z-index: 1000;
    width: 100%;
    background-color: transparent;
    padding: 50px 0 0;
    position: absolute;
    top: 0;
}

.hubicon-smartphone {
    color: white;
    font-size: 20px;
    top: 1px;
    position: relative;
}

.header-menu {
    font-family: 'Open Sans';
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 6px !important;

}

.header-menu li {
    list-style: none;
}

.header-menu li a {
    font-size: 16px;
    color: white;
    letter-spacing: 0;
}

.header-menu li a:after {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1px solid rgba(255, 255, 255, 0);
    bottom: -1px;
    content: " ";
    display: block;
    margin: 0 auto;
    position: relative;
    transition: all 280ms ease-in-out;
    width: 0;
}

.header-menu li a:hover:after {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-color: #fff;
    transition: width 350ms ease-in-out;
    width: 100%;
}

.header-menu > li > a:hover, .header-menu > li > a:active, .header-menu > li > a:focus, .header-menu > li > a:visited,
.text-phone:hover, .text-phone:active, .text-phone:focus, .text-phone:visited {
    text-decoration: none;
    cursor: pointer;
    color: white;
    background-color: transparent !important;
}

.header-phone {
    margin-top: 20px;
    margin-left: 13px;
    display: inline-block;
}

header .text-phone {
    vertical-align: top;
    padding-left: 7px;
    color: white;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 16px;
}

header button.fill {
    border-radius: 15px;
}

/* buttons */

.fill:hover {
    box-shadow: inset 0 0 0 2em #fff;
}

button.fill {
    color: #fff;
    transition: 0.25s;
}

button.fill:hover {
    border-color: #fff;
    color: #4698b4;
}

button.fill {
    background: none;
    border: 2px solid;
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    padding: 1em 2em;
}

.btn-soft {
    letter-spacing: 0;
}

.btn-soft:after {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1px solid rgba(255, 255, 255, 0);
    bottom: -1px;
    content: " ";
    display: block;
    margin: 0 auto;
    position: relative;
    transition: all 280ms ease-in-out;
    width: 0;
}

.btn-soft:hover:after {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-color: #fff;
    transition: width 350ms ease-in-out;
    width: 100%;
}

/* bootstrap's helpers */

.padding-zero {
    padding: 0px !important;
}

button, button:hover, button:active, button:visited, button:focus {
    outline: 0 !important;
}

@media (min-width: 768px) {
    .flexbox-container {
        width: 750px;
    }

}

@media (min-width: 992px) {
    .flexbox-container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .flexbox-container {
        width: 1170px;
    }
}

#introduction .flexbox-container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    height: 100%;
}

.flexbox-container {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;

    align-items: center;
}

/* section introduction */

#introduction {
    height: 100vh;
    min-height: 600px;
    width: 100%;
    position: relative;
}

.introduction-information .title {
    font-size: 48px;
    font-family: "Open Sans";
    color: #fff;
    font-weight: 800;
    line-height: 1.2;
    display: block;
}

.introduction-information .description {
    padding-top: 20px;
    display: block;
    font-size: 30px;
    font-family: "Open Sans";
    color: #fff;
    font-weight: 800;
    line-height: 1.2;
}

.button-list {
    margin-top: 70px;
    position: relative;
}

#request-tour {
    font-family: "Open Sans";
    font-weight: bold;
    color: white;
    border-radius: 10px;
    border: 0px;
    outline: 0;
    font-size: 18px;
    background-color: rgb(234, 111, 75);
    min-width: 300px;
    height: 50px;
    display: inline-block;
    transition: 0.25s;
}

#request-tour:hover {
    box-shadow: inset 0 0 0 2em #fff;
}

#request-tour:hover {
    border-color: #fff;
    color: #53aebf;
}

#gallery-hub-button {
    font-family: "Open Sans";
    background-color: transparent;
    font-weight: bold;
    color: white;
    margin-left: 17px;
    border-width: 1px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    border-radius: 10px;
    min-width: 203px;
    height: 48px;
    display: inline-block;
    transition: 0.25s;
}

#gallery-hub-button:hover {
    box-shadow: inset 0 0 0 2em #fff;
}

#gallery-hub-button:hover {
    border-color: #fff;
    color: #4698b4;
}

.mouse-container {
    width: 100%;
    bottom: 20px;
    text-align: center;
    position: absolute;
}

.mouse-container .hubicon-mouse {
    font-size: 70px;
    color: white;
}

/* class rooms */
#class-rooms {
    position: relative;
    display: block;
    margin-top: 75px;
}

#class-rooms .information {
    text-align: center;
    margin-bottom: 96px;
}

#class-rooms .information .title, #class-rooms .information .description {
    font-family: "Open Sans";
    font-weight: bold;
    color: white;
    display: block;
}

#class-rooms .information .title {
    font-size: 30px;
    padding-bottom: 20px;
}

#class-rooms .information .description {
    font-weight: 600;
    font-size: 18px;
}

#class-rooms .room-container {
    padding: 14px 12px;
    border-radius: 20px;
    max-width: 255px;
    background-color: #fff;
    box-shadow: 0px 2px 38.7px 4.3px rgba(73, 157, 183, 0.5);
    width: 100%;
    height: 100%;
    max-height: 360px;
    overflow: hidden;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

#class-rooms .room-container:hover {
    max-height: 409px;
}

#class-rooms .room-container .room-image {
    margin: 0 auto;
}

#class-rooms .room-container .room-name {
    padding-top: 27px;
    display: block;
    font-family: "Open Sans";
    font-weight: bold;
    padding-bottom: 16px;
    color: black;
    font-size: 18px;
}

#class-rooms .room-container .room-capacity .capacity-name {
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 600;
    color: #53afc0;
    display: block;
}

#class-rooms .room-container .room-capacity .capacity-text {
    padding-top: 5px;
    font-family: "Open Sans";
    font-weight: bold;
    color: black;
    font-size: 18px;
}

#class-rooms .room-container .room-more {
    position: relative;
    display: block;
    margin-top: 15px;
}

#class-rooms .room-container .room-more .room-more-button {
    color: #59b8c4;
    font-family: "Open Sans";
    background-color: transparent;
    font-size: 14px;
    font-weight: 600;
    border-width: 1px;
    border-color: rgb(89, 184, 196);
    border-style: solid;
    border-radius: 10px;
    width: 100%;
    max-width: 116px;
    min-height: 33px;
    transition: 0.25s;
}

#class-rooms .room-container .room-more .room-more-button:hover {
    box-shadow: inset 0 0 0 2em #59b8c4;
}

#class-rooms .room-container .room-more .room-more-button:hover {
    border-color: #59b8c4;
    color: #fff;
}

/* Advantages */
#advantages {
    margin-top: 100px;
    width: 100%;
    display: block;
    position: relative;
}

#advantages .information {
    text-align: center;
}

#advantages .information .title, #advantages .information .description {
    font-family: "Open Sans";
    font-weight: bold;
    color: black;
    display: block;
}

#advantages .information .title {
    font-size: 30px;
    padding-bottom: 30px;
}

#advantages .information .description {
    font-weight: 600;
    font-size: 18px;
}

#advantages .advantages-container {
    position: relative;
    display: block;
    margin-top: 100px;
}

#advantages .advantages-container .advantage {
    text-align: center;
    margin-bottom: 130px;
}

#advantages .advantages-container .advantage span {
    border-radius: 76px;
    padding: 20px;
    background-color: white;
    font-size: 95px;
    color: #4598b5;
}

#advantages .advantages-container .advantage p {
    padding-top: 44px;
    max-width: 170px;
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 16px;
    margin: 0 auto;
}

/* locations */

#locations {
    position: relative;
    display: block;
    width: 100%;
    margin-top: 25px;
}

#locations .information {
    position: relative;
    margin-bottom: 40px;
    text-align: center;
}

#locations .information .title {
    font-family: "Open Sans";
    font-weight: bold;
    color: black;
    font-size: 30px;
    display: block;
}

#locations .tab-buttons li:first-child {
    margin-left: 0px !important;
}

#locations .tab-buttons li {
    margin-left: 32px;
    text-align: center;
}

#locations .tab-buttons li a {
    font-family: "Open Sans";
    font-weight: bold;
    color: #b7b7b7;
    font-size: 15px;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 9px 1px rgba(73, 157, 183, 0.22);
    min-width: 200px;
    min-height: 42px;
    transition: 0.5s;
}

#locations .nav-pills > li.active > a, #locations .nav-pills > li.active > a:focus, #locations .nav-pills > li.active > a:hover {
    border-radius: 20px;
    background-image: -moz-linear-gradient(72deg, rgb(68, 150, 180) 0%, rgb(90, 187, 198) 100%);
    background-image: -webkit-linear-gradient(72deg, rgb(68, 150, 180) 0%, rgb(90, 187, 198) 100%);
    background-image: -ms-linear-gradient(72deg, rgb(68, 150, 180) 0%, rgb(90, 187, 198) 100%);
    box-shadow: 0px 0px 9px 1px rgba(73, 157, 183, 0.22);
    color: #fff;
}

#locations .tab-content {
    margin-top: 70px;
}

#locations .location-container .map {
    background-color: #fff;
    box-shadow: 0px 0px 9px 1px rgba(73, 157, 183, 0.22);
    min-height: 475px;
    width: 100%;
    display: block;
    position: relative;
}

/* start bootstrap fix */
#locations .tab-panel {
    display: none;
}

#locations .active {
    display: block !important;
}

/* end bootstrap fix */

#locations .location-container .map img {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#locations .location-container .location-information ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#locations .location-container .location-information ul li {
    padding-left: 1em !important;
    text-indent: -1.2em;
}

#locations .location-container .location-information ul li::before {
    content: " ";
    display: inline-block;
    border-radius: 50%;
    background-color: rgb(68, 149, 179);
    width: 10px;
    height: 10px;
    margin-right: 10px;
}

#locations .location-container .location-information ul li {
    font-family: 'Open Sans';
    color: #333333;
    font-size: 16px;
    padding: 9px 0px;
}

#locations .location-container .location-information button {
    margin-top: 30px;
    border-radius: 20px;
    background-image: -moz-linear-gradient(72deg, rgb(68, 150, 180) 0%, rgb(90, 187, 198) 100%);
    background-image: -webkit-linear-gradient(72deg, rgb(68, 150, 180) 0%, rgb(90, 187, 198) 100%);
    background-image: -ms-linear-gradient(72deg, rgb(68, 150, 180) 0%, rgb(90, 187, 198) 100%);
    box-shadow: 0px 0px 9px 1px rgba(73, 157, 183, 0.22);
    min-width: 200px;
    height: 45px;
    font-family: 'Open Sans';
    font-size: 18px;
    color: #fff;
}

/* get-info */

#get-info {
    margin-top: 133px;
    min-height: 436px;
    position: relative;
    display: block;
    background: url(images/bg/section-getinfo.png) no-repeat center top;
    background-size: cover;
}

#get-info .flexbox-container {
    height: 100%;
    min-height: 436px;
    position: absolute;
}

#get-info .flexbox-container .information {
    margin: 0 auto;
    text-align: center;
}

#get-info .flexbox-container .information .title {
    font-family: 'Open Sans';
    color: white;
    font-weight: bold;
    font-size: 48px;
    padding-bottom: 60px;
    display: block;
}

#get-info .flexbox-container .information button {
    font-family: "Open Sans";
    font-size: 18px;
    background-color: transparent;
    font-weight: bold;
    color: white;
    margin-left: 17px;
    border-width: 1px;
    border-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 9px 1px rgba(73, 157, 183, 0.22);
    border-style: solid;
    border-radius: 20px;
    min-width: 243px;
    height: 43px;
    display: inline-block;
    transition: 0.25s;
}

#get-info .flexbox-container .information button:hover {
    box-shadow: inset 0 0 0 2em #fff;
}

#get-info .flexbox-container .information button:hover {
    border-color: #fff;
    color: #4698b4;
}

/* gallery */
#gallery {
    width: 100%;
    margin: 120px 0px 90px;
    display: block;
    position: relative;
}

#gallery .information {
    text-align: center;
    margin-bottom: 30px;
}

#gallery .information .title {
    font-family: "Open Sans";
    font-size: 30px;
    font-weight: bold;
    color: black;
}

#gallery .owl-carousel .owl-item {
    background-color: transparent;
    transition: 0.7s !important;
    -webkit-transition: 0.7s !important;
}

#gallery .owl-carousel .owl-item img {
    border-radius: 27px;
    transition: 0.7s !important;
    -webkit-transition: 0.7s !important;
}

#gallery .owl-carousel .owl-stage {
    display: flex;
    align-items: center;
}

#gallery .owl-nav {
    text-align: center;
    margin-top: 40px;
}

#gallery .owl-nav .owl-prev, #gallery .owl-nav .owl-next {
    border-width: 1px;
    border-color: rgb(69, 152, 181);
    border-style: solid;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 9px 1px rgba(73, 157, 183, 0.22);
    width: 48px;
    height: 43px;
    font-size: 15px;
    transition: 0.5s;
    color: #4598b5;
}

#gallery .owl-nav .owl-prev {
    -webkit-transform: rotate(180deg); /* Chrome and other webkit browsers */
    -moz-transform: rotate(180deg); /* FF */
    -o-transform: rotate(180deg); /* Opera */
    -ms-transform: rotate(180deg); /* IE9 */
    transform: rotate(180deg); /* W3C compliant browsers */

    /* IE8 and below */
    filter: progid:DXImageTransform.Microsoft.Matrix(M11=-1, M12=0, M21=0, M22=-1, DX=0, DY=0, SizingMethod='auto expand');
}

#showallgallery {
    font-family: "Open Sans";
    color: #0099ba;
    font-weight: 600;
    font-size: 18px;
    margin: 0px 8px;
    border-width: 1px;
    border-color: rgb(69, 152, 181);
    border-style: solid;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 9px 1px rgba(73, 157, 183, 0.22);
    min-width: 148px;
    height: 43px;
    transition: 0.5s;
}

#gallery .show_all .owl-stage {
    width: 980px !important;
    -webkit-transform: translate3d(0, 0px, 0px) !important;
    flex-wrap: wrap;
}

#gallery .show_all .owl-stage .owl-item {
    margin-bottom: 30px;
    max-width: 296px;
}

#gallery .owl-stage {
    margin: 0 auto;
}

#gallery .owl-item.cloned {
    display: none;
}

#showallgallery:hover,
#gallery .owl-nav .owl-prev:hover,
#gallery .owl-nav .owl-next:hover {
    background-image: -moz-linear-gradient(72deg, rgb(68, 150, 180) 0%, rgb(90, 187, 198) 100%);
    background-image: -webkit-linear-gradient(72deg, rgb(68, 150, 180) 0%, rgb(90, 187, 198) 100%);
    background-image: -ms-linear-gradient(72deg, rgb(68, 150, 180) 0%, rgb(90, 187, 198) 100%);
    box-shadow: 0px 0px 9px 1px rgba(73, 157, 183, 0.22);
    color: #fff;
}

/* about us */
#about-us {
    position: relative;
    widows: 100%;
    display: block;
}

#about-us .no-more {
    height: 250px !important;
}

#about-us .content {
    overflow: hidden;
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
}

#about-us h1 {
    text-align: center;
    font-family: "Open Sans";
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 45px;
}

#about-us .button-container {
    padding-top: 37px;
    display: block;
    position: relative;
    text-align: center;
    margin: 0 auto;
}

#about-us .button-container > button {
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 600;
    color: #0099ba;
    border-width: 1px;
    border-color: rgb(69, 152, 181);
    border-style: solid;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 9px 1px rgba(73, 157, 183, 0.22);
    top: 4778px;
    min-width: 214px;
    height: 43px;
    transition: 0.5s;
}

#about-us .button-container > button:hover {
    background-image: -moz-linear-gradient(72deg, rgb(68, 150, 180) 0%, rgb(90, 187, 198) 100%);
    background-image: -webkit-linear-gradient(72deg, rgb(68, 150, 180) 0%, rgb(90, 187, 198) 100%);
    background-image: -ms-linear-gradient(72deg, rgb(68, 150, 180) 0%, rgb(90, 187, 198) 100%);
    box-shadow: 0px 0px 9px 1px rgba(73, 157, 183, 0.22);
    color: #fff;
}

/* other question */
#other-questions {
    position: relative;
    display: block;
    width: 100%;
    margin-top: 50px;
    background-image: -moz-linear-gradient(87deg, rgb(69, 151, 180) 0%, rgb(91, 187, 198) 100%);
    background-image: -webkit-linear-gradient(87deg, rgb(69, 151, 180) 0%, rgb(91, 187, 198) 100%);
    background-image: -ms-linear-gradient(87deg, rgb(69, 151, 180) 0%, rgb(91, 187, 198) 100%);
    min-height: 510px;
}

#other-questions .information {
    margin: 73px 0px 25px;
    display: block;
    position: relative;
    text-align: center;
}

#other-questions .information .title {
    font-family: "Open Sans";
    font-size: 30px;
    font-weight: bold;
    color: #fff;
}

#other-questions form .col-sm-6 {
    padding-left: 0px;
}

#other-questions input.form-control {
    height: 43px;
    padding: 14px 12px 9px 12px;
}

#other-questions form input:focus ~ .floating-label,
#other-questions form input:not(:focus):valid ~ .floating-label,
#other-questions form textarea:focus ~ .floating-label,
#other-questions form textarea:not(:focus):valid ~ .floating-label {
    top: 3px;
    bottom: 10px;
    left: 12px;
    font-size: 10px;
    opacity: 1;
}

#other-questions form .inputText, #other-questions form .floating-label {
    font-size: 14px;
    font-family: "Open Sans";
    color: black;
}

#other-questions form .floating-label {
    color: #959595;
    position: absolute;
    pointer-events: none;
    left: 13px;
    top: 11px;
    transition: 0.2s ease all;
}

#other-questions form .textarea {
    padding-left: 0px;
}

#other-questions form textarea {
    resize: vertical;
    max-width: 767px;
    padding-top: 20px;
}

#other-questions #questions-form-submit {
    border-width: 1px;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    margin-top: 20px;
    border-color: #fff;
    background-color: transparent;
    border-style: solid;
    border-radius: 20px;
    box-shadow: 0px 0px 9px 1px rgba(73, 157, 183, 0.22);
    min-width: 214px;
    height: 46px;
    transition: 0.25s;
}

#other-questions #questions-form-submit:hover {
    box-shadow: inset 0 0 0 2em #fff;
}

#other-questions #questions-form-submit:hover {
    border-color: #fff;
    color: #4698b4;
}

/* footer */
footer {
    background-color: #292929;
    position: relative;
    display: block;
    padding-bottom: 4px;
}

footer .contact-information {
    display: block;
    position: relative;
    margin: 25px 0px;
}

footer .contact-information [class^="hubicon-"], footer .contact-information [class*=" hubicon-"] {
    font-size: 26px;
    color: white;
    top: 0px;
    position: relative;
    max-width: 20%;
    display: inline-block;
}

footer .contact-information .information-block {
    margin-bottom: 20px;
}

footer .contact-information .information-text {
    max-width: 80%;
    text-decoration: none;
    vertical-align: top;
    padding-left: 10px;
    color: white;
    font-family: 'Open Sans';
    font-size: 16px;
    display: inline-block;
}

footer .contact-information .information-block-location .information-text {
    margin-top: -5px;
}

footer .contact-information .information-text:hover,
footer .contact-information .information-text:active,
footer .contact-information .information-text:visited {
    text-decoration: none;
}

footer .footer-menu-list {
    list-style: none;
    padding: 0px;
}

footer .footer-menu {
    margin: 60px 0px;

}

footer .footer-menu-list li {
    margin: 4px 0px;
}

footer .footer-menu-list a {
    font-family: 'Open Sans';
    font-size: 16px;
    background-color: transparent;
    color: #fff;
    display: block;
    padding: 6px 0px;
    text-decoration: none;
}

footer .footer-menu-list a:hover {
    background-color: transparent;
}

footer .footer-menu-list a.active {
    background-color: transparent;
    color: white;
}

footer .footer-social {
    margin-bottom: 30px;
}

footer .footer-social-list {
    list-style: none;
    padding: 0px;
}

footer .footer-social-list li {
    display: inline-block;
    padding: 0px 7px;
}

footer .footer-social-list li:first-child {
    padding-left: 0px;
}

footer .footer-social-list li:last-child {
    padding-right: 0px;
}

footer .footer-social-list li a,
footer .footer-social-list li a:hover,
footer .footer-social-list li a:active,
footer .footer-social-list li a:focus,
footer .footer-social-list li a:visited {
    text-decoration: none;
}

footer .footer-social-list li a:hover span:before {
    color: #fff;
}

footer .footer-social-list li a span:before {
    color: #cacaca;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

footer .footer-social-list li span {
    font-size: 25px;
}

footer .footer-copyright {
    margin-bottom: 4px;
}

footer .footer-copyright span {
    font-family: 'Open Sans';
    font-size: 12px;
    color: #606060;
}

/* responsive */
@media only screen and (max-width: 750px) {
    .mobile-hidden {
        display: none !important;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .nav > li > a {
        padding: 5px !important;
    }

    .header-phone {
        margin-top: 9px;
    }

    .header-menu li a, header .text-phone {
        font-size: 15px;
    }

    .hubicon-smartphone {
        top: 0px;
    }

    #invite-btn {
        padding: 11px;
        margin-top: -1px;
    }

    .introduction-information .title {
        font-size: 37px;
    }

    .introduction-information .description {
        font-size: 22px;
    }

    #request-tour {
        font-size: 16px;
        min-width: 284px;
        height: 44px;
    }

    #gallery-hub-button {
        min-width: 198px;
        height: 44px;
    }

    #class-rooms .room-container {
        max-height: 316px;
    }

    #locations .tab-buttons li a {
        min-width: 166px;
        min-height: 33px;
        font-size: 14px;
    }

    #get-info .flexbox-container .information .title {
        font-size: 37px;
    }

    #about-us .no-more {
        height: 261px !important;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    header .header-contacts {
        float: right;
    }

    .nav > li > a {
        padding: 5px !important;
    }

    .header-phone {
        margin-top: 9px;
    }

    .header-menu li a, header .text-phone {
        font-size: 15px;
    }

    .hubicon-smartphone {
        top: 0px;
    }

    #advantages .advantages-container .clearfix:before,
    #advantages .advantages-container .clearfix:after {
        display: none;
    }

    #locations .tab-buttons li {
        margin-left: 16px;
    }

    .sm-clearfix:after {
        display: block;
        content: "";
        clear: both;
    }

    #invite-btn {
        padding: 11px;
        margin-top: -1px;
    }

    .introduction-information .title {
        font-size: 37px;
    }

    .introduction-information .description {
        font-size: 22px;
    }

    #request-tour {
        font-size: 16px;
        min-width: 284px;
        height: 44px;
    }

    #gallery-hub-button {
        min-width: 198px;
        height: 44px;
    }

    #locations .location-information {
        margin-top: 30px;
        text-align: center;
        padding: 0px 20px;
    }

    #locations .location-container .location-information ul {
        text-align: left;
    }

    #class-rooms .room-container {
        max-height: inherit;
        margin: 0px auto 60px auto;
        text-align: center;
        height: auto;
    }

    #locations .tab-buttons li a {
        min-width: 135px;
        min-height: 33px;
        font-size: 14px;
    }

    #get-info .flexbox-container .information .title {
        font-size: 37px;
    }

    #about-us .no-more {
        height: 261px !important;
    }

    #gallery {
        margin: 90px 0px 50px;
    }

    #about-us .content {
        padding: 0px 15px;
    }

    footer .col-sm-12 {
        text-align: center;
    }

    footer .footer-logo-link img {
        margin: 0 auto;
    }
}

@media (max-width: 767px) {
    body {
        background: url(images/background.png) no-repeat 49% -3%;
    }

    .navbar-toggle {
        background-color: #ea6f4b !important;
        border-radius: 7px !important;
        padding: 10px 10px !important;
        position: absolute !important;
        float: right !important;
        right: 13px !important;
        top: -76px !important;
    }

    header .logo img {
        margin-bottom: 32px;
    }

    .navbar-toggle .icon-bar {
        background-color: white;
    }

    header #navbar {
        margin-top: 0px !important;
        margin-bottom: 0px !important;
        background: white;
    }

    header .navbar-nav > li > a {
        color: black !important;
    }

    header {
        padding: 20px 0 0;
        position: relative;
    }

    header .header-contacts {
        float: right;
    }

    .nav > li > a {
        padding: 10px 0px 10px 0px !important;
    }

    .header-phone {
        margin-top: 5px;
        width: 100%;
        text-align: center;
        margin-left: 0px;
    }

    .header-menu li a, header .text-phone {
        font-size: 15px;
    }

    .hubicon-smartphone {
        top: 0px;
    }

    #introduction {
        height: auto;
        min-height: unset;
    }

    #introduction .introduction-information {
        text-align: center;
    }

    #introduction .flexbox-container {
        -ms-flex-align: flex-start;
        -webkit-align-items: flex-start;
        -webkit-box-align: flex-start;
        align-items: flex-start;
        display: block;
        height: auto;
    }

    #class-rooms {
        margin-top: 26px;
    }

    #class-rooms .information {
        text-align: center;
        margin-bottom: 45px;
    }

    #advantages .advantages-container .advantage {
        margin-bottom: 50px;
    }

    #advantages {
        margin-top: 40px;
    }

    #advantages .advantages-container {
        margin-top: 30px;
    }

    #advantages .advantages-container .advantage p {
        padding-top: 7px;
    }

    #advantages .advantages-container .clearfix:before,
    #advantages .advantages-container .clearfix:after {
        display: none;
    }

    #locations .tab-buttons li {
        margin-left: 16px;
    }

    .sm-clearfix:after {
        display: block;
        content: "";
        clear: both;
    }

    #invite-btn {
        padding: 11px;
        margin-top: -1px;
    }

    .introduction-information .title {
        font-size: 25px;
    }

    .introduction-information .description {
        font-size: 18px;
    }

    #request-tour {
        font-size: 16px;
        min-width: unset;
        height: 44px;
    }

    #gallery-hub-button {
        min-width: 198px;
        height: 44px;
    }

    .button-list {
        margin-top: 40px;
    }

    #request-tour {
        margin-bottom: 10px;
    }

    #gallery-hub-button {
        margin-top: 5px;
        margin-left: 0px;
    }

    .mouse-container {
        display: block;
        position: relative;
        margin-top: 40px;
    }

    #request-tour, #gallery-hub-button {
        width: 100%;
    }

    #locations {
        margin-top: 20px;
        overflow: hidden;
    }

    #locations .tab-buttons li:first-child {
        width: 100%;
        margin-left: 4% !important;
        padding-right: 10%;
    }

    #locations .tab-content {
        margin-top: 33px;
    }

    #locations .information {
        margin-bottom: 24px;
    }

    #locations .tab-buttons li {
        margin-bottom: 15px;

        width: 43%;
        margin-left: 4%;
    }

    #get-info {
        margin-top: 70px;
    }

    #locations .location-information {
        margin-top: 30px;
        text-align: center;
        padding: 0px 20px;
    }

    #locations .location-container .location-information ul {
        text-align: left;
    }

    #class-rooms .room-container {
        max-height: inherit;
        height: auto;
        margin: 0px auto 60px auto;
        text-align: center;
    }

    #locations .tab-buttons li a {
        min-width: 135px;
        min-height: 33px;
        font-size: 14px;
    }

    #get-info .flexbox-container .information .title {
        font-size: 24px;
        padding-left: 21px;
        padding-right: 21px;
    }

    #about-us .no-more {
        height: 261px !important;
    }

    #gallery .show_all .owl-stage {
        width: 332px !important;
    }

    #gallery {
        margin: 30px 0px 50px;
    }

    #gallery .show_all .owl-stage .owl-item {
        max-width: 100%;
        margin: 10px auto !important;
    }

    #gallery .information {
        margin-bottom: 10px;
    }

    #about-us .content {
        padding: 0px 15px;
        text-align: justify;
    }

    #about-us h1 {
        padding-bottom: 15px;
    }

    #other-questions .information {
        margin: 25px 0px 25px;
    }

    #other-questions .information .title {
        font-size: 25px;
    }

    #other-questions form .form-group {
        padding: 0px 15px;
    }

    #other-questions form .floating-label {
        left: 26px;
    }

    #other-questions form input:focus ~ .floating-label, #other-questions form input:not(:focus):valid ~ .floating-label, #other-questions form textarea:focus ~ .floating-label, #other-questions form textarea:not(:focus):valid ~ .floating-label {
        left: 27px;
    }

    #gallery .owl-carousel .owl-item {
        padding: 0px 10px;
    }

    #other-questions {
        min-height: auto;
        padding-bottom: 20px;
    }

    footer .footer-menu {
        margin: 5px 0px 25px;
    }

    footer .contact-information .information-block-location .information-text {
        margin-top: 0px;
    }

    footer .col-sm-12 {
        text-align: center;
    }

    footer .footer-logo-link img {
        margin: 0 auto;
    }

    #sendRequest .modal-header img, #success-call .modal-header img, #bad-call .modal-header img {
        max-width: 24%;
    }

    #sendRequest .modal-header, #success-call .modal-header, #bad-call .modal-header {
        padding-bottom: 5px;
    }

    #sendRequest .modal-title, #success-call .modal-title, #bad-call .modal-title {
        padding-top: 37px !important;
    }
}

/* scrollbar */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: #e7662b;
}

::-webkit-scrollbar-track {
    border-radius: 0;
}

/* preloader */
.new_preloader {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 99999;
    background-color: rgba(255, 255, 255, 1);
}

@media (max-width: 727px) {
    .new_preloader {
        flex-direction: column;
    }

    .new_preloader img:first-child {
        width: 220px;
    }

    .new_preloader img:last-child {
        width: 80px;
    }
}

/* popup */

.modal-dialog.cascading-modal {
    margin-top: 10%;
}

@media (max-width: 767px) {
    .modal-dialog.cascading-modal {
        margin-top: 5%;
    }
}

@media (max-height: 350px) {
    .modal-dialog.cascading-modal {
        margin-top: 0;
    }
}

#modalRequestForm, #success-call, #bad-call {
    padding-top: 10px;
    padding-bottom: 15px;
}

#sendRequest .modal-title, #success-call .modal-title, #bad-call .modal-title {
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 18px;
    padding-top: 22px;
    display: block;
    color: #000000;
}

#sendRequest .modal-header, #success-call .modal-header, #bad-call .modal-header {
    text-align: center;
    border: 0px;
    padding-bottom: 28px;
}

#sendRequest .modal-header img, #success-call .modal-header img, #bad-call .modal-header img {
    position: absolute;
}

#sendRequest form .col-sm-6 {
    padding-left: 0px;
}

#sendRequest input.form-control {
    height: 43px;
    padding: 14px 12px 9px 12px;
}

#sendRequest form input:focus ~ .floating-label,
#sendRequest form input:not(:focus):valid ~ .floating-label {
    top: 3px;
    bottom: 10px;
    left: 28px;
    font-size: 10px;
    opacity: 1;
}

#sendRequest form .inputText, #sendRequest form .floating-label {
    font-size: 14px;
    font-family: "Open Sans";
    color: black;
}

#sendRequest form .floating-label {
    color: #959595;
    position: absolute;
    pointer-events: none;
    left: 31px;
    top: 11px;
    transition: 0.2s ease all;
}

#sendRequest #modal-form-submit {
    border-width: 1px;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    margin-top: 20px;
    border-style: solid;
    border-radius: 20px;
    background-image: -moz-linear-gradient(72deg, rgb(68, 150, 180) 0%, rgb(90, 187, 198) 100%);
    background-image: -webkit-linear-gradient(72deg, rgb(68, 150, 180) 0%, rgb(90, 187, 198) 100%);
    background-image: -ms-linear-gradient(72deg, rgb(68, 150, 180) 0%, rgb(90, 187, 198) 100%);
    box-shadow: 0px 0px 9px 1px rgba(73, 157, 183, 0.22);
    min-width: 214px;
    height: 46px;
    transition: 0.25s;
}

#sendRequest #modal-form-submit {
    margin-top: 8px;
}

.modal-message {
    font-family: "Open Sans";
    font-size: 15px;
    padding: 10px;
    color: black;
}

#success-call .hubicon-smartphone, #bad-call .hubicon-smartphone {
    color: black;
    font-size: 15px;
}

#success-call .modal-phone, #bad-call .modal-phone {
    text-decoration: none;
    color: black;
}







