//.window
.window {
  position: relative;
  z-index: 10;

  display: flex;

  width: 100%;
  max-width: 1170px;
  height: 100%;
  max-height: 740px;

  border-radius: 20px;
  box-shadow: 0 0 13.8px 2.2px rgba(0, 0, 0, 0.3);

  @media (width <= 1279PX) {
    .course & {
      background: #fff;
    }
  }

  @media (width <= 768PX) {
    flex-direction: column;

    min-height: 90vh;
    max-height: none;
  }

  //.window-left
  &-left {
    display: flex;
    overflow: hidden;
    flex-direction: column;

    width: 35%;

    border-radius: 20px 0 0 20px;
    background-color: $white;
    background-image: url("../img/cubes.svg");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: cover;

    @media (width <= 768PX) {
      width: 100%;
      height: 100%;

      border-radius: 20px 20px 0 0;
    }

    //.window-left__army
    &__img {
      width: 100%;
      margin-top: auto;
    }
  }

  //.window-right
  &-right {
    position: relative;

    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: space-between;

    width: 65%;
    height: 100%;

    border-radius: 0 20px 20px 0;
    background-color: $white;

    .safari.course & {
      display: block;
    }
    @media (width <= 1279PX) {
      .course & {
        max-height: 500px;
        overflow-y: auto;
        margin-bottom: 50px;
      }
    }
    @media (width <= 768PX) {
      width: 100%;
      height: auto;
      border-radius: 0 0 20px 20px;
    }
    @media (width <= 768PX) {
      .course & {
        max-height: 100%;
      }
    }
  }
}
