@import "window-about.scss";

// .blur-img
.blur-img {
  display: block;

  width: 100%;
  height: 100%;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  @media (width <= 1279PX) {
    min-height: 63vh;
  }
  @media (width <= 1030PX) {
    //min-height: 77vh;
  }
  @media (width <= 768PX) {
    min-height: 50vh;
  }
  @media (width <= 768px) and (height <= 560px) {
    background-position: 50% 20%;
  }
}

// .window

#about{
  .window{
    @media (width <= 1279PX) {
      margin-top: 40px;
    }

  }
}
.window {
  position: relative;
  z-index: 10;

  display: flex;

  width: 90%;
  max-width: 1170px;
  height: 100%;
  max-height: 600px;
  margin: auto;

  border-radius: 20px;
  box-shadow: 0 0 13.8px 2.2px rgba(0, 0, 0, 0.3);

  @media (height <= 850PX) and (height > 768PX) and (width > 1170PX) {
    transform: translate(0, 50px);
  }

  @media (width <= 1279PX) {
    width: 90%;
    min-width: auto;
    max-width: none;
    height: auto;
    min-height: auto;
    max-height: none;
    margin-bottom: 20px;
    margin-top: 0;
    background-color: $white;
  }
  @media (width <= 768PX) {
    flex-direction: column;
    position: static;
  }

  // .window-popup
  &-popup {
    position: absolute 0 0 0 0;
    z-index: 22;

    display: none;

    width: 100%;
    height: 100%;

    transition: 0.4s linear all;

    opacity: 0;
    border-radius: 20px;
    background-color: $white;

    @media (width <= 768PX) {
      position: static;

      flex-direction: column;
    }

    // .window-popup.active
    &.active {
      display: flex;

      opacity: 1;
    }

    // .window-popup__content
    &__content {
      overflow-y: auto;
      flex-grow: 1;
      margin-bottom: 40px;
      padding-right: 5%;
      @media (width <= 767PX) {
        margin-bottom: 0;
      }
      // .window-popup__content p
      p {
        color: $gray;

        font-family: $OpenSans;
        font-size: 18px;
        line-height: 1.2;
      }
    }

    // .window-popup__heading
    &__heading {
      display: block;

      margin-top: 0;
      margin-bottom: 40px;

      color: $orange;

      font-family: $OpenSans;
      font-size: 30px;
      font-weight: 700;
      @media (width <= 767PX) {
        margin-bottom: 20px;
      }
    }

    // .window-popup-left
    &-left {
      display: flex;

      width: 40%;
      height: 100%;
      @media (width <= 768PX) {
        display: block;
        width: 100%;
        margin-top: 60px;
      }

      // .window-popup-left img
      img {
        max-width: 70%;
        margin: auto;

        @media (width <= 768PX) {
          max-width: 90%;
        }
      }
    }

    // .window-popup-right
    &-right {
      display: flex;
      flex-direction: column;

      width: 60%;
      height: 100%;
      padding: 60px;
      @media (width <= 768PX) {
        width: 100%;
        padding: 0px 60px 60px;
      }
    }

    // .window-popup-close
    &-close {
      position: absolute;
      z-index: 1;
      top: 20px;
      right: 20px;

      padding: 15px;

      cursor: pointer;

      border: none;
      border-radius: 20px 20px 0 0;
      background-color: $white;

      font-size: 20px;

      @media (width <= 768PX) {
        display: none;
      }

      // .window-popup-close__icon
      &__icon {
        &::before {
          transform: rotate(45deg);
        }
      }
    }
  }

  //.window-left
  &-left {
    position: relative;
    z-index: 6;

    display: flex;
    overflow: hidden;
    flex-direction: column;
    max-width: 40%;
    width: 100%;
    flex: 1 1 auto;

    border-radius: 20px 0 0 20px;
    box-shadow: 6.573px 12.361px 33.6px 1.4px rgba(0, 0, 0, 0.25);

    @media (width <= 768PX) {
      max-width: 100%;
      height: 50vmax;

      border-radius: 20px 20px 0 0;
      background-color: $white;
    }
    //.window-left img
    img {
      display: none;

      width: 100%;
      height: 100%;
    }
  }

  //.window-right
  &-right {
    position: relative;

    width: 100%;
    max-width: 60%;
    flex: 1 1 auto;
    height: 100%;

    border-radius: 0 20px 20px 0;
    background-color: $white;
    @media (width <= 1279PX) {
      height: auto;
    }
    @media (width <= 768PX) {
      overflow: hidden;

      max-width: 100%;
      height: auto;

      border-radius: 0 0 20px 20px;
    }
  }

  //.window-about
  &-about {
    margin-bottom: 0;
  }
}
.image-link{
  display: flex;
  align-items: center;
  @media (width <= 768PX) {
    display: block;
    text-align: center;
    & img {
      margin-bottom: 15px;
    }
  }
}
.desktop.ie .image-link {
  padding: 0 15px;
  img{
    display: block;
    margin: 0 auto;
  }
}
.window-popup__row--btn{
  position: absolute;
  top: 20px;
  left: 52px;
  @media (width <= 768PX) {
    display: none;
  }
}
#about {
  .mobile__heading {
    @media (width <= 1279PX) {
      margin-bottom: 60px;
    }
  }
}
.ie{
  .window-popup-left {
    img {
      width: 100%;
      max-width: 100%;
    }
  }
}
