.scene-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  transform: scale(1.05);

  &--blur {
    background-color: $darkBlack;
  }

  @media (width <= 1279PX) {
    background-color: transparent;
    background-image: url("../img/mobile-back.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    filter: none;
  }
}

.bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  background-position: 50% 50%;
  background-size: cover;

  @media (width <= 1279PX) {
    display: none !important;
  }
}

.bg-text {
  background-image: url("../img/scene/text.png");
  @media (width <= 1199PX) {
    background-position: 40% 50%;
  }
}

.bg-pc {
  background-image: url("../img/scene/pc.png");
}

.bg-1 {
  background-image: url("../img/scene/1.png");
  @media (width <= 1279PX) {
    background-image: none;
  }
    &:before {
    content: "";
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    background: url("../img/scene/1-blur.png") 50% 50% no-repeat;
    background-size: cover;
    opacity: 0;
    visibility: hidden;
    //transition: all .5s;
      @media (width <= 1279PX) {
        background: none;
      }
  }
}

.bg-2 {
  background-image: url("../img/scene/2.png");
  @media (width <= 1279PX) {
    background-image: none;
  }
  &:before {
    content: "";
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    background: url("../img/scene/2-blur.png") 50% 50% no-repeat;
    background-size: cover;
    opacity: 0;
    visibility: hidden;
    //transition: all .5s;

    @media (width <= 1279PX) {
      background: none;
    }
  }
}

.bg-3 {
  background-image: url("../img/scene/3.png");
  @media (width <= 1279PX) {
    background-image: none;
  }
  &:before {
    content: "";
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    background: url("../img/scene/3-blur.png") 50% 50% no-repeat;
    background-size: cover;
    opacity: 0;
    visibility: hidden;
    //transition: all .5s;
    @media (width <= 1279PX) {
      background: none;
    }
  }
}

.bg-4 {
  background-image: url("../img/scene/4.png");
  @media (width <= 1279PX) {
    background-image: none;
  }
  &:before {
    content: "";
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    background: url("../img/scene/4-blur.png") 50% 50% no-repeat;
    background-size: cover;
    opacity: 0;
    visibility: hidden;
    //transition: all .5s;
    @media (width <= 1279PX) {
      background: none;
    }
  }
}

.bg-5 {
  background-image: url("../img/scene/5.png");
  @media (width <= 1279PX) {
    background-image: none;
  }
  &:before {
    content: "";
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    background: url("../img/scene/5-blur.png") 50% 50% no-repeat;
    background-size: cover;
    opacity: 0;
    visibility: hidden;
    //transition: all .5s;
    @media (width <= 1279PX) {
      background: none;
    }
  }
}

.bg-6 {
  background-image: url("../img/scene/6.png");
  @media (width <= 1279PX) {
    background-image: none;
  }
  &:before {
    content: "";
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    background: url("../img/scene/6-blur.png") 50% 50% no-repeat;
    background-size: cover;
    opacity: 0;
    visibility: hidden;
    //transition: all .5s;
    @media (width <= 1279PX) {
      background: none;
    }
  }
}

.bg-7 {
  background-image: url("../img/scene/7.png");
  @media (width <= 1279PX) {
    background-image: none;
  }
  &:before {
    content: "";
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    background: url("../img/scene/7-blur.png") 50% 50% no-repeat;
    background-size: cover;
    opacity: 0;
    visibility: hidden;
    //transition: all .5s;
    @media (width <= 1279PX) {
      background: none;
    }
  }
}

.bg-bg {
  background-image: url("../img/scene/background.png");

  &:before {
    content: "";
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    background: url("../img/scene/background-blur.jpg") 50% 50% no-repeat;
    background-size: cover;
    opacity: 0;
    visibility: hidden;
    //transition: all .5s;
  }
}

.bg-logo {
  background-image: url("../img/scene/logo.png");
}

.ie-bg {
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.38);
    z-index: 1;
  }
  .bg-1, .bg-2, .bg-3, .bg-4, .bg-5, .bg-6, .bg-7, .bg-bg {
    background-image: none;
    &:before {
      opacity: 1;
      visibility: visible;
    }
  }
}

.desktop {
  &.macintosh {
    .bg {
      transform: none !important;
      &.bg-bg {
        transform: matrix(1, 0, 0, 1, 0, 0) !important;
      }
    }
  }
}
