.start {
  position: fixed;
  z-index: 999;
  bottom: 0;
  display: none;
  justify-content: center;
  width: 100%;
  padding-bottom: 5%;

  @media (width <= 1279PX) {
    position: absolute;
    display: flex !important;
  }

  .safari & {
    @media (width <= 1279PX) {
      display: block;
    }
  }

  &__btn {
    padding: 15px 20px;
    animation: shadow 1500ms infinite;
    font-size: 18px;
    @media (width <= 768PX) {
      max-width: 50%;
      animation: none;
    }
    @media (width <= 570PX) {
      max-width: 70%;
      animation: none;
    }

    .safari & {
      @media (width <= 768PX) {
        display: block;
        text-align: center;
      }
    }

  }
  @media (height <= 640PX) {
    bottom: 0px;
  }
}

.main {
  position: relative;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  min-height: 100vh;
  @media (width > 1279PX) {
    display: none;
  }

  &__h1 {
    display: block;
    margin-top: 45%;
    text-align: center;
    text-transform: uppercase;
    color: $white;
    font-size: 54px;
    font-weight: bold;

    @media (width > 1030PX) {
      //position: absolute;
      overflow: hidden;
      clip: rect(0 0 0 0);
      margin: -1px;
      padding: 0;
      border: 0;
    }

    .safari & {
      @media (width <= 768PX) {
        clip: auto;
        //margin: auto;
        overflow: visible;
        width: 100%;
      }
    }

    @media (width <= 768PX) {
      font-size: 36px;
    }

    .with-sale & {
      margin-top: 220PX;
      @media (width <= 599PX) {
        margin-top: 185PX;
      }

      .safari & {
        clip: auto;
        margin: auto;
        overflow: visible;
        width: 100%;
      }

      @media (width < 360PX) {
        margin-top: 170px;
      }

      @media (height < 520PX) {
        overflow: hidden;
        clip: rect(0 0 0 0);

        width: 1px;
        height: 1px;
        margin: -1px;
        padding: 0;

        border: 0;

        .safari & {
          clip: auto;
          margin: auto;
          overflow: visible;
          width: 100%;
        }
      }
    }

    span {
      color: $orange;
    }
  }
}

.mobile {
  &__heading {
    display: block;

    margin: auto;
    margin-bottom: 30px;

    text-align: center;
    text-transform: uppercase;

    color: $white;

    font-size: 36px;
    @media (width <= 1279PX) {
      margin-bottom: 60px;
    }
    @media (width > 768PX) {
      display: none;

      .safari & {
        display: block !important;
      }
    }
  }
}
/*IE Style*/
.ie{
  .scene-bg{
    transform: scale(1);
  }
}
//.scene-bg {
//  &:before {
//    content: '';
//    position: absolute;
//    top: 0;
//    left: 0;
//    right: 0;
//    width: 100%;
//    height: 100%;
//    background: url(../img/hh.png);
//    z-index: 1;
//  }
//}
