.modal {
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  overflow: auto;

  width: 100%;
  height: 100%;

  background: rgba(0,0,0,0.9);

  &-courses {
    position: relative;

    overflow: hidden;
    align-self: center;
    width: 90%;
    max-width: 1170px;
    min-height: 100px;
    margin: auto;
    padding: * 30px;

    border-radius: 10px;
    background-color: $white;
  }

  &-feedback {
    position: relative;
    align-self: center;
    overflow: hidden;

    width: 90%;
    max-width: 1170px;
    margin: auto;
    padding: * 30px;

    border-radius: 10px;
    background-color: $white;

    &:after {
      position: absolute;
      bottom: -260px;
      left: -100px;

      width: 400px;
      height: 300px;

      content: "";
      transform: rotate(20deg);

      background-color: $blue;
    }

    &:before {
      position: absolute;
      top: -200px;
      left: -300px;

      width: 400px;
      height: 600px;

      content: "";
      transform: rotate(30deg);

      background-color: $orange;
    }

    &__wrapper {
      position: relative;
      z-index: 2;

      .checkin {
        min-height: 0;
      }

      &:after {
        position: absolute;
        top: 200px;
        right: -300px;

        width: 400px;
        height: 400px;

        content: "";
        transform: rotate(30deg);

        background-color: $blue;
      }
    }
    .checkin__p {
      max-width: 100%;
      text-align: center;
    }
  }

  &-close {
    position: absolute;
    z-index: 5;
    top: 0;
    right: 0;

    padding: 20px;

    cursor: pointer;

    font-size: 22px;
  }
}
