.stock {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: space-between;

  width: 100%;
  height: 100%;
  padding: 50px 80px;

  border-radius: 0 30px 30px 0;
  background-color: #fff;
  box-shadow: 0 0 0 15px $orange inset;

  @media (width <= 768PX) {
    padding: 50px;

    border-radius: 0 0 30px 30px;
  }

  &__heading {
    margin-bottom: 15px;

    color: $orange;

    font-family: $OpenSans;
    font-size: 30px;
    font-weight: bold;
    line-height: 1.2;
  }

  &__subheading {
    margin-bottom: 15px;

    color: $blue;

    font-family: $OpenSans;
    font-size: 30px;
    font-weight: bold;
    line-height: 1.2;
  }

  &__p {
    margin-bottom: 15px;

    color: $gray;

    font-family: $OpenSans;
    font-size: 18px;
    line-height: 1.2;
  }

  &__btn {
    box-shadow: 0 0px 13.76px 2.24px rgba(0, 0, 0, 0.3);
  }

  &__img {
    display: block !important;

    width: 100% !important;
    height: 100%;
    margin: auto;

    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;

    @media (width <= 1279PX) {
      //width: 50% !important;
      //margin: 30px *;
      width: 100% !important;
      margin: 0;
      min-height: 63vh;
    }
  }

  &__bg {
    background-color: #e1e1e2;
    background-image: url("../img/grid-white.svg");
    background-size: cover;

    &:after {
      content: none;
    }
  }

  &__sell {
    color: $orange;

    font-size: 22px;
    font-weight: bold;
  }

  &__block {
    display: flex;
    float: left;
    flex-direction: column;

    width: 48%;
    padding: 10px;

    text-align: center;

    color: $blue;

    font-size: 20px;

    span {
      text-align: center;

      color: red;

      font-size: 48px;
      font-weight: bold;
    }
  }

  &__editor {
    display: flex;
    overflow-y: auto;
    flex-direction: column;

    margin-bottom: 20px;
  }
}
#stock-sell{
  //max-height: 800px;
}

