.tabs {
  position: relative;

  width: 100%;
  height: 100%;

  &__links {
    position: absolute;
    z-index: 1;
    bottom: 100%;

    display: flex;
    flex-direction: row;

    @media (width <= 768PX) {
      position: static;
      justify-content: space-around;
      background-color: #fff;
      padding-top: 10px;
      min-height: 65px;
      height: 1px;
    }
    @media (width <= 600PX) {
      min-height: 85px;
    }

    .safari & {
      @media (width <= 768PX) {
        display: block;
        z-index: 8;
        margin-bottom: 40px;
        margin-right: -3px;
      }
    }

    input {
      display: none;
    }
  }

  &__link {
    @media (width <= 768PX) {
      flex-grow: 1;
      margin: 0 -1px 0 0;
      height: 100%;
    }

    .safari & {
      @media (width <= 768PX) {
        display: block;
        z-index: 8;
        width: 25%;
        text-align: center;
        float: left;
      }
    }

    label {
      display: block;
      height: 100%;
      padding: 15px 40px;
      cursor: pointer;
      color: $textGray;
      border-radius: 20px 20px 0 0;
      background-color: $white;
      box-shadow: 6.573px 12.361px 33.6px 1.4px rgba(0, 0, 0, 0.25);

      font-family: $OpenSans;
      font-size: 16px;
      font-weight: bold;
      line-height: 1.2;

      @media (width <= 1170PX) {
        padding: 10px 25px;
        font-size: 15px;
      }

      @media (width <= 768PX) {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-grow: 1;
        padding: 16px 3px;
        text-align: center;
        height: 100%;
        //border-radius: 0;
        //border: 1px solid rgba(0, 0, 0, 0.25);
        //border-bottom: 0;
        //box-shadow: none;
        box-shadow: -0.3427rem -0.7rem 1rem -0.6px rgba(0, 0, 0, 0.25);
        font-size: 18px;
        //padding-bottom: 0;
      }

      &[for=r1] {
        position: relative;
        z-index: 5;

        @media (width <= 768PX) {
          position: static;
        }
      }

      &[for=r2] {
        position: relative;
        z-index: 4;
        left: -20px;

        @media (width <= 768PX) {
          position: static;
        }
      }

      &[for=r3] {
        position: relative;
        z-index: 3;
        left: -40px;

        @media (width <= 768PX) {
          position: static;
        }
      }

      &[for=r4] {
        position: relative;
        z-index: 2;
        left: -60px;

        @media (width <= 768PX) {
          position: static;
        }
      }
    }

    input:checked + label {
      z-index: 6;
      color: $blue;
    }
  }

  &__content {
    position: relative;
    z-index: 6;

    width: 100%;
    height: 100%;

    border-radius: 0 20px 20px 0;
    background-color: $white;

    .safari & {
      @media (width < 768PX) {
        min-height: 50vh;
      }
    }

    @media (max-width: 768PX) {
      border-radius: 0;
    }
  }

  &__item {
    display: none;
    overflow: hidden;
    flex-direction: column;

    height: 100%;
    padding: 8%;

    @media (width <= 768PX) {
      padding: 30px;
    }

    &--1 {
      display: flex;
    }

    &--3 {
      padding: 30px;
    }
  }
}

.victory {
  //display: flex;
  //flex-direction: column;
  //justify-content: space-between;
  //align-items: flex-start;
  text-align: center;

  width: 33.33%;
  padding: 15px 20px;

  cursor: pointer;

  border-radius: 20px;

  .safari & {
    @media (width <= 768PX) {
      width: 50%;
      float: left;
    }
  }

  &__btn {
    opacity: 0;
    margin-top: 10px;
    display: inline-block;
  }

  @media (width > 768px) {
    &:hover {
      position: relative;
      z-index: 2;

      box-shadow: 0 0px 30px 2px rgba(0, 0, 0, 0.25);

      .victory__btn {
        opacity: 1;
      }
    }
  }

  &-list {
    display: flex !important;
    overflow-y: auto;
    flex-wrap: wrap;

    .safari & {
      @media (width <= 768PX) {
        display: block;
      }
    }

    margin-top: 20px;
    padding: 30px;

    &.editor {
      overflow-x: hidden;
      flex-direction: row;

      height: 100%;
      max-height: 600px;
      margin-bottom: 0;

      img {
        display: block;

        max-width: 100%;
        margin: auto;
      }
    }
  }
}

.sell {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  width: 100%;
  height: 100%;
  padding: 20px 0 20px 50px;

  border-radius: 0 20px 20px 0;
  background-color: $white;

  @media (max-width: 768PX) {
    border-radius: 0;
  }

  .window-popup__heading {
    margin: 0;

    @media (width <= 768PX) {
      display: block;

      width: 100%;
      margin-bottom: 30px;

      text-align: center;
    }
  }

  &-outer {
    padding: 15px;

    border-radius: 0 20px 20px 0;

    @media (max-width: 768PX) {
      border-radius: 0;
    }
  }

  &__row {
    display: flex;
    justify-content: space-between;

    @media (width <= 768PX) {
      margin-bottom: 20px;
    }
  }

  &__percent {
    min-width: 100px;

    font-family: $OpenSans;
    font-size: 48px;
    font-weight: bold;
    line-height: 1.2;

    &--lightblue {
      color: #00c3ce;
    }

    &--lightorange {
      color: $orange;
    }

    &--darkblue {
      color: #0099ba;
    }

    &--darkorange {
      color: #a64818;
    }
  }

  &__text {
    width: 75%;
    margin: auto 0;
    margin-left: 10px;

    color: rgb(51, 51, 51);

    font-family: $OpenSans;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.2;
  }
  .simplebar-scroll-content, .simplebar-content{
    height: 100%;
  }
  .content-editor__inner {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-right: 50px;
  }
}
