// .window-info
.window-info {
  position: relative;
  z-index: 10;

  display: flex;

  width: 90%;
  max-width: 1170px;
  height: 100%;
  max-height: 650px;
  margin: auto;

  @media (width <= 768PX) {
    position: static;

    display: flex;
    overflow: hidden;
    flex-direction: column;

    width: 90%;
    max-height: none;
    padding: 0;

    border-radius: 20px;
    box-shadow: 0 0 13.8px 2.2px rgba(0, 0, 0, 0.3);
  }

  .safari & {
    @media (width <= 768PX) {
      display: block;
    }
  }

  // .window-info__controls
  &__controls {
    display: flex;
    align-items: center;
    justify-content: space-between;

    // .window-info__controls--mb
    &--mb {
      margin-bottom: 30px;
    }
  }

  // .window-info__heading
  &__heading {
    display: block;

    margin: 0 *;
    margin-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;

    color: $orange;

    font-family: $OpenSans;
    font-size: 30px;
    font-weight: 600;
    line-height: 1.2;

    &--dark {
      color: $grayText;
    }
  }

  // .window-info__list
  &__list {
    position: relative;

    overflow-y: auto;
    overflow-x: hidden;
    flex-grow: 1;

    width: 95%;
    height: 388px;
    margin-bottom: 20px;
    //padding-right: 40px;
  }

  // .window-info__item
  &__item {
    @media (width <= 768PX) {
      .one-block {
        margin-left: 0;
        padding-right: 30px;
        border-radius: 20px !important;
      }
    }

    // .window-info__item--active
    &.active {
      // .window-info__item--active .one-block
      .one-block {
        border-radius: 0 20px 20px 0;
        background-color: rgb(30, 152, 184);
      }
    }
  }


  // .window-info-list
  &-list {
    position: relative;

    overflow: hidden;

    width: 50%;
    height: 94%;
    margin: auto 0;

    border-radius: 0 20px 20px 0;

    @media (width <= 768PX) {
      width: 100%;
      border-radius: 0 0 20px 20px;
    }

    &__block {
      display: flex;
      overflow: hidden;
      flex-direction: column;

      width: 100%;
      height: 100%;

      background-color: $white;

      .btn {
        margin-bottom: 20px;
      }
    }

    &.active {
      border-radius: 20px 0 0 20px;

      @media (width <= 768PX) {
        border-radius: 0 0 20px 20px;
        height: 400px;
      }
    }
  }

  // .window-info-photo
  &-photo {
    position: relative;
    z-index: 3;

    display: flex;
    overflow: hidden;
    flex-direction: column;

    width: 50%;
    height: 100%;

    border-radius: 20px;
    box-shadow: 0 0 50px 0px rgba(0, 0, 0, 0.75);
    @media (width <= 1279PX) {
      border-radius: 20px 0 0 20px;
    }
    @media (width <= 768PX) {
      width: 100%;
      border-radius: 0;
      box-shadow: 6.573px 12.361px 33.6px 1.4px rgba(0, 0, 0, 0.25);
    }

    // .window-info-photo__socials
    &__socials {
      display: flex;
    }

    // .window-info-photo__social
    &__social {
      margin-right: 20px;

      @media (width <= 768PX) {
        text-align: center;
      }

      // .window-info-photo__social a
      a {
        color: $white;

        font-size: 22px;
      }
    }

    // .window-info-photo__img
    &__img {
      width: auto;
      height: 100%;

      @media (width <= 768PX) {
        width: 100%;
        height: auto;
      }
    }

    &.calendar {
      &:after {
        content: none;
      }
    }

    &:after {
      position: absolute 0 0 0 0;

      display: block;

      width: 100%;
      height: 100%;

      content: "";

      box-shadow: inset 0px -300px 400px -100px rgba(0, 0, 0, 0.75);
    }

    .blur-img {
      @media (width <= 768PX) {
        //display: none;
      }
    }

    // .window-info-photo__content
    &__content {
      position: absolute * 0 0 0;
      z-index: 1;

      margin-top: auto;
      padding: 40px;

      @media (width <= 768PX) {
        position: absolute!important;
        min-height: 100%;
        //min-height: 50vh;
        //position: static;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        position: relative;
        &:after {
          content: '';
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          -webkit-box-shadow: inset 0 -127px 101px 4px rgba(0, 0, 0, 0.75);
          -moz-box-shadow: inset 0 -127px 101px 4px rgba(0, 0, 0, 0.75);
          box-shadow: inset 9px -156px 142px 27px rgba(0, 0, 0, 0.4);
          z-index: -2;
        }
      }
      @media (width <= 768PX) and (height <= 480PX) {
        min-height: 100vh;
        background-position: center 10%;
      }

      @media (width > 769PX) {
        background: none !important;
      }
    }

    // .window-info-photo__h2
    &__h2 {
      display: block;

      margin-top: auto;
      margin-bottom: 15px;

      text-transform: capitalize;

      color: $white;

      font-family: $OpenSans;
      font-size: 36px;
      font-weight: bold;
      line-height: 1.2;
    }

    // .window-info-photo__p
    &__p {
      margin: 0;
      margin-bottom: 25px;

      color: $white;

      font-family: $OpenSans;
      font-size: 16px;
      font-weight: bold;
      line-height: 1.2;
    }

    // .window-info-photo__img__descr
    &__descr {
      margin: 0;
      margin-bottom: 20px;
      color: $white;

      font-family: $OpenSans;
      font-size: 16px;
      line-height: 1.2;
      a{
        display: inline-block;
        vertical-align: middle;
      }
    }
  }
}

// .one-block 
.one-block {
  display: flex;
  flex-direction: row;

  padding: 18px *;
  padding-left: 30px;
  padding-right: 15px;
  border-radius: 0 20px 20px 0;

  &:hover {
    background-color: #f3f3f3;
  }

  // .one-block__left
  &__left {
    margin-right: 30px;

    .safari & {
      @media (width <= 768px) {
        min-width: 50px;
      }
    }

    // .one-block__left img
    img {
      border-radius: 50%;

      size: 70px;
    }
  }
  //.one-block__right
  &__right {
    padding: 0 15px 0 0;
  }
  // .one-block__h3
  &__h3 {
    margin-bottom: 15px;

    color: #4c3a3a;

    font-family: $OpenSans;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.2;

    // .window-info__item--active .one-block h3 
    .active & {
      color: $white;
    }
  }

  &__date {
    margin-bottom: 10px;

    color: #4c3a3a;

    font-family: $OpenSans;
    font-size: 16px;
    line-height: 1.2;

    .active & {
      color: $white;
    }
  }

  // .one-block__p
  &__p {
    color: #4c3a3a;

    font-family: $OpenSans;
    font-size: 16px;
    line-height: 1.2;

    // .window-info__item--active .one-block__p
    .active & {
      color: $white;
    } 
    
    p {
      margin: 0;
    }
  }
}
#partners{
  .window-info-photo{
    &:before{
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.34);
      left: 0;
      top: 0;
      z-index: 1;
    }
  }
}
// #our-teachers::-webkit-scrollbar-track,
// #our-partners::-webkit-scrollbar-track {
//   background-color: #d5d5d5;
// }

// #our-teachers::-webkit-scrollbar,
// #our-partners::-webkit-scrollbar {
//   width: 5px;
// }

// #our-teachers::-webkit-scrollbar-thumb,
// #our-partners::-webkit-scrollbar-thumb {
//   background-color: $orange;
// }

.window-btn {
  display: block;

  margin-left: 30px;
  padding: 20px 40px;

  cursor: pointer;

  color: $white;
  border: none;
  border-radius: 10px;
  background-color: rgb(234, 102, 34);
  box-shadow: 0 0px 13.76px 2.24px rgba(0, 0, 0, 0.3);

  font-family: $OpenSans;
  font-size: 20px;
  font-weight: bold;

  &--white {
    color: $blue;
    background-color: $white;
  }
}

#events {
  @media (max-width: 768PX) {
    overflow: hidden !important;

    height: 100%;
    max-height: none;
  }
}
.content-editor__inner{
  padding-right: 15px;
}
.victory-list {
  padding: 3em 0;
  margin-top: 2rem;
  .content-editor__inner{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
}
