//.window-calendar-one
.window-calendar-one {
  position: relative;
  z-index: 10;

  display: flex;
  overflow: hidden;

  width: 100%;
  max-width: 1170px;
  height: 100%;
  max-height: 650px;
  margin: auto;

  //.window-calendar-one-left
  &-left {
    display: flex;
    overflow: hidden;
    flex-direction: column;

    width: 50%;
    height: 100%;

    border-radius: 20px;
    background-color: #ccc;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  //.window-calendar-one-right
  &-right {
    width: 50%;
    height: 94%;
    margin: auto 0;

    border-radius: 0 20px 20px 0;
    background-color: #fff;
  }
}
