#partner-photo {
  background-image: url(../img/index/artjoker.png);
}

.window-info-photo {
  display: block;
  overflow: hidden;

  width: 100%;
  height: 100%;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
//.course-about
.window-about {
  display: flex;
  flex-direction: column;

  max-height: 100%;

  //.course-about__heading
  &__heading {
    display: block;

    margin-top: 0;
    margin-bottom: 40px;

    text-transform: uppercase;

    color: $orange;

    font-family: $OpenSans;
    font-size: 36px;
    font-weight: bold;

    @media (width <= 768PX) {
      display: block;

      text-align: center;
    }
  }
}

//.content-editor
.content-editor {
  display: block;
  overflow-x: hidden;
  overflow-y: auto;

  width: 100%;
  max-height: 400px;
  //padding-right: 5%;

  img {
    display: block;

    margin: auto;
    margin-top: 25px;
    margin-bottom: 15px;
  }

  span {
    width: 100%;
    margin: 25px 0;

    text-align: center;

    color: $gray;

    font-family: $OpenSans;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.2;
  }


  //.content-editor p
  p {
    text-align: left;

    color: $darkBlack;

    font-family: $OpenSans;
    font-size: 18px;
  }

  //.content-editor ul
  ul {
    //.content-editor ul li
    li {
      text-align: left;

      color: $darkBlack;

      font-family: $OpenSans;
      font-size: 18px;
    }
  }
}

//#events::-webkit-scrollbar-track {
//  background-color: #d5d5d5;
//}
//
//#events::-webkit-scrollbar {
//  width: 5px;
//}
//
//#events::-webkit-scrollbar-thumb {
//  background-color: #197f9a;
//}
//
//#calendar-full-descr::-webkit-scrollbar-track {
//  background-color: #197f9a;
//}
//
//#calendar-full-descr::-webkit-scrollbar {
//  width: 5px;
//}
//
//#calendar-full-descr::-webkit-scrollbar-thumb {
//  background-color: $white;
//}
//
//#editor::-webkit-scrollbar-track,
//#editor-popup::-webkit-scrollbar-track,
//#editor-victory::-webkit-scrollbar-track,
//#editor-about::-webkit-scrollbar-track {
//  background-color: #aeaeae;
//}
//
//#editor::-webkit-scrollbar,
//#editor-popup::-webkit-scrollbar,
//#editor-victory::-webkit-scrollbar,
//#editor-about::-webkit-scrollbar {
//  width: 5px;
//}
//
//#editor::-webkit-scrollbar-thumb,
//#editor-popup::-webkit-scrollbar-thumb,
//#editor-victory::-webkit-scrollbar-thumb,
//#editor-about::-webkit-scrollbar-thumb {
//  background-color: #000;
//}

#editor-about img {
  border-radius: 50%;
}
