%button {
  display: flex;
  align-items: center;

  margin-bottom: 10px;
  padding: 15px;

  transition: opacity 0.3s linear;
  text-align: center;

  color: $white;
  box-shadow: $button-dark-shadow;

  font-size: 20px;

  img {
    margin-right: 20px;
  }

  &:hover {
    opacity: 0.8;
  }
}

%icon-white {
  color: $white;
}
