.loading {
  overflow: hidden;
  height: 100vh;
}
.preloader {
  position: fixed 0 0 0 0;
  z-index: 10000;

  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  background-color: $white;
  background-image: url("../img/preloader.jpg");
  background-position: center center;
  background-size: cover;

  &__gear {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    width: 100px;
    margin: auto;
    padding-top: 50px;

    @media (width <= 768PX) {
      width: 70px;
    }
  }
}
