//.course-about
.course-about {
  display: flex;
  flex-direction: column;

  max-height: 100%;
  padding-bottom: 5%;

  //.course-about__heading
  &__heading {
    display: block;

    margin-top: 10%;
    margin-bottom: 10%;

    text-align: center;
    text-transform: uppercase;

    color: $orange;

    font-family: $OpenSans;
    font-size: 36px;
    font-weight: bold;
  }
}

//

.orange-btn {
  display: block;

  width: 250px;
  height: 50px;
  margin-left: 5%;

  cursor: pointer;
  text-align: center;

  color: $white;
  border: none;
  border-radius: 10px;
  background-color: $orange;

  font-family: $OpenSans;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.2;
}
