/**
 *
 * Apply your custom CSS here
 *
*/

.js_clients_phones{
    padding-bottom: 10px;
}

.img-section{
    height: 100%;
}

#photo_img{
    width: 100px;
    height: 100px;
}

.js_image_link{
    width: 100px;
    height: 100px;
}

