.transall, .form-wizard > .tabs > li a, .form-wizard > .tabs > li a:after, .droppable-area.dz-drag-hover {
    -webkit-transition: all 220ms ease-in-out;
    -moz-transition: all 220ms ease-in-out;
    -o-transition: all 220ms ease-in-out;
    transition: all 220ms ease-in-out
}

.clearfix:before, .clearfix:after, .icheck-skins:before, .icheck-skins:after, .form-wizard:before, .form-wizard:after {
    content: " ";
    display: table
}

.clearfix:after, .icheck-skins:after, .form-wizard:after {
    clear: both
}

div.datepicker {
    padding: 4px;
    -webkit-border-radius: 0;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 0;
    -moz-background-clip: padding;
    border-radius: 0;
    background-clip: padding-box;
    direction: ltr
}

div.datepicker-inline {
    width: 206px
}

div.datepickerdiv.datepicker-rtl {
    direction: rtl
}

div.datepickerdiv.datepicker-rtl table tr td span {
    float: right
}

div.datepicker-dropdown {
    top: 0;
    left: 0
}

div.datepicker-dropdown:before {
    content: '';
    display: inline-block;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #e4e4e4;
    border-top: 0;
    border-bottom-color: #e4e4e4;
    position: absolute
}

div.datepicker-dropdown:after {
    content: '';
    display: inline-block;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #fff;
    border-top: 0;
    position: absolute
}

div.datepicker-dropdown.datepicker-orient-left:before {
    left: 6px
}

div.datepicker-dropdown.datepicker-orient-left:after {
    left: 7px
}

div.datepicker-dropdown.datepicker-orient-right:before {
    right: 6px
}

div.datepicker-dropdown.datepicker-orient-right:after {
    right: 7px
}

div.datepicker-dropdown.datepicker-orient-top:before {
    top: -7px
}

div.datepicker-dropdown.datepicker-orient-top:after {
    top: -6px
}

div.datepicker-dropdown.datepicker-orient-bottom:before {
    bottom: -7px;
    border-bottom: 0;
    border-top: 7px solid #e4e4e4
}

div.datepicker-dropdown.datepicker-orient-bottom:after {
    bottom: -6px;
    border-bottom: 0;
    border-top: 6px solid #fff
}

div.datepicker > div {
    display: none
}

div.datepicker.days div.datepicker-days {
    display: block
}

div.datepicker.months div.datepicker-months {
    display: block
}

div.datepicker.years div.datepicker-years {
    display: block
}

div.datepicker table {
    margin: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

div.datepicker td, div.datepicker th {
    text-align: center;
    width: 20px;
    height: 20px;
    -webkit-border-radius: 0;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 0;
    -moz-background-clip: padding;
    border-radius: 0;
    background-clip: padding-box;
    border: none
}

.table-striped div.datepicker table tr td, .table-striped div.datepicker table tr th {
    background-color: transparent
}

div.datepicker table tr td.day {
    color: #646565
}

div.datepicker table tr td.day:hover {
    background: #f5f5f5;
    cursor: pointer;
    color: #2c2e2f
}

div.datepicker table tr td.old, div.datepicker table tr td.new {
    color: #b1b1b1
}

div.datepicker table tr td.disabled, div.datepicker table tr td.disabled:hover {
    background: 0 0;
    color: #777;
    color: #979898;
    cursor: default
}

div.datepicker table tr td.today, div.datepicker table tr td.today:hover, div.datepicker table tr td.today.disabled, div.datepicker table tr td.today.disabled:hover {;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    color: #000
}

div.datepicker table tr td.today.switch-left, div.datepicker table tr td.today:hover.switch-left, div.datepicker table tr td.today.disabled.switch-left, div.datepicker table tr td.today.disabled:hover.switch-left {
    background-color: #76797e;
    color: #fff
}

div.datepicker table tr td.today.switch-right, div.datepicker table tr td.today:hover.switch-right, div.datepicker table tr td.today.disabled.switch-right, div.datepicker table tr td.today.disabled:hover.switch-right {
    background-color: #f5f5f5;
    color: #979898
}

div.datepicker table tr td.today.switch-right:hover, div.datepicker table tr td.today:hover.switch-right:hover, div.datepicker table tr td.today.disabled.switch-right:hover, div.datepicker table tr td.today.disabled:hover.switch-right:hover {
    background-color: #f5f5f5;
    color: #979898
}

div.datepicker table tr td.today:hover, div.datepicker table tr td.today:hover:hover, div.datepicker table tr td.today.disabled:hover, div.datepicker table tr td.today.disabled:hover:hover, div.datepicker table tr td.today:focus, div.datepicker table tr td.today:hover:focus, div.datepicker table tr td.today.disabled:focus, div.datepicker table tr td.today.disabled:hover:focus, div.datepicker table tr td.today:active, div.datepicker table tr td.today:hover:active, div.datepicker table tr td.today.disabled:active, div.datepicker table tr td.today.disabled:hover:active, div.datepicker table tr td.today.active, div.datepicker table tr td.today:hover.active, div.datepicker table tr td.today.disabled.active, div.datepicker table tr td.today.disabled:hover.active, div.datepicker table tr td.today.disabled, div.datepicker table tr td.today:hover.disabled, div.datepicker table tr td.today.disabled.disabled, div.datepicker table tr td.today.disabled:hover.disabled, div.datepicker table tr td.today[disabled], div.datepicker table tr td.today:hover[disabled], div.datepicker table tr td.today.disabled[disabled], div.datepicker table tr td.today.disabled:hover[disabled] {
    color: #fff;
}

div.datepicker table tr td.today:active, div.datepicker table tr td.today:hover:active, div.datepicker table tr td.today.disabled:active, div.datepicker table tr td.today.disabled:hover:active, div.datepicker table tr td.today.active, div.datepicker table tr td.today:hover.active, div.datepicker table tr td.today.disabled.active, div.datepicker table tr td.today.disabled:hover.active {
    background-color: #5d5f64 \9
}

div.datepicker table tr td.today:hover:hover {
    color: #000
}

div.datepicker table tr td.today.active:hover {
    color: #fff
}

div.datepicker table tr td.range, div.datepicker table tr td.range:hover, div.datepicker table tr td.range.disabled, div.datepicker table tr td.range.disabled:hover {
    background: #eee;
    -webkit-border-radius: 0;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 0;
    -moz-background-clip: padding;
    border-radius: 0;
    background-clip: padding-box
}

div.datepicker table tr td.range.today, div.datepicker table tr td.range.today:hover, div.datepicker table tr td.range.today.disabled, div.datepicker table tr td.range.today.disabled:hover {;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    -webkit-border-radius: 0;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 0;
    -moz-background-clip: padding;
    border-radius: 0;
    background-clip: padding-box
}

div.datepicker table tr td.range.today.switch-left, div.datepicker table tr td.range.today:hover.switch-left, div.datepicker table tr td.range.today.disabled.switch-left, div.datepicker table tr td.range.today.disabled:hover.switch-left {
    background-color: #f3ea7a;
    color: #fff
}

div.datepicker table tr td.range.today.switch-right, div.datepicker table tr td.range.today:hover.switch-right, div.datepicker table tr td.range.today.disabled.switch-right, div.datepicker table tr td.range.today.disabled:hover.switch-right {
    background-color: #f5f5f5;
    color: #979898
}

div.datepicker table tr td.range.today.switch-right:hover, div.datepicker table tr td.range.today:hover.switch-right:hover, div.datepicker table tr td.range.today.disabled.switch-right:hover, div.datepicker table tr td.range.today.disabled:hover.switch-right:hover {
    background-color: #f5f5f5;
    color: #979898
}

div.datepicker table tr td.range.today:hover, div.datepicker table tr td.range.today:hover:hover, div.datepicker table tr td.range.today.disabled:hover, div.datepicker table tr td.range.today.disabled:hover:hover, div.datepicker table tr td.range.today:focus, div.datepicker table tr td.range.today:hover:focus, div.datepicker table tr td.range.today.disabled:focus, div.datepicker table tr td.range.today.disabled:hover:focus, div.datepicker table tr td.range.today:active, div.datepicker table tr td.range.today:hover:active, div.datepicker table tr td.range.today.disabled:active, div.datepicker table tr td.range.today.disabled:hover:active, div.datepicker table tr td.range.today.active, div.datepicker table tr td.range.today:hover.active, div.datepicker table tr td.range.today.disabled.active, div.datepicker table tr td.range.today.disabled:hover.active, div.datepicker table tr td.range.today.disabled, div.datepicker table tr td.range.today:hover.disabled, div.datepicker table tr td.range.today.disabled.disabled, div.datepicker table tr td.range.today.disabled:hover.disabled, div.datepicker table tr td.range.today[disabled], div.datepicker table tr td.range.today:hover[disabled], div.datepicker table tr td.range.today.disabled[disabled], div.datepicker table tr td.range.today.disabled:hover[disabled] {
    color: #fff;
}

div.datepicker table tr td.range.today:active, div.datepicker table tr td.range.today:hover:active, div.datepicker table tr td.range.today.disabled:active, div.datepicker table tr td.range.today.disabled:hover:active, div.datepicker table tr td.range.today.active, div.datepicker table tr td.range.today:hover.active, div.datepicker table tr td.range.today.disabled.active, div.datepicker table tr td.range.today.disabled:hover.active {
    background-color: #efe24b \9
}

div.datepicker table tr td.selected, div.datepicker table tr td.selected:hover, div.datepicker table tr td.selected.disabled, div.datepicker table tr td.selected.disabled:hover {;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .25)
}

div.datepicker table tr td.selected.switch-left, div.datepicker table tr td.selected:hover.switch-left, div.datepicker table tr td.selected.disabled.switch-left, div.datepicker table tr td.selected.disabled:hover.switch-left {
    background-color: #5e5e5e;
    color: #fff
}

div.datepicker table tr td.selected.switch-right, div.datepicker table tr td.selected:hover.switch-right, div.datepicker table tr td.selected.disabled.switch-right, div.datepicker table tr td.selected.disabled:hover.switch-right {
    background-color: #f5f5f5;
    color: #979898
}

div.datepicker table tr td.selected.switch-right:hover, div.datepicker table tr td.selected:hover.switch-right:hover, div.datepicker table tr td.selected.disabled.switch-right:hover, div.datepicker table tr td.selected.disabled:hover.switch-right:hover {
    background-color: #f5f5f5;
    color: #979898
}

div.datepicker table tr td.selected:hover, div.datepicker table tr td.selected:hover:hover, div.datepicker table tr td.selected.disabled:hover, div.datepicker table tr td.selected.disabled:hover:hover, div.datepicker table tr td.selected:focus, div.datepicker table tr td.selected:hover:focus, div.datepicker table tr td.selected.disabled:focus, div.datepicker table tr td.selected.disabled:hover:focus, div.datepicker table tr td.selected:active, div.datepicker table tr td.selected:hover:active, div.datepicker table tr td.selected.disabled:active, div.datepicker table tr td.selected.disabled:hover:active, div.datepicker table tr td.selected.active, div.datepicker table tr td.selected:hover.active, div.datepicker table tr td.selected.disabled.active, div.datepicker table tr td.selected.disabled:hover.active, div.datepicker table tr td.selected.disabled, div.datepicker table tr td.selected:hover.disabled, div.datepicker table tr td.selected.disabled.disabled, div.datepicker table tr td.selected.disabled:hover.disabled, div.datepicker table tr td.selected[disabled], div.datepicker table tr td.selected:hover[disabled], div.datepicker table tr td.selected.disabled[disabled], div.datepicker table tr td.selected.disabled:hover[disabled] {
    color: #fff;
}

div.datepicker table tr td.selected:active, div.datepicker table tr td.selected:hover:active, div.datepicker table tr td.selected.disabled:active, div.datepicker table tr td.selected.disabled:hover:active, div.datepicker table tr td.selected.active, div.datepicker table tr td.selected:hover.active, div.datepicker table tr td.selected.disabled.active, div.datepicker table tr td.selected.disabled:hover.active {
    background-color: #444 \9
}

div.datepicker table tr td.active, div.datepicker table tr td.active:hover, div.datepicker table tr td.active.disabled, div.datepicker table tr td.active.disabled:hover {
    background: #68b828;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .25)
}

div.datepicker table tr td span {
    display: block;
    width: 23%;
    height: 54px;
    line-height: 54px;
    float: left;
    margin: 1%;
    cursor: pointer;
    -webkit-border-radius: 0;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 0;
    -moz-background-clip: padding;
    border-radius: 0;
    background-clip: padding-box
}

div.datepicker table tr td span:hover {
    background: #f5f5f5
}

div.datepicker table tr td span.disabled, div.datepicker table tr td span.disabled:hover {
    background: 0 0;
    color: #777;
    cursor: default
}

div.datepicker table tr td span.active, div.datepicker table tr td span.active:hover, div.datepicker table tr td span.active.disabled, div.datepicker table tr td span.active.disabled:hover {
    background: #68b828;
    color: #fff
}

div.datepicker table tr td span.old, div.datepicker table tr td span.new {
    color: #b1b1b1
}

div.datepicker th.datepicker-switch {
    width: 145px
}

div.datepicker thead tr:first-child th, div.datepicker tfoot tr th {
    cursor: pointer
}

div.datepicker thead tr:first-child th.datepicker-switch, div.datepicker tfoot tr th.datepicker-switch {
    color: #2c2e2f
}

div.datepicker thead tr:first-child th:hover, div.datepicker tfoot tr th:hover {
    background: #f5f5f5
}

div.datepicker .cw {
    font-size: 10px;
    width: 12px;
    padding: 0 2px 0 5px;
    vertical-align: middle
}

div.datepicker thead tr:first-child th.cw {
    cursor: default;
    background-color: transparent
}

.input-append.date .add-on i, .input-prepend.date .add-on i {
    display: block;
    cursor: pointer;
    width: 16px;
    height: 16px
}

.input-daterange input {
    text-align: center
}

.input-daterange input:first-child {
    -webkit-border-radius: 0;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 0;
    -moz-background-clip: padding;
    border-radius: 0;
    background-clip: padding-box
}

.input-daterange input:last-child {
    -webkit-border-radius: 0;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 0;
    -moz-background-clip: padding;
    border-radius: 0;
    background-clip: padding-box
}

.input-daterange .add-on {
    display: inline-block;
    width: auto;
    min-width: 16px;
    height: 1.42857143;
    padding: 4px 5px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    text-shadow: 0 1px 0 #fff;
    vertical-align: middle;
    background-color: #eee;
    border: 1px solid #ccc;
    margin-left: -5px;
    margin-right: -5px
}

.datepicker-inline {
    border: 1px solid #e4e4e4
}

.datepicker-inline.no-border {
    border-color: transparent
}

.datepicker-inline table {
    width: 195px
}

.no-border .datepicker-inline {
    border: 0;
    padding: 0
}

.input-group-addon .color-preview {
    width: 16px;
    height: 16px;
    background: #FFF;
    display: inline-block;
    border: 1px solid #e4e4e4
}

.dropdown-menu.daterangepicker {
    background: #fafafa;
    border-color: #e4e4e4;
    -webkit-border-radius: 0;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 0;
    -moz-background-clip: padding;
    border-radius: 0;
    background-clip: padding-box
}

.dropdown-menu.daterangepicker:has(.ranges) .calendar {
    display: none
}

.dropdown-menu.daterangepicker.opensright:before {
    border-right: 7px solid transparent;
    border-bottom: 7px solid #e4e4e4;
    border-left: 7px solid transparent;
    border-bottom-color: #e4e4e4
}

.dropdown-menu.daterangepicker.opensright:after {
    border-right: 6px solid transparent;
    border-bottom: 6px solid #fafafa;
    border-left: 6px solid transparent
}

.dropdown-menu.daterangepicker .calendar-time {
    background: #fff;
    border: 1px solid #e4e4e4;
    border-color: #e4e4e4;
    -webkit-border-radius: 0;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 0;
    -moz-background-clip: padding;
    border-radius: 0;
    background-clip: padding-box
}

.dropdown-menu.daterangepicker .no-border-radius {
    border-color: #e4e4e4;
    -webkit-border-radius: 0;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 0;
    -moz-background-clip: padding;
    border-radius: 0;
    background-clip: padding-box
}

.dropdown-menu.daterangepicker .range_inputs input {
    color: #979898;
    outline: 0
}

.dropdown-menu.daterangepicker .calendar-date, .dropdown-menu.daterangepicker .range_inputs input, .dropdown-menu.daterangepicker table > thead > tr > th, .dropdown-menu.daterangepicker table > thead > tr > td, .dropdown-menu.daterangepicker table > tbody > tr > th, .dropdown-menu.daterangepicker table > tbody > tr > td, .dropdown-menu.daterangepicker table > tbody > tr > td.start-date.end-date {
    border-color: #e4e4e4;
    -webkit-border-radius: 0;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 0;
    -moz-background-clip: padding;
    border-radius: 0;
    background-clip: padding-box
}

.dropdown-menu.daterangepicker .calendar-date table > thead th {
    color: #979898
}

.dropdown-menu.daterangepicker .calendar-date table > thead .month {
    color: #2c2e2f
}

.dropdown-menu.daterangepicker .calendar-date table > thead .next i:before, .dropdown-menu.daterangepicker .calendar-date table > thead .prev i:before {
    font-family: fontawesome;
    content: '\f105';
    font-size: 11px
}

.dropdown-menu.daterangepicker .calendar-date table > thead .next.prev i:before, .dropdown-menu.daterangepicker .calendar-date table > thead .prev.prev i:before {
    content: '\f104'
}

.dropdown-menu.daterangepicker .calendar-date table > thead .next:hover, .dropdown-menu.daterangepicker .calendar-date table > thead .prev:hover {
    background-color: #f5f5f5
}

.dropdown-menu.daterangepicker .calendar-date table > tbody > tr > td {
    color: #979898;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.dropdown-menu.daterangepicker .calendar-date table > tbody > tr > td:hover {
    background-color: #f5f5f5
}

.dropdown-menu.daterangepicker .calendar-date table > tbody > tr > td.available {
    color: #7d7f7f
}

.dropdown-menu.daterangepicker .calendar-date table > tbody > tr > td.off {
    color: #bdbebe
}

.dropdown-menu.daterangepicker .calendar-date table > tbody > tr > td.disabled {
    background-color: #fafafa;
    color: #bdbebe;
    cursor: not-allowed
}

.dropdown-menu.daterangepicker .calendar-date table > tbody > tr > td.in-range {
    background-color: rgba(104, 184, 40, .1)
}

.dropdown-menu.daterangepicker .calendar-date table > tbody > tr > td.active {
    background-color: #68b828;
    color: #fff
}

.dropdown-menu.daterangepicker .btn-default {
    border-color: #e4e4e4
}

.dropdown-menu.daterangepicker .ranges ul li {
    background: #fff;
    border-color: #e4e4e4;
    color: #979898;
    padding: 4px 8px;
    font-size: 12px;
    text-align: center;
    line-height: 1;
    -webkit-border-radius: 0;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 0;
    -moz-background-clip: padding;
    border-radius: 0;
    background-clip: padding-box
}

.dropdown-menu.daterangepicker .ranges ul li:hover {
    background: #f5f5f5
}

.dropdown-menu.daterangepicker .ranges ul li.active {
    color: #fff;
    background: #68b828;
    border-color: #68b828
}

.daterange-inline {
    background: #f5f5f5;
    border: 1px solid #e4e4e4;
    padding: 10px;
    cursor: pointer
}

.daterange-inline i {
    color: #2c2e2f;
    margin-right: 5px
}

.daterange-inline:hover {
    color: #2c2e2f
}

/*!
 * Timepicker Component for Twitter Bootstrap
 *
 * Copyright 2013 Joris de Wit
 *
 * Contributors https://github.com/jdewit/bootstrap-timepicker/graphs/contributors
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */
.bootstrap-timepicker {
    position: relative
}

.bootstrap-timepicker.pull-right .bootstrap-timepicker-widget.dropdown-menu {
    left: auto;
    right: 0
}

.bootstrap-timepicker.pull-right .bootstrap-timepicker-widget.dropdown-menu:before {
    left: auto;
    right: 12px
}

.bootstrap-timepicker.pull-right .bootstrap-timepicker-widget.dropdown-menu:after {
    left: auto;
    right: 13px
}

.bootstrap-timepicker .add-on {
    cursor: pointer
}

.bootstrap-timepicker .add-on i {
    display: inline-block;
    width: 16px;
    height: 16px
}

.bootstrap-timepicker-widget.dropdown-menu {
    padding: 0
}

.bootstrap-timepicker-widget.dropdown-menu.open {
    display: inline-block
}

.bootstrap-timepicker-widget.dropdown-menu:before {
    border-bottom: 7px solid #e4e4e4;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    content: "";
    display: inline-block;
    position: absolute
}

.bootstrap-timepicker-widget.dropdown-menu:after {
    border-bottom: 6px solid #FFF;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    content: "";
    display: inline-block;
    position: absolute
}

.bootstrap-timepicker-widget.timepicker-orient-left:before {
    left: 6px
}

.bootstrap-timepicker-widget.timepicker-orient-left:after {
    left: 7px
}

.bootstrap-timepicker-widget.timepicker-orient-right:before {
    right: 6px
}

.bootstrap-timepicker-widget.timepicker-orient-right:after {
    right: 7px
}

.bootstrap-timepicker-widget.timepicker-orient-top:before {
    top: -7px
}

.bootstrap-timepicker-widget.timepicker-orient-top:after {
    top: -6px
}

.bootstrap-timepicker-widget.timepicker-orient-bottom:before {
    bottom: -7px;
    border-bottom: 0;
    border-top: 7px solid #e4e4e4
}

.bootstrap-timepicker-widget.timepicker-orient-bottom:after {
    bottom: -6px;
    border-bottom: 0;
    border-top: 6px solid #fff
}

.bootstrap-timepicker-widget a.btn, .bootstrap-timepicker-widget input {
    border-radius: 0
}

.bootstrap-timepicker-widget table {
    width: 100%;
    margin: 0
}

.bootstrap-timepicker-widget table td {
    text-align: center;
    height: 30px;
    margin: 0;
    padding: 2px;
    -webkit-border-radius: 0;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 0;
    -moz-background-clip: padding;
    border-radius: 0;
    background-clip: padding-box
}

.bootstrap-timepicker-widget table td:not(.separator) {
    min-width: 30px
}

.bootstrap-timepicker-widget table td span {
    width: 100%
}

.bootstrap-timepicker-widget table td a {
    border: 1px transparent solid;
    width: 100%;
    display: inline-block;
    margin: 0;
    padding: 0;
    outline: 0;
    color: #979898
}

.bootstrap-timepicker-widget table td a .icon-chevron-up:before {
    font-family: fontawesome;
    content: '\f0d8';
    font-style: normal;
    color: #575858
}

.bootstrap-timepicker-widget table td a .icon-chevron-down:before {
    font-family: fontawesome;
    content: '\f0d7';
    font-style: normal;
    color: #575858
}

.bootstrap-timepicker-widget table td a:hover {
    text-decoration: none;
    background-color: #f5f5f5;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0
}

.bootstrap-timepicker-widget table td a i {
    margin-top: 2px;
    font-size: 18px
}

.bootstrap-timepicker-widget table td input {
    width: 25px;
    margin: 0;
    text-align: center;
    border: 0;
    background: 0 0;
    padding: 0;
    height: auto
}

.bootstrap-timepicker-widget .modal-content {
    padding: 4px
}

@media (min-width: 767px) {
    .bootstrap-timepicker-widget.modal {
        width: 200px;
        margin-left: -100px
    }
}

@media (max-width: 767px) {
    .bootstrap-timepicker {
        width: 100%
    }

    .bootstrap-timepicker .dropdown-menu {
        width: 100%
    }
}

.date-and-time .form-control {
    float: left
}

.date-and-time .form-control + .form-control {
    border-left: 0
}

.date-and-time .form-control.datepicker {
    width: 65%
}

.date-and-time .form-control.timepicker {
    width: 35%
}

/*!
 * Bootstrap Colorpicker
 * http://mjolnic.github.io/bootstrap-colorpicker/
 *
 * Originally written by (c) 2012 Stefan Petre
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0.txt
 *
 */
.colorpicker-saturation {
    width: 100px;
    height: 100px;
    background-image: url(../js/colorpicker/images/saturation.png);
    cursor: crosshair;
    float: left
}

.colorpicker-saturation i {
    display: block;
    height: 5px;
    width: 5px;
    border: 1px solid #000;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    position: absolute;
    top: 0;
    left: 0;
    margin: -4px 0 0 -4px
}

.colorpicker-saturation i b {
    display: block;
    height: 5px;
    width: 5px;
    border: 1px solid #fff;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0
}

.colorpicker-hue, .colorpicker-alpha {
    width: 15px;
    height: 100px;
    float: left;
    cursor: row-resize;
    margin-left: 4px;
    margin-bottom: 4px
}

.colorpicker-hue i, .colorpicker-alpha i {
    display: block;
    height: 1px;
    background: #000;
    border-top: 1px solid #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin-top: -1px
}

.colorpicker-hue {
    background-image: url(../js/colorpicker/images/hue.png)
}

.colorpicker-alpha {
    background-image: url(../js/colorpicker/images/alpha.png);
    display: none
}

div.colorpicker {;
    top: 0;
    left: 0;
    padding: 4px;
    min-width: 130px;
    margin-top: 1px;
    -webkit-border-radius: -1px;
    -moz-border-radius: -1px;
    border-radius: -1px;
    z-index: 2500
}

.colorpicker:before, .colorpicker:after {
    display: table;
    content: "";
    line-height: 0
}

.colorpicker:after {
    clear: both
}

.colorpicker:before {
    content: '';
    display: inline-block;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #e4e4e4;
    border-bottom-color: #dfdfdf;
    position: absolute;
    top: -7px;
    left: 6px
}

.colorpicker:after {
    content: '';
    display: inline-block;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #fff;
    position: absolute;
    top: -6px;
    left: 7px
}

.colorpicker div {
    position: relative
}

.colorpicker.colorpicker-with-alpha {
    min-width: 140px
}

.colorpicker.colorpicker-with-alpha .colorpicker-alpha {
    display: block
}

.colorpicker-color {
    height: 10px;
    margin-top: 5px;
    clear: both;
    background-image: url(../js/colorpicker/images/alpha.png);
    background-position: 0 100%
}

.colorpicker-color div {
    height: 10px
}

.colorpicker-element .input-group-addon i {
    display: block;
    cursor: pointer;
    width: 16px;
    height: 16px
}

.colorpicker.colorpicker-inline {
    position: relative;
    display: inline-block;
    float: none
}

.colorpicker.colorpicker-horizontal {
    width: 110px;
    min-width: 110px;
    height: auto
}

.colorpicker.colorpicker-horizontal .colorpicker-saturation {
    margin-bottom: 4px
}

.colorpicker.colorpicker-horizontal .colorpicker-color {
    width: 100px
}

.colorpicker.colorpicker-horizontal .colorpicker-hue, .colorpicker.colorpicker-horizontal .colorpicker-alpha {
    width: 100px;
    height: 15px;
    float: left;
    cursor: col-resize;
    margin-left: 0;
    margin-bottom: 4px
}

.colorpicker.colorpicker-horizontal .colorpicker-hue i, .colorpicker.colorpicker-horizontal .colorpicker-alpha i {
    display: block;
    height: 15px;
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    border: none;
    margin-top: 0
}

.colorpicker.colorpicker-horizontal .colorpicker-hue {
    background-image: url(../js/colorpicker/images/hue-horizontal.png)
}

.colorpicker.colorpicker-horizontal .colorpicker-alpha {
    background-image: url(../js/colorpicker/images/alpha-horizontal.png)
}

.colorpicker.colorpicker-hidden {
    display: none
}

.colorpicker.colorpicker-visible {
    display: block
}

.colorpicker-inline.colorpicker-visible {
    display: inline-block
}

html .select2-container {
    width: 100%
}

html .select2-container .select2-choice {
    background: #fff !important;
    border-color: #e4e4e4 !important;
    padding: 0;
    height: 35px;
    -webkit-border-radius: 0 !important;
    -webkit-background-clip: padding-box !important;
    -moz-border-radius: 0 !important;
    -moz-background-clip: padding !important;
    border-radius: 0 !important;
    background-clip: padding-box !important;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none
}

html .select2-container .select2-choice .select2-chosen, html .select2-container .select2-choice .select2-search-choice-close, html .select2-container .select2-choice .select2-arrow {
    padding: 0;
    line-height: 35px
}

html .select2-container .select2-choice .select2-chosen {
    margin: 0;
    padding-left: 15px;
    padding-right: 10px;
    margin-right: 35px
}

html .select2-container .select2-choice .select2-search-choice-close {
    margin-right: 20px;
    top: 11px
}

html .select2-container .select2-choice .select2-arrow {
    background: #f5f5f5;
    border-left-color: #e4e4e4;
    text-align: center;
    color: #717272;
    width: 35px;
    -webkit-border-radius: 0;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 0;
    -moz-background-clip: padding;
    border-radius: 0;
    background-clip: padding-box
}

html .select2-container .select2-choice .select2-arrow b {
    background: none !important;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: all 150ms ease-in-out;
    -moz-transition: all 150ms ease-in-out;
    -o-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out
}

html .select2-container .select2-choice .select2-arrow b:before {
    position: relative;
    display: block;
    font-family: FontAwesome;
    content: '\f107'
}

html .select2-container.select2-dropdown-open {
    border-color: #e4e4e4 !important;
    -webkit-border-radius: 0 !important;
    -webkit-background-clip: padding-box !important;
    -moz-border-radius: 0 !important;
    -moz-background-clip: padding !important;
    border-radius: 0 !important;
    background-clip: padding-box !important
}

html .select2-container.select2-dropdown-open .select2-arrow {
    border-left: 1px solid #e4e4e4 !important
}

html .select2-container.select2-dropdown-open .select2-arrow b {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg)
}

html .select2-container.select2-container-multi .select2-choices {
    border: 1px solid #e4e4e4;
    background: #fff;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none
}

html .select2-container.select2-container-multi .select2-choices .select2-search-choice {
    background: #f5f5f5;
    border: 1px solid #e4e4e4;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    -webkit-border-radius: 0;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 0;
    -moz-background-clip: padding;
    border-radius: 0;
    background-clip: padding-box
}

html .select2-container.select2-container-multi .select2-choices .select2-search-choice div {
    color: #7d7f7f
}

html .select2-drop {
    border-top: 1px solid #fff;
    -webkit-border-radius: 0 !important;
    -webkit-background-clip: padding-box !important;
    -moz-border-radius: 0 !important;
    -moz-background-clip: padding !important;
    border-radius: 0 !important;
    background-clip: padding-box !important
}

html .select2-drop.select2-drop-above {
    border: 1px solid #e4e4e4 !important;
    border-top: 1px solid #e4e4e4 !important
}

html .select2-drop.select2-drop-above .select2-search input {
    margin-top: 0
}

html .select2-drop.select2-drop-active {
    border-color: #e4e4e4;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none
}

html .select2-drop .select2-search {
    padding: 0;
    position: relative
}

html .select2-drop .select2-search:after {
    position: absolute;
    content: '\e801';
    font-family: linecons;
    color: #979898;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 10px 15px;
    z-index: 2
}

html .select2-drop .select2-input {
    border: 0;
    background: 0 0;
    padding: 0;
    height: auto;
    padding: 10px 15px;
    padding-right: 45px;
    background-image: none !important;
    border-bottom: 1px solid #e8e8e8;
    position: relative;
    z-index: 1;
    background: #f5f5f5
}

html .select2-drop .select2-results {
    padding: 0;
    margin: 0;
    max-height: 250px
}

html .select2-drop .select2-results.overflow-hidden {
    overflow: hidden;
    position: relative
}

html .select2-drop .select2-results li.select2-result-selectable .select2-result-label {
    color: #7d7f7f;
    padding-left: 15px
}

html .select2-drop .select2-results li.select2-result-unselectable .select2-result-label {
    padding: 8px 15px;
    color: #7d7f7f
}

html .select2-drop .select2-results li.select2-no-results, html .select2-drop .select2-results li.select2-searching {
    padding: 10px 15px;
    color: #979898;
    background: #fff
}

html .select2-drop .select2-results li ul .select2-result-label {
    padding-left: 30px !important
}

html .select2-drop .select2-results li .select2-result-unselectable.select2-disabled {
    border: 0 !important;
    background: #f9f9f9
}

html .select2-drop .select2-results li .select2-result-unselectable.select2-disabled .select2-result-label {
    cursor: not-allowed;
    color: #a4a5a5
}

html .select2-drop .select2-results li .select2-result-selectable .select2-result-label {
    padding: 5px
}

html .select2-drop .select2-results li .select2-result-selectable.select2-highlighted .select2-result-label {
    color: #fff
}

html .select2-drop .select2-results li.select2-highlighted {
    background-color: #68b828
}

html .select2-drop .select2-results li.select2-highlighted .select2-result-label {
    color: #fff
}

.selectboxit-container {
    position: relative;
    display: block;
    vertical-align: top
}

.selectboxit-container .selectboxit-open .selectboxit-arrow-container {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg)
}

.selectboxit-container * {
    font: 14px Helvetica, Arial;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    outline: 0;
    white-space: nowrap
}

.selectboxit-container .selectboxit {
    width: 100% !important;
    cursor: pointer;
    margin: 0;
    padding: 0;
    border-radius: 0;
    overflow: hidden;
    display: block;
    position: relative
}

.selectboxit-container span, .selectboxit-container .selectboxit-options a {
    height: 35px;
    line-height: 35px;
    display: block
}

.selectboxit-container .selectboxit-options a {
    height: 25px;
    line-height: 25px
}

.selectboxit-container .selectboxit:focus {
    outline: 0
}

.selectboxit.selectboxit-disabled, .selectboxit-options .selectboxit-disabled {
    opacity: .65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    cursor: default
}

.selectboxit-text {
    text-indent: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    float: left;
    max-width: 100% !important;
    color: #7d7f7f;
    font-size: 13px
}

.selectboxit .selectboxit-option-icon-container {
    margin-left: 5px
}

.selectboxit-container .selectboxit-options {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    min-width: 100%;;
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    overflow-x: hidden;
    overflow-y: auto;
    cursor: pointer;
    display: none;
    z-index: 9999999999999;
    border-radius: 0;
    text-align: left;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none
}

.selectboxit-option .selectboxit-option-anchor {
    padding: 0 10px
}

.selectboxit-option .selectboxit-option-anchor:hover {
    text-decoration: none
}

.selectboxit-option, .selectboxit-optgroup-header {
    text-indent: 5px;
    margin: 0;
    list-style-type: none
}

.selectboxit-option-first {
    border-top-right-radius: 0;
    border-top-left-radius: 0
}

.selectboxit-optgroup-header + .selectboxit-option-first {
    border-top-right-radius: 0;
    border-top-left-radius: 0
}

.selectboxit-option-last {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0
}

.selectboxit-optgroup-header {
    font-weight: 700
}

.selectboxit-optgroup-header:hover {
    cursor: default
}

.selectboxit-arrow-container {
    width: 30px;
    position: absolute;
    right: 0;
    -webkit-transition: all 220ms ease-in-out;
    -moz-transition: all 220ms ease-in-out;
    -o-transition: all 220ms ease-in-out;
    transition: all 220ms ease-in-out
}

.selectboxit .selectboxit-arrow-container .selectboxit-arrow {
    margin: 0 auto;
    position: absolute;
    top: 10px;
    right: 10px;
    left: 0
}

.selectboxit .selectboxit-arrow-container .selectboxit-arrow.ui-icon {
    top: 30%
}

.selectboxit-option-icon-container {
    float: left
}

.selectboxit-container .selectboxit-option-icon {
    margin: 0;
    padding: 0;
    vertical-align: middle
}

.selectboxit-option-icon-url {
    width: 18px;
    background-size: 18px 18px;
    background-repeat: no-repeat;
    height: 100%;
    background-position: center;
    float: left
}

.selectboxit-rendering {
    display: inline-block !important;;
    zoom: 1 !important;
    visibility: visible !important;
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important
}

.jqueryui .ui-icon {
    background-color: inherit
}

.jqueryui .ui-icon-triangle-1-s {
    background-position: -64px -16px
}

.selectboxit-btn {
    background-color: #fff;
    background-repeat: repeat-x;
    border: 1px solid #e4e4e4
}

.selectboxit-btn.selectboxit-enabled:hover, .selectboxit-btn.selectboxit-enabled:focus, .selectboxit-btn.selectboxit-enabled:active {
    color: #2c2e2f
}

.selectboxit-btn.selectboxit-enabled:hover, .selectboxit-btn.selectboxit-enabled:focus {
    color: #2c2e2f;
    text-decoration: none;
    background-position: 0 -15px
}

.selectboxit-default-arrow {
    width: 0;
    height: 0
}

.selectboxit-default-arrow:before {
    display: block;
    content: '\f107';
    font-family: FontAwesome
}

.selectboxit-list {
    background-color: #fff;
    border: 1px solid #e4e4e4;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    width: 100%;
    max-height: 250px
}

.selectboxit-list.ps-container {
    overflow: hidden
}

.selectboxit-list .selectboxit-option-anchor {
    color: #717272;
    font-size: 13px
}

.selectboxit-list > .selectboxit-focus > .selectboxit-option-anchor {
    color: #fff;
    background-color: #68b828;
    background-repeat: repeat-x
}

.selectboxit-list > .selectboxit-disabled > .selectboxit-option-anchor {
    color: #999
}

.bootstrap-tagsinput {
    background-color: #fff;
    border: 1px solid #e4e4e4;
    display: block;
    padding: 4px 6px;
    color: #7d7f7f;
    vertical-align: middle;
    max-width: 100%;
    line-height: 22px;
    cursor: text
}

.bootstrap-tagsinput input {
    border: none;
    box-shadow: none;
    outline: 0;
    background-color: transparent;
    padding: 0;
    margin: 0;
    width: auto !important;
    max-width: inherit
}

.bootstrap-tagsinput input:focus {
    border: none;
    box-shadow: none
}

.bootstrap-tagsinput .tag {
    margin-right: 2px;
    color: #fff
}

.bootstrap-tagsinput .tag [data-role=remove] {
    margin-left: 8px;
    cursor: pointer
}

.bootstrap-tagsinput .tag [data-role=remove]:after {
    content: "x";
    padding: 0 2px
}

.bootstrap-tagsinput .tag [data-role=remove]:hover {
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 2px rgba(0, 0, 0, .05)
}

.bootstrap-tagsinput .tag [data-role=remove]:hover:active {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125)
}

span.twitter-typeahead {
    width: 100%
}

span.twitter-typeahead .tt-dropdown-menu {
    background: #fff;
    border: 1px solid #e4e4e4;
    width: 100%;
    margin-top: -1px;
    max-height: 250px;
    overflow: auto
}

span.twitter-typeahead .tt-suggestion.tt-cursor {
    background-color: #fafafa
}

span.twitter-typeahead .tt-hint {
    color: #cacbcb
}

span.twitter-typeahead .empty-message {
    padding: 5px 13px;
    color: #bdbebe
}

span.twitter-typeahead .tt-suggestion > p {
    padding: 5px 13px
}

span.twitter-typeahead .tt-suggestion > p .tt-highlight {
    color: #7d7f7f
}

span.twitter-typeahead .tt-suggestion > p:hover, span.twitter-typeahead .tt-suggestion > p:focus {
    background: #fafafa;
    cursor: pointer
}

.input-group span.twitter-typeahead {
    display: block !important
}

.input-group span.twitter-typeahead .tt-dropdown-menu {
    top: 32px !important
}

.input-group.input-group-lg span.twitter-typeahead .tt-dropdown-menu {
    top: 44px !important
}

.input-group.input-group-sm span.twitter-typeahead .tt-dropdown-menu {
    top: 28px !important
}

.ms-container {
    -webkit-background-size: 21px !important;
    -moz-background-size: 21px !important;
    background-size: 21px !important
}

@media screen and (max-width: 768px) {
    .ms-container {
        width: 100% !important
    }
}

.ms-container > div > .ms-list {
    border-color: #e4e4e4 !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    -webkit-border-radius: 0;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 0;
    -moz-background-clip: padding;
    border-radius: 0;
    background-clip: padding-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden
}

.ms-container > div > .ms-list:active {
    border-color: #cbcbcb !important
}

.ms-container > div > .ms-list li {
    display: block;
    width: 100%
}

.ms-container > div > .ms-list li span {
    font-size: 13px
}

.ms-container > div > .ms-list li.ms-hover {
    background-color: #68b828
}

.icheck-list {
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none
}

.icheck-list > li {
    display: block;
    margin-bottom: 10px
}

.icheck-list > li:last-child {
    margin-bottom: 0
}

.icheck-list > li div + label {
    position: relative;
    top: 1px;
    margin-left: 5px
}

.icheck-skins {
    display: block;
    margin-top: 10px
}

.icheck-skins a {
    display: inline-block;
    border: 1px solid transparent;
    background: #333;
    -webkit-transition: all 450ms cubic-bezier(0.175, .885, .32, 1.275);
    -moz-transition: all 450ms cubic-bezier(0.175, .885, .32, 1.275);
    -o-transition: all 450ms cubic-bezier(0.175, .885, .32, 1.275);
    transition: all 450ms cubic-bezier(0.175, .885, .32, 1.275);
    width: 20px;
    height: 20px;
    margin-right: 5px
}

.icheck-skins a[data-color-class=red] {
    background-color: #d54e21
}

.icheck-skins a[data-color-class=green] {
    background-color: #1b7e5a
}

.icheck-skins a[data-color-class=blue] {
    background-color: #2489c5
}

.icheck-skins a[data-color-class=aero] {
    background-color: #9cc2cb
}

.icheck-skins a[data-color-class=grey] {
    background-color: #73716e
}

.icheck-skins a[data-color-class=orange] {
    background-color: #f70
}

.icheck-skins a[data-color-class=yellow] {
    background-color: #fc3
}

.icheck-skins a[data-color-class=pink] {
    background-color: #a77a94
}

.icheck-skins a[data-color-class=purple] {
    background-color: #6a5a8c
}

.icheck-skins a.current {
    -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0 0 0 1px rgba(0, 0, 0, .5);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .5);
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
    -o-transform: scale(1.15);
    -ms-transform: scale(1.15);
    transform: scale(1.15)
}

.form-wizard > .tabs {
    list-style: none;
    padding: 0;
    margin: 0;
    display: table;
    position: relative;
    width: 100%
}

.form-wizard > .tabs > li {
    display: table-cell;
    width: 1%;
    text-align: center;
    background: #fcfcfc
}

.form-wizard > .tabs > li a {
    position: relative;
    display: block;
    padding: 10px 5px;
    color: #979898
}

.form-wizard > .tabs > li a > span {
    background: #68b828;
    font-size: 12px;
    color: #fff;
    background: #e9e9e9;
    color: #979898;
    padding: 2px 0;
    text-align: center;
    display: block;
    position: relative;
    margin: -10px -5px;
    margin-top: 10px
}

.form-wizard > .tabs > li a:after {
    content: '';
    position: absolute;
    display: block;
    height: 10px;
    background: 0 0;
    top: 100%;
    left: 0;
    right: 0
}

.form-wizard > .tabs > li a:hover {
    background: #f7f7f7
}

.form-wizard > .tabs > li + li {
    border-left: 1px solid #eee
}

.form-wizard > .tabs > li.active a {
    color: #646565
}

.form-wizard > .tabs > li.active a:after {
    background-color: rgba(0, 0, 0, .1)
}

.form-wizard > .tabs > li.completed {
    background-color: #f7f7f7
}

.form-wizard > .progress-indicator {
    height: 10px;
    position: relative;
    background: 0 0;
    width: 0;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: height 250ms cubic-bezier(0.19, 1, .22, 1), width 500ms cubic-bezier(0.19, 1, .22, 1);
    -moz-transition: height 250ms cubic-bezier(0.19, 1, .22, 1), width 500ms cubic-bezier(0.19, 1, .22, 1);
    -o-transition: height 250ms cubic-bezier(0.19, 1, .22, 1), width 500ms cubic-bezier(0.19, 1, .22, 1);
    transition: height 250ms cubic-bezier(0.19, 1, .22, 1), width 500ms cubic-bezier(0.19, 1, .22, 1)
}

.form-wizard > .progress-indicator > span {
    display: block;
    background: #8dc63f;
    height: 10px;
    line-height: 1;
    text-indent: -9999px
}

.form-wizard .tab-content {
    margin-top: 20px
}

.form-wizard .tab-content strong {
    color: #7d7f7f
}

.form-wizard .tab-content label {
    color: #979898
}

.form-wizard .tab-content .tab-pane > .form-group {
    margin-bottom: 25px
}

.form-wizard .tab-content .tab-pane > .form-group:last-child {
    margin-bottom: 0
}

.form-wizard .tab-content.no-margin {
    margin-top: 0
}

.form-wizard .tab-content.no-margin .tab-pane.with-bg {
    padding-top: 15px
}

.form-wizard .tab-content .tab-pane.with-bg {
    background: #fff;
    padding: 20px
}

.form-wizard .pager {
    margin-top: 20px
}

.form-wizard .pager .previous + .previous a {
    margin-left: 5px
}

.form-wizard .pager .next + .next a {
    margin-right: 5px
}

.form-wizard .pager .disabled a {
    zoom: 1;
    filter: alpha(opacity=50);
    -webkit-opacity: .5;
    -moz-opacity: .5;
    opacity: .5
}

html body .ui-rangeSlider .ui-rangeSlider-container {
    height: 10px;
    background: #ebebeb;
    -webkit-border-radius: 0;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 0;
    -moz-background-clip: padding;
    border-radius: 0;
    background-clip: padding-box
}

html body .ui-rangeSlider .ui-rangeSlider-container .ui-rangeSlider-bar {
    background: #68b828;
    height: 10px
}

html body .ui-rangeSlider .ui-rangeSlider-container .ui-rangeSlider-handle {
    position: relative;
    background: #68b828;
    width: 10px;
    height: 10px;
    -webkit-border-radius: 0;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 0;
    -moz-background-clip: padding;
    border-radius: 0;
    background-clip: padding-box;
    border: 0 solid #FFF;
    padding: 8px;
    margin-top: -7px
}

html body .ui-rangeSlider .ui-rangeSlider-container .ui-rangeSlider-handle.ui-rangeSlider-leftHandle {
    -webkit-transform: translateX(-100px);
    -moz-transform: translateX(-100px);
    -o-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    transform: translateX(-100px)
}

html body .ui-rangeSlider .ui-rangeSlider-label {
    visibility: hidden
}

html body .slider {
    height: 8px;
    margin-bottom: 30px;
    -webkit-border-radius: 0;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 0;
    -moz-background-clip: padding;
    border-radius: 0;
    background-clip: padding-box;
    background: #ebebeb
}

html body .slider .ui-slider-handle {
    background: #68b828;
    top: -3px;
    border: 0;
    width: 14px;
    height: 14px;
    margin-top: 0;
    outline: 0;
    cursor: pointer !important
}

html body .slider .ui-slider-handle .ui-label {
    position: absolute;
    left: -50%;
    top: 18px;
    color: #7d7f7f;
    margin-left: 4px;
    white-space: nowrap
}

html body .slider .ui-slider-range {
    background: #68b828;
    -webkit-border-radius: 0;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 0;
    -moz-background-clip: padding;
    border-radius: 0;
    background-clip: padding-box
}

html body .slider.ui-slider-horizontal .ui-slider-handle .ui-label {
    margin-top: 0
}

html body .slider.ui-slider-vertical {
    height: 250px;
    width: 8px
}

html body .slider.ui-slider-vertical .ui-slider-handle {
    top: auto;
    margin-left: .5px
}

html body .slider.ui-slider-vertical .ui-slider-handle .ui-label {
    top: -1px;
    left: 18px
}

html body .slider .ui-slider-handle {
    background: #508e1f;
    border: 0
}

html body .slider .ui-slider-range, html body .slider .ui-fill {
    background: #68b828
}

html body .slider.slider-primary {
    background: #ebebeb
}

html body .slider.slider-primary .ui-slider-handle {
    background: #131415;
    border: 0
}

html body .slider.slider-primary .ui-slider-range, html body .slider.slider-primary .ui-fill {
    background: #2c2e2f
}

html body .slider.slider-secondary {
    background: #ebebeb
}

html body .slider.slider-secondary .ui-slider-handle {
    background: #508e1f;
    border: 0
}

html body .slider.slider-secondary .ui-slider-range, html body .slider.slider-secondary .ui-fill {
    background: #68b828
}

html body .slider.slider-success {
    background: #ebebeb
}

html body .slider.slider-success .ui-slider-handle {
    background: #72a230;
    border: 0
}

html body .slider.slider-success .ui-slider-range, html body .slider.slider-success .ui-fill {
    background: #8dc63f
}

html body .slider.slider-info {
    background: #ebebeb
}

html body .slider.slider-info .ui-slider-handle {
    background: #18a8df;
    border: 0
}

html body .slider.slider-info .ui-slider-range, html body .slider.slider-info .ui-fill {
    background: #40bbea
}

html body .slider.slider-danger {
    background: #ebebeb
}

html body .slider.slider-danger .ui-slider-handle {
    background: #ab2d32;
    border: 0
}

html body .slider.slider-danger .ui-slider-range, html body .slider.slider-danger .ui-fill {
    background: #cc3f44
}

html body .slider.slider-warning {
    background: #ebebeb
}

html body .slider.slider-warning .ui-slider-handle {
    background: #f7d227;
    border: 0
}

html body .slider.slider-warning .ui-slider-range, html body .slider.slider-warning .ui-fill {
    background: #f9dc58
}

html body .slider.slider-purple {
    background: #ebebeb
}

html body .slider.slider-purple .ui-slider-handle {
    background: #622c95;
    border: 0
}

html body .slider.slider-purple .ui-slider-range, html body .slider.slider-purple .ui-fill {
    background: #7c38bc
}

html body .slider.slider-blue {
    background: #ebebeb
}

html body .slider.slider-blue .ui-slider-handle {
    background: #0b4b97;
    border: 0
}

html body .slider.slider-blue .ui-slider-range, html body .slider.slider-blue .ui-fill {
    background: #0e62c7
}

html body .slider.slider-red {
    background: #ebebeb
}

html body .slider.slider-red .ui-slider-handle {
    background: #a4060c;
    border: 0
}

html body .slider.slider-red .ui-slider-range, html body .slider.slider-red .ui-fill {
    background: #d5080f
}

html body .slider.slider-gray {
    background: #ebebeb
}

html body .slider.slider-gray .ui-slider-handle {
    background: #959595;
    border: 0
}

html body .slider.slider-gray .ui-slider-range, html body .slider.slider-gray .ui-fill {
    background: #aeaeae
}

.wysihtml5 {
    min-height: 250px
}

.wysihtml5-toolbar .btn {
    margin-bottom: 0
}

.wysihtml5-toolbar .btn.btn-white:active, .wysihtml5-toolbar .btn.btn-white:focus, .wysihtml5-toolbar .btn.btn-white.active {
    border-color: #d8d8d8 !important
}

.wysihtml5-toolbar .btn.btn-white.wysihtml5-command-active {
    background: #eee;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none
}

.wysihtml5-toolbar .btn.btn-white.dropdown-toggle i {
    position: relative;
    top: 1px
}

.wysihtml5-toolbar li.html-code-icon {
    float: right
}

.wysihtml5-toolbar .dropdown-menu {
    border-color: #e4e4e4
}

.wysihtml5-toolbar a.wysihtml5-colors-title {
    padding-top: 3px !important;
    padding-left: 35px !important
}

.wysihtml5-toolbar div.wysihtml5-colors {
    width: 25px !important
}

.wysihtml5-sandbox {
    min-height: 250px;
    padding: 10px 15px !important
}

.wysihtml5-sandbox::-webkit-scrollbar {
    width: 5px
}

.wysihtml5-sandbox::-webkit-scrollbar-track {
    width: 5px;
    background-color: #e0e0e0
}

.wysihtml5-sandbox::-webkit-scrollbar-thumb {
    background-color: #bdbdbd
}

.modal .bootstrap-wysihtml5-insert-link-url {
    margin-bottom: 12px !important
}

.modal .bootstrap-wysihtml5-insert-link-url + label {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.modal .bootstrap-wysihtml5-insert-link-url + label input {
    top: 4px;
    margin-right: 10px !important
}

html .dropzone {
    border: 1px solid #e9e9e9;
    -webkit-border-radius: 0;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 0;
    -moz-background-clip: padding;
    border-radius: 0;
    background-clip: padding-box
}

.droppable-area {
    display: inline-block;
    background: #ededed;
    border: 2px dashed #cbcbcb;
    width: 150px;
    min-height: 150px !important;
    height: 150px;
    line-height: 150px;
    text-align: center;
    font-size: 15px;
    color: #646565;
    margin-bottom: 30px;
    -webkit-border-radius: 50%;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 50%;
    -moz-background-clip: padding;
    border-radius: 50%;
    background-clip: padding-box
}

.droppable-area.dz-clickable {
    cursor: pointer
}

.droppable-area.dz-drag-hover {
    background: #68b828;
    color: #fff;
    border-style: solid;
    border-color: #508e1f;
    border-width: 5px;
    line-height: 143px
}

input[type=checkbox].iswitch {
    font-size: 10px;
    position: relative;
    display: inline-block;
    width: 38px;
    height: 22px;
    line-height: 22px;
    border-radius: 11px;
    margin: 0;
    padding: 0;
    box-shadow: inset 0 0 0 2px #eee;
    outline: 1px solid transparent !important;
    cursor: pointer;
    border: none;
    background: 0 0;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin-right: 4px;
    margin-bottom: 7px;
    transition: box-shadow .3s ease-in-out, padding .25s ease-in-out;
    transition-delay: .1s, 0s
}

input[type=checkbox].iswitch:checked {
    transition-delay: 0s, 0s;
    box-shadow: inset 0 0 0 12.57px #eee !important;
    padding-left: 16px
}

input[type=checkbox].iswitch.iswitch-primary:checked {
    box-shadow: inset 0 0 0 12.57px #2c2e2f !important
}

input[type=checkbox].iswitch.iswitch-secondary:checked {
    box-shadow: inset 0 0 0 12.57px #68b828 !important
}

input[type=checkbox].iswitch.iswitch-info:checked {
    box-shadow: inset 0 0 0 12.57px #40bbea !important
}

input[type=checkbox].iswitch.iswitch-warning:checked {
    box-shadow: inset 0 0 0 12.57px #ffba00 !important
}

input[type=checkbox].iswitch.iswitch-danger:checked {
    box-shadow: inset 0 0 0 12.57px #cc3f44 !important
}

input[type=checkbox].iswitch.iswitch-success:checked {
    box-shadow: inset 0 0 0 12.57px #8dc63f !important
}

input[type=checkbox].iswitch.iswitch-red:checked {
    box-shadow: inset 0 0 0 12.57px #d5080f !important
}

input[type=checkbox].iswitch.iswitch-blue:checked {
    box-shadow: inset 0 0 0 12.57px #0e62c7 !important
}

input[type=checkbox].iswitch.iswitch-purple:checked {
    box-shadow: inset 0 0 0 12.57px #7c38bc !important
}

input[type=checkbox].iswitch.iswitch-pink:checked {
    box-shadow: inset 0 0 0 12.57px #ff6264 !important
}

input[type=checkbox].iswitch.iswitch-turquoise:checked {
    box-shadow: inset 0 0 0 12.57px #00b19d !important
}

input[type=checkbox].iswitch.iswitch-yellow:checked {
    box-shadow: inset 0 0 0 12.57px #fcd036 !important
}

input[type=checkbox].iswitch.iswitch-orange:checked {
    box-shadow: inset 0 0 0 12.57px #f7aa47 !important
}

input[type=checkbox].iswitch.iswitch-gray:checked {
    box-shadow: inset 0 0 0 12.57px #d5d5d5 !important
}

input[type=checkbox].iswitch.hit {
    -webkit-animation: slide-off .35s ease both;
    -moz-animation: slide-off .35s ease both;
    -o-animation: slide-off .35s ease both;
    animation: slide-off .35s ease both
}

input[type=checkbox].iswitch.hit:checked {
    -webkit-animation: slide-on .35s ease both .05s;
    -moz-animation: slide-on .35s ease both .05s;
    -o-animation: slide-on .35s ease both .05s;
    animation: slide-on .35s ease both .05s
}

input[type=checkbox].iswitch:before, input[type=checkbox].iswitch:after {
    content: ""
}

input[type=checkbox].iswitch:after {
    position: absolute;
    top: -6px;
    left: -6px;
    bottom: -6px;
    right: -6px
}

input[type=checkbox].iswitch:before {
    display: inline-block;
    height: 18px;
    width: 18px;
    margin: 2px 0 0 2px;
    background-color: #fff;
    border-radius: 9px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2), 0 0 1px 1px rgba(0, 0, 0, .1);
    -webkit-transition: all .1s ease .1s;
    -moz-transition: all .1s ease .1s;
    -o-transition: all .1s ease .1s;
    transition: all .1s ease .1s
}

input[type=checkbox].iswitch:active:before {
    transition: all .1s ease .05s
}

input[type=checkbox].iswitch.touch:hover:before {
    transition: all 0s ease 0s
}

input[type=checkbox].iswitch:active:before, input[type=checkbox].iswitch.touch:hover:before {
    width: 20px
}

input[type=checkbox].iswitch:active:checked:before, input[type=checkbox].iswitch.touch:hover:checked:before {
    margin-left: 0
}

@keyframes slide-on {
    0% {
        padding-left: 0
    }
    60% {
        padding-left: 16px
    }
    100% {
        padding-left: 16px
    }
}

@keyframes slide-off {
    0% {
        padding-left: 16px;
        text-indent: 0
    }
    60% {
        padding-left: 0;
        text-indent: 0
    }
    100% {
        padding-left: 0;
        text-indent: 0
    }
}

input[type=checkbox].iswitch-lg {
    font-size: 10px;
    position: relative;
    display: inline-block;
    width: 50px;
    height: 28px;
    line-height: 28px;
    border-radius: 14px;
    margin: 0;
    padding: 0;
    box-shadow: inset 0 0 0 2px #eee;
    outline: 1px solid transparent !important;
    cursor: pointer;
    border: none;
    background: 0 0;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin-right: 4px;
    margin-bottom: 7px;
    transition: box-shadow .3s ease-in-out, padding .25s ease-in-out;
    transition-delay: .1s, 0s
}

input[type=checkbox].iswitch-lg:checked {
    transition-delay: 0s, 0s;
    box-shadow: inset 0 0 0 16px #eee !important;
    padding-left: 22px
}

input[type=checkbox].iswitch-lg.iswitch-primary:checked {
    box-shadow: inset 0 0 0 16px #2c2e2f !important
}

input[type=checkbox].iswitch-lg.iswitch-secondary:checked {
    box-shadow: inset 0 0 0 16px #68b828 !important
}

input[type=checkbox].iswitch-lg.iswitch-info:checked {
    box-shadow: inset 0 0 0 16px #40bbea !important
}

input[type=checkbox].iswitch-lg.iswitch-warning:checked {
    box-shadow: inset 0 0 0 16px #ffba00 !important
}

input[type=checkbox].iswitch-lg.iswitch-danger:checked {
    box-shadow: inset 0 0 0 16px #cc3f44 !important
}

input[type=checkbox].iswitch-lg.iswitch-success:checked {
    box-shadow: inset 0 0 0 16px #8dc63f !important
}

input[type=checkbox].iswitch-lg.iswitch-red:checked {
    box-shadow: inset 0 0 0 16px #d5080f !important
}

input[type=checkbox].iswitch-lg.iswitch-blue:checked {
    box-shadow: inset 0 0 0 16px #0e62c7 !important
}

input[type=checkbox].iswitch-lg.iswitch-purple:checked {
    box-shadow: inset 0 0 0 16px #7c38bc !important
}

input[type=checkbox].iswitch-lg.iswitch-pink:checked {
    box-shadow: inset 0 0 0 16px #ff6264 !important
}

input[type=checkbox].iswitch-lg.iswitch-turquoise:checked {
    box-shadow: inset 0 0 0 16px #00b19d !important
}

input[type=checkbox].iswitch-lg.iswitch-yellow:checked {
    box-shadow: inset 0 0 0 16px #fcd036 !important
}

input[type=checkbox].iswitch-lg.iswitch-orange:checked {
    box-shadow: inset 0 0 0 16px #f7aa47 !important
}

input[type=checkbox].iswitch-lg.iswitch-gray:checked {
    box-shadow: inset 0 0 0 16px #d5d5d5 !important
}

input[type=checkbox].iswitch-lg.hit {
    -webkit-animation: slide-off .35s ease both;
    -moz-animation: slide-off .35s ease both;
    -o-animation: slide-off .35s ease both;
    animation: slide-off .35s ease both
}

input[type=checkbox].iswitch-lg.hit:checked {
    -webkit-animation: slide-on .35s ease both .05s;
    -moz-animation: slide-on .35s ease both .05s;
    -o-animation: slide-on .35s ease both .05s;
    animation: slide-on .35s ease both .05s
}

input[type=checkbox].iswitch-lg:before, input[type=checkbox].iswitch-lg:after {
    content: ""
}

input[type=checkbox].iswitch-lg:after {
    position: absolute;
    top: -8px;
    left: -8px;
    bottom: -8px;
    right: -8px
}

input[type=checkbox].iswitch-lg:before {
    display: inline-block;
    height: 24px;
    width: 24px;
    margin: 2px 0 0 2px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2), 0 0 1px 1px rgba(0, 0, 0, .1);
    -webkit-transition: all .1s ease .1s;
    -moz-transition: all .1s ease .1s;
    -o-transition: all .1s ease .1s;
    transition: all .1s ease .1s
}

input[type=checkbox].iswitch-lg:active:before {
    transition: all .1s ease .05s
}

input[type=checkbox].iswitch-lg.touch:hover:before {
    transition: all 0s ease 0s
}

input[type=checkbox].iswitch-lg:active:before, input[type=checkbox].iswitch-lg.touch:hover:before {
    width: 26px
}

input[type=checkbox].iswitch-lg:active:checked:before, input[type=checkbox].iswitch-lg.touch:hover:checked:before {
    margin-left: 0
}

@keyframes slide-on {
    0% {
        padding-left: 0
    }
    60% {
        padding-left: 22px
    }
    100% {
        padding-left: 22px
    }
}

@keyframes slide-off {
    0% {
        padding-left: 22px;
        text-indent: 0
    }
    60% {
        padding-left: 0;
        text-indent: 0
    }
    100% {
        padding-left: 0;
        text-indent: 0
    }
}

input[type=checkbox].iswitch-xlg {
    font-size: 10px;
    position: relative;
    display: inline-block;
    width: 85px;
    height: 38px;
    line-height: 38px;
    border-radius: 19px;
    margin: 0;
    padding: 0;
    box-shadow: inset 0 0 0 2px #eee;
    outline: 1px solid transparent !important;
    cursor: pointer;
    border: none;
    background: 0 0;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin-right: 4px;
    margin-bottom: 7px;
    transition: box-shadow .3s ease-in-out, padding .25s ease-in-out;
    transition-delay: .1s, 0s
}

input[type=checkbox].iswitch-xlg:checked {
    transition-delay: 0s, 0s;
    box-shadow: inset 0 0 0 21.71px #eee !important;
    padding-left: 47px
}

input[type=checkbox].iswitch-xlg.iswitch-primary:checked {
    box-shadow: inset 0 0 0 21.71px #2c2e2f !important
}

input[type=checkbox].iswitch-xlg.iswitch-secondary:checked {
    box-shadow: inset 0 0 0 21.71px #68b828 !important
}

input[type=checkbox].iswitch-xlg.iswitch-info:checked {
    box-shadow: inset 0 0 0 21.71px #40bbea !important
}

input[type=checkbox].iswitch-xlg.iswitch-warning:checked {
    box-shadow: inset 0 0 0 21.71px #ffba00 !important
}

input[type=checkbox].iswitch-xlg.iswitch-danger:checked {
    box-shadow: inset 0 0 0 21.71px #cc3f44 !important
}

input[type=checkbox].iswitch-xlg.iswitch-success:checked {
    box-shadow: inset 0 0 0 21.71px #8dc63f !important
}

input[type=checkbox].iswitch-xlg.iswitch-red:checked {
    box-shadow: inset 0 0 0 21.71px #d5080f !important
}

input[type=checkbox].iswitch-xlg.iswitch-blue:checked {
    box-shadow: inset 0 0 0 21.71px #0e62c7 !important
}

input[type=checkbox].iswitch-xlg.iswitch-purple:checked {
    box-shadow: inset 0 0 0 21.71px #7c38bc !important
}

input[type=checkbox].iswitch-xlg.iswitch-pink:checked {
    box-shadow: inset 0 0 0 21.71px #ff6264 !important
}

input[type=checkbox].iswitch-xlg.iswitch-turquoise:checked {
    box-shadow: inset 0 0 0 21.71px #00b19d !important
}

input[type=checkbox].iswitch-xlg.iswitch-yellow:checked {
    box-shadow: inset 0 0 0 21.71px #fcd036 !important
}

input[type=checkbox].iswitch-xlg.iswitch-orange:checked {
    box-shadow: inset 0 0 0 21.71px #f7aa47 !important
}

input[type=checkbox].iswitch-xlg.iswitch-gray:checked {
    box-shadow: inset 0 0 0 21.71px #d5d5d5 !important
}

input[type=checkbox].iswitch-xlg.hit {
    -webkit-animation: slide-off .35s ease both;
    -moz-animation: slide-off .35s ease both;
    -o-animation: slide-off .35s ease both;
    animation: slide-off .35s ease both
}

input[type=checkbox].iswitch-xlg.hit:checked {
    -webkit-animation: slide-on .35s ease both .05s;
    -moz-animation: slide-on .35s ease both .05s;
    -o-animation: slide-on .35s ease both .05s;
    animation: slide-on .35s ease both .05s
}

input[type=checkbox].iswitch-xlg:before, input[type=checkbox].iswitch-xlg:after {
    content: ""
}

input[type=checkbox].iswitch-xlg:after {
    position: absolute;
    top: -11.33px;
    left: -11.33px;
    bottom: -11.33px;
    right: -11.33px
}

input[type=checkbox].iswitch-xlg:before {
    display: inline-block;
    height: 34px;
    width: 34px;
    margin: 2px 0 0 2px;
    background-color: #fff;
    border-radius: 17px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2), 0 0 1px 1px rgba(0, 0, 0, .1);
    -webkit-transition: all .1s ease .1s;
    -moz-transition: all .1s ease .1s;
    -o-transition: all .1s ease .1s;
    transition: all .1s ease .1s
}

input[type=checkbox].iswitch-xlg:active:before {
    transition: all .1s ease .05s
}

input[type=checkbox].iswitch-xlg.touch:hover:before {
    transition: all 0s ease 0s
}

input[type=checkbox].iswitch-xlg:active:before, input[type=checkbox].iswitch-xlg.touch:hover:before {
    width: 36px
}

input[type=checkbox].iswitch-xlg:active:checked:before, input[type=checkbox].iswitch-xlg.touch:hover:checked:before {
    margin-left: 0
}

@keyframes slide-on {
    0% {
        padding-left: 0
    }
    60% {
        padding-left: 47px
    }
    100% {
        padding-left: 47px
    }
}

@keyframes slide-off {
    0% {
        padding-left: 47px;
        text-indent: 0
    }
    60% {
        padding-left: 0;
        text-indent: 0
    }
    100% {
        padding-left: 0;
        text-indent: 0
    }
}