.course-program {
  position: absolute 0 0 0 0;

  display: none;
  visibility: hidden;
  flex-direction: column;
  justify-content: space-between;

  padding: 35px 30px;

  @media (width <= 1279PX) {
    position: static;

    display: flex !important;
    visibility: visible !important;

    opacity: 1 !important;
    padding: 35px 30px;
  }

  &__heading {
    @extend .heading-in-course;

    margin: 0;
    margin-bottom: 30px;
    margin-left: 30px;
    padding-top: 15px;

    text-transform: uppercase;

    @media (width < 768PX) {
      margin-left: 0;
    }
  }

  &-content {
    display: flex;
    overflow: hidden;
    flex-grow: 1;
    justify-content: space-between;

    margin-bottom: 30px;
  }

  &-duration {
    margin-right: 30px;
    margin-left: 30px;

    @media (width < 768PX) {
      margin-left: 0;
      margin-right: 0;
    }

    &__item {
      margin-bottom: 20px;

      cursor: pointer;
      transition: 0.4s ease-in all;

      &:last-child {
        margin-bottom: 0;
      }

      &--active {
        margin-bottom: 20px;
      }
    }

    &__month {
      display: block;

      transition: 0.4s ease-in all;

      color: rgba($orange, 0.5);

      font-family: $OpenSans;
      font-size: 28px;
      font-weight: bold;
      line-height: 1.2;
      @media (width < 768PX) {
        font-size: 20px;
      }

      .course-program-duration__item--active & {
        margin-bottom: 20px;

        text-align: left;

        color: $orange;

        font-family: $OpenSans;
        font-size: 36px;
        font-weight: bold;
        line-height: 1.2;
        @media (width < 768PX) {
          font-size: 26px;
        }
      }
    }

    &__link {
      display: none;
      visibility: hidden;

      transition: 0.4s ease-in all;
      text-align: left;
      text-decoration: underline;

      opacity: 0;
      color: $blue;

      font-size: 20px;
      font-weight: bold;
      line-height: 1.2;

      .course-program-duration__item--active & {
        display: block;
        visibility: visible;

        opacity: 1;
      }
    }

    &__descr {
      display: none;
      visibility: hidden;

      text-align: left;

      opacity: 0;
      color: $gray;

      font-family: $OpenSans;
      font-size: 14px;
      line-height: 1.2;

      .course-program-duration__item--active & {
        display: block;
        visibility: visible;

        opacity: 1;
      }
    }
  }

  &-description {
    display: none;
    overflow-y: auto;

    width: 66%;
    margin-bottom: 30px;

    &--active {
      display: flex;
      flex-direction: column;
    }

    &__heading {
      margin: 0;
      margin-bottom: 30px;

      text-align: left;

      color: $blue;

      font-family: $OpenSans;
      font-size: 21px;
      font-weight: bold;
      line-height: 1.2;
    }

    &__list {
      max-width: 380px;
      padding-left: 26px;

      @media (width <= 1279PX) {
        max-width: none;
      }
      p {
        position: relative;

        margin-bottom: 20px;
        margin-top: 0;

        text-align: left;

        color: $gray;

        font-family: $OpenSans;
        font-size: 18px;
        line-height: 1.2;

        &:last-child {
          margin-bottom: 35px;
        }

        &:before {
          position: absolute;
          top: 50%;
          left: -25px;
  
          display: block;
  
          margin-top: -5px;
  
          content: "";
          transform: rotate(45deg);
  
          background-color: $blue;
  
          size: 10px;
        }
      }
    }

    &__item {
      position: relative;

      margin-bottom: 20px;

      text-align: left;

      color: $gray;

      font-family: $OpenSans;
      font-size: 18px;
      line-height: 1.2;

      &:last-child {
        margin-bottom: 35px;
      }

      &:before {
        position: absolute;
        top: 50%;
        left: -25px;

        display: block;

        margin-top: -5px;

        content: "";
        transform: rotate(45deg);

        background-color: $blue;

        size: 10px;
      }
    }
  }

  &__btns {
    width: 100%;
    margin: auto;

    @media (width <= 768px) {
      display: flex;
      flex-direction: column;
    }
  }

  .btn {
    margin-right: 30px;
    margin-bottom: 30px;

    @media (width <= 768px) {
      width: 100%;
      max-width: 90%;
      margin-right: auto;
      margin-left: auto;
    }
  }
  .course-program-popup__btn.btn--big{
    position: static;
  }
}

.course-program-popup {
  position: absolute 0 0 0 0;

  display: none;
  flex-direction: column;
  justify-content: space-between;

  padding: 35px 60px;

  background-color: $white;

  @media (width < 768PX) {
    padding: 30px 0;

    position: static;

    display: none;
    flex-direction: column;
  }

  &__container {
    overflow-y: auto;
    flex-grow: 1;

    height: 100%;
    margin-bottom: 20px;

    p {
      font-size: 16px;
    }
  }

  &__btn {
    position: absolute;
    top: 0;
    right: 0;

    padding: 30px;

    border: none;
    background-color: transparent;

    @media (width <= 768PX) {
      display: none;
    }
  }

  .icon-close {
    cursor: pointer;

    color: $blue;

    font-size: 24px;
  }

  &__heading {
    margin-bottom: 30px;

    color: $orange;

    font-size: 36px;
    font-weight: bold;
    line-height: 1.2;
  }

  &__list {
    overflow-y: auto;

    margin-bottom: 30px;
    padding-right: 30px;

    column-count: 2;
    column-gap: 30px;
  }

  &__item {
    position: relative;

    display: flex;
    align-items: center;

    margin-bottom: 15px;
    padding-left: 30px;

    text-align: left;

    color: $gray;

    font-size: 18px;
    line-height: 1.2;

    break-inside: avoid;

    &:before {
      position: absolute;
      top: 6px;
      left: 15px;

      margin: auto;

      content: "";
      transform: rotate(45deg);

      background-color: $blue;

      size: 6PX;
    }
  }
}
