//.course-place
.course-place {
  position: absolute 0 0 0 0;

  display: none;
  visibility: hidden;
  flex-direction: column;

  padding: 35px 30px;

  @media (width <= 1279PX) {
    position: static;

    display: flex !important;
    visibility: visible !important;

    opacity: 1 !important;
  }
}

.details {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  

  &__item {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    width: 50%;

    @media (width < 768PX) {
      width: 100%;
    }

    .icon-startup {
      transform: scale(-1, 1);
    }
  }

  &__content {
    margin-left: 10px;
  }

  &__icon {
    font-size: 20px;

    &:before {
      color: $blue;
    }
  }

  &__name {
    margin-bottom: 20px;

    color: $blue;

    font-family: $OpenSans;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.2;
  }

  &__descr {
    text-align: left;

    color: rgb(51, 51, 51);

    font-family: $OpenSans;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.2;

    small {
      position: relative;
      bottom: 1px;

      font-family: $OpenSans;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.2;
    }

    &:last-child {
      margin-bottom: 40px;
    }

    &--margin {
      margin-bottom: 10px;
    }
  }
}

.auditory {
  width: 100%;
  max-width: 460px;
  margin: auto;

  background-color: $white;
  box-shadow: 3.064px 2.571px 20.4px 3.6px rgba(0, 0, 0, 0.3);

  &__projector {
    display: block;

    width: 40%;
    height: 5px;
    margin: auto;
    margin-top: 30px;

    background-color: $orange;
  }

  &__place {
    display: flex;
    justify-content: center;

    width: 75px;
    height: 35px;
    margin-top: 30px;
    margin-left: 15%;

    transform: rotate(330deg);

    background-color: $orange;

    i {
      color: $white;

      font-size: 24px;
      line-height: 35px;
    }
  }

  &__places {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 80%;
    margin: auto;
    margin-bottom: 30px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;

    padding-top: 30px;
  }

  &-popup {
    position: absolute;
    z-index: 2;
    bottom: 30px;
    left: 30px;

    width: 250px;
    max-width: 220px;

    transition: 0.3s ease-in opacity;
    text-align: center;

    opacity: 0;
    color: $gray;
    border-radius: 20px;
    background-color: $white;
    box-shadow: 3.064px 2.571px 20.4px 3.6px rgba(0, 0, 0, 0.3);

    font-size: 16px;
    font-weight: bold;
    line-height: 1.2;

    .auditory.active &,
    .auditory__item:hover & {
      opacity: 1;
    }

    p {
      margin: 15px;
    }


    .btn {
      width: 80%;
      margin: auto;
      margin-bottom: 15px;
    }

    &:after {
      position: absolute;
      z-index: -1;
      bottom: -20px;
      left: 40px;

      display: block;

      content: "";

      border: 20px solid transparent;
      border-top: 20px solid $white;
      border-left: 20px solid $white;
    }
  }

  &__item {
    position: relative;

    display: flex;
    justify-content: space-around;

    width: 100px;
    height: 35px;
    margin: auto;
    margin-bottom: 30px;

    background-color: $white;

    @media (width <= 768PX) {
      width: 80px;
    }

    i {
      color: $white;

      font-size: 24px;
      line-height: 35px;

      &.icon--darken {
        color: #1a7d97;
      }

      @media (width <= 768PX) {
        font-size: 20px;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }

    &--darken {
      background-color: #1e98b8;
    }

    &--lighten {
      background-color: #89cdf3;
    }
  }
}

.your-place {
  position: relative;
}

.take-the-place {
  position: absolute;
  bottom: calc(100% + 10px);

  display: flex;
  flex-direction: column;
  justify-content: space-around;

  width: 245px;
  height: 105px;

  border-radius: 20px;
  background-color: $white;
  box-shadow: 0 0 30px 4px rgba(0, 0, 0, 0.3);

  &:after {
    position: absolute;
    top: 100%;
    left: 15%;

    display: block;

    width: 10px;
    height: 10px;

    content: "";

    border: 15px solid transparent;
    border-top: 15px solid $white;
    border-left: 15px solid $white;
  }

  &__heading {
    width: 70%;
    margin: * auto;

    text-align: center;

    color: rgb(51, 51, 51);

    font-family: $OpenSans;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.2;
  }

  &__btn {
    width: 160px;
    height: 25px;
    margin: * auto;

    cursor: pointer;
    transition: all 0.3s ease-in-out;
    text-align: center;

    color: $white;
    border: none;
    border-radius: 10px;
    background-color: $orange;

    font-family: $OpenSans;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.2;

    &:hover {
      background-color: $blue;
    }
  }
}
