// course teacher scroll
.course-teachers{
  padding: 0px;
}
.course-teachers__heading{
  margin: 0 30px;
  padding: 30px 0;
}
.window-right {
  .content-editor__inner {
    padding: 0;
    margin-bottom: 30px;
  }

  .window-info__list {

    width: 90%;
    margin-right: 0;
    margin-bottom: 35px;
    height: 100%;
  }
  .simplebar-scroll-content {
    height: 48.8rem;
    overflow-x: hidden;
  }
  .simplebar-track {
    width: .5rem;
    right: 10px;
    &.horizontal {
      display: none !important;
    }
    &:hover {
      opacity: 1;
    }
  }
  .simplebar-scrollbar {
    width: .5rem;
    right: 0px;
    &:before {
      background: #ff6e1f;
      -webkit-border-radius: 0;
      border-radius: 0;
      opacity: 1;
    }
  }

  .course-teachers__list {
    max-height: none;
  }
  .course-teachers__item {
    cursor: pointer;
  }

  //cousre about scrol
  .course-about {
    .simplebar-track {
      right: 0;
    }
  }

  .flex {
    display: flex !important;
  }

  .simplebar-content {
    overflow-x: hidden;
  }
}
.simplebar-content {
  overflow-x: hidden;
}
.simplebar-track {
  width: .5rem;
  right: 10px;
  &.horizontal {
    display: none !important;
  }
  &:hover {
    opacity: 1;
  }
}
.simplebar-scrollbar {
   width: .5rem;
   right: 0px;
   &:before {
     background: #ff6e1f;
     -webkit-border-radius: 0;
     border-radius: 0;
     opacity: 1;
   }
 }