.course-interesting {
  position: absolute 0 0 0 0;

  display: none;
  visibility: hidden;
  flex-direction: column;

  padding: 35px 30px;

  @media (width <= 1279PX) {
    position: static;

    display: flex !important;
    visibility: visible !important;

    opacity: 1 !important;
  }

  &__editor {
    overflow-y: auto;
    margin-bottom: 30px;
    margin-left: 5%;
    padding-right: 20px;
    overflow: hidden;
    @media (width < 768PX) {
      margin-left: 0;
      padding-right: 0;
      overflow: hidden;
    }
  }

  &__row {
    width: 90%;
    margin: auto;
  }

  &__heading {
    display: block;

    width: 80%;
    margin-top: 4%;
    margin-bottom: 5%;
    margin-left: 30px;

    text-align: left;

    color: $orange;

    font-family: $OpenSans;
    font-size: 36px;
    font-weight: bold;

    @media (width < 768PX) {
      margin-left: 0;
    }
  }

  &__list {
    width: 80%;
    margin: auto;
    margin-bottom: 30px;
    margin-left: 30px;
  }

  &__item {
    display: flex;
    align-items: flex-start;

    margin-bottom: 40px;

    text-align: left;

    color: rgb(40, 40, 40);

    font-family: $OpenSans;
    font-size: 24px;
    line-height: 1.2;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__icon {
    margin-right: 50px;

    font-size: 46px;

    &:before {
      color: #00ace0;
    }

    @media (width < 768PX) {
      margin-right: 20px;
    }
  }

  &__btn {
    margin-left: 30px;
  }
}
