/* stylelint-disable unit-case */
@import "info.scss";

//.course-home
.course-home {
  position: relative;

  overflow: hidden;

  min-width: 100vw;
  min-height: 100vh;

  @media (width <= 1279PX) {
    height: auto;
    min-height: 100vh !important;
  }

  &__video {
    position: absolute 0 0 0 0;
    z-index: -1;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    @media (width <= 1279PX) {
      display: none;
    }
  }

  &__container {
    position: absolute 0 0 0 0;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;

    width: 100%;
    height: 100%;
    padding-top: 100px;

    // box-shadow: inset 0 0 3000px 3000px rgba(0, 0, 0, 0.5);

    @media (width <= 1279PX) {
      position: static;

      height: auto;
      min-height: 100vh;
      padding-top: 120px;

      box-shadow: none;
      z-index: 1;
    }
  }

  //.course-home__course
  &__course {
    position: relative;

    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;

    margin-top: 82px;
    margin-bottom: 30px;
    padding-bottom: 60px;

    @media (width <= 568PX) {
      margin-top: 50px !important;


    }
  }

  &__descr {
    display: block;

    margin-top: 15px;
    margin-left: auto;

    text-align: right;
    text-transform: uppercase;

    color: $white;

    font-family: $OpenSans;
    font-size: 36px;
    font-weight: bold;

    @media (width <= 992PX) {
      margin-top: 5px;

      font-size: 32px;
    }

    .course-home__course--small & {
      margin-top: 0;

      @media (width <= 992PX) {
        margin-top: 0;
      }

      @media (width <= 768PX) {
        font-size: 30px;
      }

      @media (width <= 568PX) {
        font-size: 20px;
      }

      @media (width <= 380PX) {
        font-size: 18px;
      }
    }
  }

  //.course-home__h1
  &__h1 {
    position: relative;
    z-index: 2;

    display: inline-block;

    margin: 0;

    text-align: left;
    white-space: nowrap;
    text-transform: uppercase;

    color: $white;
    border-radius: 20px;

    font-family: $OpenSans;
    font-size: 170px;
    font-weight: bold;
    line-height: 0.8;

    @media (width <= 992PX) {
      font-size: 140px;
    }

    @media (width <= 768PX) {
      top: 5px;

      font-size: 100px;
    }
    @media (width <= 600PX) {
      font-size: 78px;
    }
    @media (width <= 560PX) {
      font-size: 64px;
    }

    @media (width <= 420PX) {
      font-size: 46px;
    }
    @media (width <= 380PX) {
      font-size: 26px;
    }

    .course-home__course--small & {
      text-transform: uppercase;

      font-size: 80px;
      line-height: 1;

      @media (width <= 992PX) {
        font-size: 62px;
      }

      @media (width <= 768PX) {
        top: 5px;

        font-size: 36px;
      }

      @media (width <= 480PX) {
        font-size: 26px;
      }
      @media (width <= 380PX) {
        font-size: 22px;
      }
    }

    &:before {
      position: absolute;
      top: 56px;
      left: -85px;

      content: attr(data-before);
      transform: rotate(270deg);
      text-transform: uppercase;

      color: $white;

      font-family: $OpenSans;
      font-size: 48px;
      font-weight: bold;
      line-height: 0.8;

      @media (width <= 380PX) {
        top: 22px;
        left: -60px;

        font-size: 22px;
      }
      @media (width <= 480PX) {
        font-size: 26px;
        top: 25px;
      }

      @media (width <= 568PX) {
        top: 35px;

      }
      @media (width <= 768PX) {
        top: 40px;
        left: -65px;

        font-size: 36px;
      }

      @media (width <= 992PX) {
        top: 50px;
        left: -75px;

        font-size: 42px;
      }
    }
  }

  //.course-home__p
  &__p {
    margin: 10px;

    text-align: left;
    text-transform: uppercase;

    color: $white;

    font-family: $OpenSans;
    font-size: 30px;
    font-weight: bold;
    line-height: 1.2;

    @media (width <= 768PX) {
      width: 90%;

      text-align: center;

      font-size: 26px;
    }

    @media (width <= 480PX) {
      font-size: 22px;
    }
    @media (width <= 390PX) {
      width: 95%;
      font-size: 18px;
    }
    mark {
      color: $orange;
      background-color: transparent;
    }
  }

  //.course-home__enroll
  &__enroll {
    margin: 10px;
    padding: 20px 50px;

    text-align: left;
    text-decoration: none;

    color: $white;
    border-radius: 20px;
    background-color: $orange;

    font-family: $OpenSans;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.2;
  }

  //.course-home__info
  &__info {
    max-width: 1170px;

    @media (width <= 992PX) {
      width: 90%;
    }
  }

  &__start {
    cursor: pointer;

    border: none;
    background-color: transparent;

    @media (width <= 768PX) {
      padding: 30px;

      transform: rotate(90deg);
    }

    &:hover {
      animation: shake 5s infinite linear;
    }

    i {
      color: $white;

      font-size: 64px;

      @media (width <= 768PX) {
        transform: rotate(110deg) !important;
      }
    }
  }
}

@keyframes shake {
  from,
  to {
    transform: translate3d(0, 0, 0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translate3d(-10px, 0, 0);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translate3d(10px, 0, 0);
  }
}

@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.25, 1.25, 1.25);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.blur-c {
  background-image: -moz-linear-gradient(-90deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0.50196) 100%);
  background-image: -webkit-linear-gradient(-90deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0.50196) 100%);
  background-image: -ms-linear-gradient(-90deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0.50196) 100%);
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  display: block;
  @media (width <= 1200PX) {
    display: none;
  }
}

//window for course
.course-main {

  @media (width <= 1279PX) {
    .window {
      flex-direction: column;
      max-height: none;

    }
    .window-left {

      width: 100%;
    }

    .window-right {
      width: 100%;
      max-height: none;
    }
  }

}

.course{
  .window-right {
    @media (width <= 1279PX) {
      width: 100%;
      max-height: none!important;
    }
  }
}

