//.course-about
.course-about {
  position: absolute 0 0 0 0;

  display: flex;
  flex-direction: column;

  max-height: 100%;
  padding: 35px 30px;

  @media (width <= 1279PX) {
    position: static;

    display: flex !important;
    visibility: visible !important;

    opacity: 1 !important;
  }

  //.course-about__heading
  &__heading {
    display: block;

    margin-top: 10%;
    margin-bottom: 4%;
    margin-left: 5%;

    text-transform: uppercase;

    color: $orange;

    font-family: $OpenSans;
    font-size: 36px;
    font-weight: bold;

    @media (width <= 768PX) {
      margin-left: 0;
      font-size: 30px;
    }
  }

  &__row {
    width: 90%;
    margin: auto;
  }
}
