//.infp
.info {
  width: 100%;
  margin: 10px auto;
  padding: 60px 30px;

  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.5);

  @media (width <= 768PX) {
    padding-top: 30px;
    padding-bottom: 20px;
  }

  //.info__list
  &__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @media (width <= 768PX) {
      display: block;
    }
  }

  //.info__item
  &__item {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;

    width: 25%;
    padding: * 5px;

    @media (width <= 768PX) {
      width: 100%;
      margin-bottom: 20px;
      padding: * 10px;
    }

    //.info__item .icon-startup
    .icon-startup {
      transform: scale(-1, 1);
    }
  }

  //.info__content
  &__content {
    margin-left: 10px;
  }

  //.info__name
  &__name {
    margin-bottom: 22px;

    color: $blue;

    font-family: $OpenSans;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.2;

    @media (width<= 1024PX) {
      min-height: 44PX;
    }
    @media (width <= 768PX) {
      font-size: 20px;
      min-height: 0;
    }
  }

  //.info__descr
  &__descr {
    color: $white;

    font-family: $OpenSans;
    font-size: 22px;
    font-weight: bold;
    line-height: 1.2;

    //.info__descr small
    small {
      position: relative;
      bottom: 1px;

      color: $white;

      font-family: $OpenSans;
      font-size: 14px;
      font-weight: 300;
      line-height: 1.2;
    }
  }

  //.info__icon
  &__icon {
    position: relative;
    top: 2px;

    font-size: 20px;

    &::before {
      color: $blue;
    }
  }
}
