.course-teachers {
  position: absolute 0 0 0 0;

  display: none;
  visibility: hidden;
  flex-direction: column;

  max-height: 100%;
  padding: 35px 30px;

  @media (width <= 1279PX) {
    position: static;

    display: flex !important;
    visibility: visible !important;

    opacity: 1 !important;
    padding: 35px 30px;
  }

  &__heading {
    margin: 0 0 40px 30px;

    color: $orange;

    font-family: $OpenSans;
    font-size: 36px;
    font-weight: bold;
    line-height: 1.2;
  }

  &__list {
    display: flex;
    overflow-y: scroll;
    flex-direction: column;

    height: 100%;
    max-height: 440px;
    margin: 0;
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 30px;
    padding: 0;
    padding-right: 20px;

    list-style-type: none;
  }

  &__item {
    display: block;
    align-items: center;

    margin-bottom: 30px;

    border-radius: 20px;

    @media (width <= 768PX) {
      display: inline-flex;
    }
    @media (width <= 568PX) {
      display: block;
    }

    &.active {
      background-color: $darkBlue;

      .course-teachers__h3 {
        color: $white;
      }

      .course-teachers__description {
        color: $white;
      }
    }

    &:hover {
      background-color: $darkBlue;

      .course-teachers__h3 {
        color: $white;
      }

      .course-teachers__description {
        color: $white;
      }
    }
  }

  &__img {
    float: left;

    margin: 10px;

    border-radius: 50%;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.75);

    size: 100px;

    @media (width <= 768PX) {
      display: block;
      margin: 20px 10px;
    }
  }

  &__content {
    float: left;

    width: calc(100% - 140px);
    padding-left: 15px;

    @media (width <= 768PX) {
      width: 100%;
      padding-right: 15px;
    }
  }

  &__h3 {
    color: rgb(51, 51, 51);

    font-family: $OpenSans;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.2;
  }

  &__description {
    color: rgb(51, 51, 51);

    font-family: $OpenSans;
    font-size: 16px;
    line-height: 1.2;
  }

  &__details {
    display: none;
  }

  &__btns {
    margin-left: 30px;

    @media (width < 768PX) {
      margin-right: 30px;
      display: flex;

      .btn {
        width: 90%;
        margin: auto;
      }
    }
  }
}
