.sale-course {
  display: flex;
  align-items: baseline;

  &__number {
    color: #f00;

    font-size: 48px;
    font-weight: bold;
  }

  &__text {
    color: $grey;

    font-size: 24px;
    font-weight: bold;
  }
}
