/* CSS Document */
/* reset */
/**/
* {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

img {
  border: 0;
  max-width: 100%;
  height: auto; }

a {
  color: #ef4c22;
  text-decoration: none;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s; }

a:hover, a:focus {
  text-decoration: none;
  color: #0e9abd; }

*:focus, *:active, * {
  outline: none !important; }

*::-moz-selection {
  background: rgba(239, 76, 36, 0.5); }

*::selection {
  background: rgba(239, 76, 36, 0.5); }

html {
  min-height: 100%; }

body {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.25;
  color: #fff;
  background: #000 url("../images/bg.jpg") center center no-repeat;
  background-size: cover;
  padding: 0;
  min-height: 100%; }

#wrapper {
  overflow: hidden;
  position: relative; }

@media (min-width: 1200px) {
  .container {
    max-width: 1200px; } }

.alignright {
  float: right;
  margin: 5px 0 25px 30px; }

.alignleft {
  float: left;
  margin: 5px 30px 25px 0; }

.aligncenter {
  display: block;
  margin: 25px auto 25px;
  text-align: center; }

h1, h2, h3, h4, .h1, .h2, .h3, .h4 {
  margin-top: 0px;
  margin-bottom: 0.8em;
  font-weight: 700;
  font-family: "Open Sans", sans-serif; }

h5, h6, .h5, .h6 {
  margin-top: 0;
  margin-bottom: 0.8em;
  text-transform: none; }

h1, .h1 {
  font-size: 60px;
  font-weight: 900; }

h2, .h2 {
  font-size: 30px; }

h3, .h3 {
  font-size: 30px;
  font-weight: 600; }

h4, .h4 {
  font-size: 24px; }

h5, .h5 {
  font-size: 18px; }

h6, .h6 {
  font-size: 20px; }

p, ol, ul, table {
  margin-bottom: 1em; }

strong {
  font-weight: 700; }

.orange {
  color: #ef4c22; }

.blue {
  color: #0e9abd; }

.gray {
  color: #9b9b9b; }

.red {
  color: #ac2626; }

.green {
  color: #24861f; }

.yellow {
  color: #ac9b26; }

.dark-blue {
  color: #1f4886; }

.opacity-60 {
  opacity: 0.6; }

.text-center {
  text-align: center; }

.article ul li {
  list-style: none;
  margin-bottom: 0.4em;
  padding-left: 17px;
  position: relative; }
  .article ul li:before {
    content: "";
    position: absolute;
    top: 6px;
    left: 0px;
    border: 5px solid transparent;
    border-left-color: #ef4c22; }

.article ol {
  counter-reset: myCounter; }
  .article ol li {
    list-style: none;
    margin-bottom: 0.4em;
    padding-left: 25px;
    position: relative; }
    .article ol li:before {
      counter-increment: myCounter;
      content: counter(myCounter) ".";
      color: #ef4c22;
      font-weight: 500;
      float: left;
      margin: 0px 0px 0 0;
      position: absolute;
      left: 0;
      top: 0; }

/* table */
table {
  border-collapse: collapse;
  width: 100%; }

table th {
  padding: 5px 3px;
  text-align: left;
  font-size: 16px;
  font-weight: 400; }

table td {
  padding: 5px 3px;
  font-size: 16px;
  font-weight: 600; }

/**/
input[type='text'], input[type='tel'], input[type='search'], input[type='email'], input[type='password'], input[type='number'], input[type='date'], textarea, select {
  background: #fff;
  border: 1px solid #fff;
  margin-bottom: 15px;
  width: 100%;
  height: 45px;
  padding: 0 15px;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 600;
  border-radius: 10px;
  display: block;
  color: #666;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s; }
  input[type='text']:focus, input[type='tel']:focus, input[type='search']:focus, input[type='email']:focus, input[type='password']:focus, input[type='number']:focus, input[type='date']:focus, textarea:focus, select:focus {
    background: #fff; }
  input[type='text']:focus:invalid, input[type='text'].error, .error input[type='text'], input[type='tel']:focus:invalid, input[type='tel'].error, .error input[type='tel'], input[type='search']:focus:invalid, input[type='search'].error, .error input[type='search'], input[type='email']:focus:invalid, input[type='email'].error, .error input[type='email'], input[type='password']:focus:invalid, input[type='password'].error, .error input[type='password'], input[type='number']:focus:invalid, input[type='number'].error, .error input[type='number'], input[type='date']:focus:invalid, input[type='date'].error, .error input[type='date'], textarea:focus:invalid, textarea.error, .error textarea, select:focus:invalid, select.error, .error select {
    border: 1px solid #ef4c22;
    -webkit-box-shadow: inset 0 0 0 1px #ef4c22;
    box-shadow: inset 0 0 0 1px #ef4c22; }

textarea {
  padding: 15px 15px 15px;
  height: 100px;
  resize: none; }

label {
  font-weight: normal; }

form p {
  margin: 0; }

/**/
::-webkit-input-placeholder {
  color: #666666;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s; }

::-moz-placeholder {
  color: #666666;
  transition-duration: 0.2s; }

:-moz-placeholder {
  color: #666666;
  transition-duration: 0.2s; }

:-ms-input-placeholder {
  color: #666666;
  transition-duration: 0.2s; }

:focus::-webkit-input-placeholder {
  opacity: 0.8; }

:focus::-moz-placeholder {
  opacity: 0.8; }

:focus:-moz-placeholder {
  opacity: 0.8; }

:focus:-ms-input-placeholder {
  opacity: 0.8; }

/* button */
.btn {
  display: inline-block;
  min-height: 55px;
  line-height: 50px;
  padding: 0px 25px;
  margin: 0 0 20px;
  color: #fff;
  background: #ef4c22;
  border: none;
  font-size: 22px;
  font-weight: 700;
  text-decoration: none;
  text-transform: none;
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  overflow: hidden;
  position: relative;
  z-index: 1;
  vertical-align: top; }
  .btn:hover {
    color: #fff;
    background: #0e9abd; }
  .btn:focus, .btn:active {
    outline: none;
    color: #fff; }
  .btn:disabled {
    background-color: #888; }
  .btn.btn-md {
    min-height: 45px;
    line-height: 45px;
    font-size: 18px;
    font-weight: 400; }
  .btn.btn-play {
    -webkit-box-shadow: 0 0 35px 0 rgba(239, 76, 36, 0.5);
    box-shadow: 0 0 35px 0 rgba(239, 76, 36, 0.5);
    line-height: 55px;
    min-width: 76px; }
    .btn.btn-play .play {
      display: inline-block;
      background: url("../images/play.svg") center center no-repeat;
      background-size: cover;
      width: 17px;
      height: 20px; }
  .btn.btn-schedule {
    background: none;
    border: 1px solid #ef4c22;
    padding: 0 20px 0 75px; }
    .btn.btn-schedule:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 55px;
      height: 53px;
      background: #ef4c22 url("../images/schedule.svg") center center no-repeat;
      background-size: 18px 26px;
      -webkit-transition-duration: 0.2s;
      -o-transition-duration: 0.2s;
      transition-duration: 0.2s; }
    .btn.btn-schedule:hover {
      color: #fff;
      border-color: #0e9abd; }
      .btn.btn-schedule:hover:before {
        background-color: #0e9abd; }
  .btn.btn-md {
    min-height: 48px;
    line-height: 48px; }
  .btn + .btn {
    margin-left: 25px; }

.compensate-for-scrollbar {
  margin-right: 0 !important; }

@media (max-width: 1366px), (max-height: 870px) {
  body {
    font-size: 16px; }
  h1, .h1 {
    font-size: 46px; }
  h2, .h2 {
    font-size: 24px; } }

@media (max-width: 1199px) {
  body {
    font-size: 15px;
    font-weight: 400; } }

@media (max-height: 700px) {
  h1, .h1 {
    font-size: 40px; }
  h2, .h2 {
    font-size: 22px; }
  body {
    font-size: 15px; } }

@media (max-width: 991px), (max-height: 640px) {
  body {
    background-attachment: fixed; }
  .btn {
    padding: 0 10px; } }

@media only screen and (max-width: 767px) {
  h1, .h1 {
    font-size: 40px; } }

@media only screen and (max-width: 575px) {
  body {
    font-size: 12px;
    font-weight: 600; }
  h1, .h1 {
    font-size: 28px;
    text-align: center; }
  h2, .h2 {
    font-size: 20px; }
  h4, .h4 {
    font-size: 20px; }
  input[type='text'], input[type='tel'], input[type='search'], input[type='email'], input[type='password'], input[type='number'], input[type='date'], textarea, select {
    font-size: 16px; }
  .btn {
    font-size: 14px;
    min-height: 35px;
    line-height: 33px; }
    .btn.btn-play {
      height: 35px;
      line-height: 43px;
      min-width: 55px; }
    .btn.btn-schedule {
      padding: 0 10px 0 45px; }
      .btn.btn-schedule:before {
        width: 35px;
        height: 34px;
        background-size: 14px 20px; } }

/* HEADER */
#header {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  padding: 45px 0 0;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 10;
  height: 0px; }
  #header .container {
    height: 0px; }
  #header .logo-wrap {
    display: inline-block; }
    #header .logo-wrap a {
      display: block; }
      #header .logo-wrap a img {
        width: 200px;
        height: 60px;
        display: block; }

#navigation {
  position: fixed;
  left: 38px;
  bottom: 34px;
  z-index: 10;
  margin: 0;
  padding: 0; }
  #navigation li {
    display: block;
    list-style: none;
    margin-bottom: 4px; }
    #navigation li a {
      display: block;
      text-decoration: none;
      color: #0e9abd;
      font-size: 18px;
      font-weight: 400;
      padding-right: 30px;
      position: relative; }
      #navigation li a span {
        opacity: 0; }
      #navigation li a:before {
        content: '';
        position: absolute;
        right: 0px;
        top: 50%;
        margin-top: -10px;
        width: 20px;
        height: 20px;
        background: none;
        border: 1px solid #0e9abd;
        border-radius: 50%;
        opacity: 0;
        -webkit-transition-duration: 0.5s;
        -o-transition-duration: 0.5s;
        transition-duration: 0.5s; }
      #navigation li a:after {
        content: '';
        position: absolute;
        right: 5px;
        top: 50%;
        margin-top: -5px;
        width: 10px;
        height: 10px;
        background: #474747;
        border-radius: 50%;
        -webkit-transition-duration: 0.5s;
        -o-transition-duration: 0.5s;
        transition-duration: 0.5s; }
      #navigation li a:hover:after {
        background: #ef4c22; }
    #navigation li.active a span {
      opacity: 1; }
    #navigation li.active a:before {
      opacity: 1; }
    #navigation li.active a:after {
      background: #0e9abd; }

@media (max-width: 1366px) {
  #navigation {
    left: 3px;
    bottom: 10px; }
    #navigation li a {
      padding-right: 20px;
      height: 20px; }
      #navigation li a span {
        display: none; } }

@media (max-height: 700px) {
  #header {
    padding-top: 20px; } }

@media (max-width: 991px), (max-height: 640px) {
  #navigation {
    display: none; }
  #header {
    position: absolute; } }

@media (max-width: 575px) {
  #header .logo-wrap a img {
    width: 150px;
    height: 45px; } }

@media (max-width: 991px) {
  #header {
    height: auto;
    position: static;
  }

  #header .container {
    height: auto;
  }
}
@media (max-width: 450px) {
  #header {
    padding: 10px 0 0; }
    #header .logo-wrap a img {
      width: 100px;
      height: 30px; } }

/* sections */
.section {
  position: relative;
  z-index: 1; }
  .section .fp-tableCell {
    padding-top: 130px; }

/* section-1 */
#section-1:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: url(../images/bg-section-1.png) right bottom no-repeat;
  background-size: auto 100%; }

#section-1 .container {
  position: relative;
  z-index: 2;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  #section-1 .container > .row {
    min-width: 100%; }

#section-1 h1, #section-1 .h1 {
  margin-bottom: 0.4em; }

#section-1 .btn:not(.btn-play) {
  padding: 0 45px; }

#section-1 .box-info {
  position: relative;
  margin-bottom: 25px;
  padding: 7px 15px;
  display: inline-block;
  font-size: 24px; }
  #section-1 .box-info span {
    padding: 0 5px; }
  #section-1 .box-info span:before, #section-1 .box-info span:after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-style: solid;
    border-width: 0; }
  #section-1 .box-info .date {
    color: #ef4c22;
    font-weight: 700; }
    #section-1 .box-info .date:before {
      left: 0;
      top: 0;
      border-color: #ef4c22;
      border-top-width: 1px;
      border-left-width: 1px; }
    #section-1 .box-info .date:after {
      left: 0;
      bottom: 0;
      border-color: #ef4c22;
      border-bottom-width: 1px;
      border-left-width: 1px; }
  #section-1 .box-info .place {
    color: #0e9abd; }
    #section-1 .box-info .place:before {
      right: 0;
      top: 0;
      border-color: #0e9abd;
      border-top-width: 1px;
      border-right-width: 1px; }
    #section-1 .box-info .place:after {
      right: 0;
      bottom: 0;
      border-color: #0e9abd;
      border-bottom-width: 1px;
      border-right-width: 1px; }

#section-1 .h2 {
  margin-bottom: 1.1em; }

#section-1 .image {
  position: absolute;
  right: -65px;
  bottom: 0; }
  #section-1 .image img {
    display: block; }

.box-full-info {
  border: 2px solid #292929;
  padding: 10px 15px;
  margin-bottom: 35px;
  margin-top: 35px;
  text-align: center;
  color: #666666;
  font-size: 24px;
  max-width: 435px; }
  .box-full-info p {
    margin-bottom: 5px; }
  .box-full-info .title {
    font-weight: 900;
    font-size: 30px; }

@media (max-width: 1366px), (max-height: 870px) {
  .box-full-info {
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 20px; }
    .box-full-info .title {
      font-weight: 700;
      font-size: 24px; }
  #section-1 .image {
    right: 0;
    height: 650px; }
    #section-1 .image img {
      height: 100%;
      width: auto; } }

@media (max-height: 700px) {
  .section .fp-tableCell {
    padding-top: 90px; }
  #section-1 .image {
    height: 520px;
    right: 50px; }
  .box-full-info {
    font-size: 18px; }
    .box-full-info .title {
      font-weight: 900;
      font-size: 22px; } }

@media (max-width: 991px), (max-height: 640px) {
  .section {
    padding: 35px 0; }
    .section:before, .section:after {
      display: none; }
  #section-1 {
    padding-top: 150px; }
    #section-1:before {
      display: block; }
    #section-1 .h1, #section-1 h1 {
      clear: both; }
    #section-1 .image {
      bottom: -35px; } }

@media (max-width: 991px) {
  #section-1 {
    padding-top: 58px; }
    #section-1:before {
      display: block;
      height: 117%;
      background-image: url(../images/bg-mobile.png); }
    #section-1 .box-info {
      float: right;
      margin-bottom: 60px; }
    #section-1 .image {
      display: none; }
  .box-full-info .title {
    font-size: 22px; } }

@media (max-width: 767px) {
  #section-1 {
    text-align: center; }
    #section-1 .box-info {
      font-size: 17px; }
  .box-full-info {
    max-width: none; } }

@media (max-width: 575px) {
  .section {
    padding: 15px 0; }
  #section-1 {
    padding-top: 52px; }
    #section-1 .box-info span {
      padding: 0 2px; } }

@media (max-width: 450px) {
  #section-1 {
    padding-top: 10px; }
    #section-1 .box-info {
      font-size: 12px;
      margin-bottom: 25px;
      padding: 7px 5px; }
      #section-1 .box-info span {
        padding: 0 2px; }
    #section-1 .btn:not(.btn-play) {
      padding: 0px 20px; }
  .box-full-info {
    margin: 30px 0;
    font-size: 14px; }
    .box-full-info .title {
      font-weight: 900;
      font-size: 18px; } }

/* section-2 */
#section-2:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: url(../images/bg-section-2left.png) left top no-repeat;
  background-size: auto; }

#section-2:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: url(../images/bg-section-2right.png) right bottom no-repeat;
  background-size: auto 100%; }

#section-2 .container {
  position: relative;
  z-index: 2; }

#section-2 .bonuses {
  color: #0e9abd;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 45px;
  padding-top: 15px; }
  #section-2 .bonuses span {
    padding: 0 10px; }
    #section-2 .bonuses span:before {
      content: '';
      width: 35px;
      height: 35px;
      margin: 0 10px -7px 0;
      display: inline-block;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: auto; }
  #section-2 .bonuses .drink {
    color: #52c1ce; }
    #section-2 .bonuses .drink:before {
      background-image: url(../images/cofee.svg); }
  #section-2 .bonuses .food:before {
    background-image: url(../images/cookie.svg); }

#section-2 .gallery-about {
  max-width: 410px;
  float: right;
  padding-top: 20px; }
  #section-2 .gallery-about .item {
    margin-bottom: 35px;
    position: relative; }
    #section-2 .gallery-about .item .text {
      position: absolute;
      left: 0;
      bottom: 0;
      padding: 15px;
      font-weight: 400;
      font-size: 30px; }
      #section-2 .gallery-about .item .text p {
        margin: 0; }

.slick-arrow {
  background: none;
  border: none;
  cursor: pointer; }

.gallery-about .slick-prev {
  display: none !important; }

.gallery-about .slick-next {
  display: block;
  position: relative;
  width: 20px;
  height: 21px;
  margin: 0 auto; }
  .gallery-about .slick-next:before, .gallery-about .slick-next:after {
    content: '';
    left: 50%;
    border: 1px solid #0e9abd;
    position: absolute;
    border-left: none;
    border-top: none;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s; }
  .gallery-about .slick-next:before {
    top: -2px;
    margin-left: -7px;
    width: 14px;
    height: 14px; }
  .gallery-about .slick-next:after {
    bottom: -1px;
    margin-left: -6px;
    width: 12px;
    height: 12px; }
  .gallery-about .slick-next:hover:before, .gallery-about .slick-next:hover:after {
    border-color: #ef4c22; }

@media (max-width: 1199px) {
  #section-2 .gallery-about {
    max-width: 100%; } }

@media (max-width: 991px) {
  #section-2 .gallery-about {
    margin-left: -10px;
    margin-right: -10px;
    float: none;
    max-width: none; }
    #section-2 .gallery-about .item {
      padding: 0 10px; }
      #section-2 .gallery-about .item .text {
        font-size: 22px; }
    #section-2 .gallery-about .slick-next {
      display: none !important; } }

@media (max-width: 767px) {
  #section-2 .bonuses {
    font-size: 15px; }
  #section-2 .gallery-about {
    margin-left: 0px;
    margin-right: 0px; }
    #section-2 .gallery-about .item {
      padding: 0 0px; }
      #section-2 .gallery-about .item img {
        width: 100%; }
    #section-2 .gallery-about .slick-next {
      display: inline-block !important; } }

@media (max-width: 575px) {
  #section-2 .bonuses {
    font-size: 10px;
    margin-bottom: 30px; }
    #section-2 .bonuses span {
      padding-left: 0;
      padding-right: 5px; }
      #section-2 .bonuses span:before {
        content: '';
        width: 22px;
        height: 22px;
        margin: 0 5px -5px 0; }
  #section-2 .gallery-about .item {
    margin-bottom: 20px; } }

/* section 3 */
#section-3:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: url(../images/bg-section-3.png) right bottom no-repeat;
  background-size: auto 100%; }

#section-3 .container {
  position: relative;
  z-index: 2; }

.carousel-speakers {
  margin-bottom: 35px; }
  .carousel-speakers .item-wrap {
    position: relative;
    padding: 0 15px; }
    .carousel-speakers .item-wrap:before, .carousel-speakers .item-wrap:after, .carousel-speakers .item-wrap .item:before, .carousel-speakers .item-wrap .item:after {
      content: '';
      position: absolute;
      width: 20px;
      height: 20px;
      border-style: solid;
      border-width: 0; }
    .carousel-speakers .item-wrap:before {
      left: 15px;
      top: 0;
      border-color: #ef4c22;
      border-top-width: 1px;
      border-left-width: 1px; }
    .carousel-speakers .item-wrap:after {
      left: 15px;
      bottom: 0;
      border-color: #0e9abd;
      border-bottom-width: 1px;
      border-left-width: 1px; }
    .carousel-speakers .item-wrap .item {
      position: relative;
      padding-bottom: 125px; }
      .carousel-speakers .item-wrap .item:before {
        right: 0;
        top: 0;
        border-color: #0e9abd;
        border-top-width: 1px;
        border-right-width: 1px; }
      .carousel-speakers .item-wrap .item:after {
        right: 0;
        bottom: 0;
        border-color: #ef4c22;
        border-bottom-width: 1px;
        border-right-width: 1px; }
      .carousel-speakers .item-wrap .item .image {
        position: relative;
        text-align: center; }
        .carousel-speakers .item-wrap .item .image img {
          display: inline-block; }
        .carousel-speakers .item-wrap .item .image .img {
          -webkit-transition-duration: 0.5s;
          -o-transition-duration: 0.5s;
          transition-duration: 0.5s; }
        .carousel-speakers .item-wrap .item .image .img-hover {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          text-align: center;
          opacity: 0;
          -webkit-transition-duration: 0.5s;
          -o-transition-duration: 0.5s;
          transition-duration: 0.5s; }
      .carousel-speakers .item-wrap .item .info {
        position: absolute;
        left: 0;
        bottom: 0;
        -webkit-transition-duration: 0.3s;
        -o-transition-duration: 0.3s;
        transition-duration: 0.3s;
        text-align: center;
        font-size: 14px;
        color: #9e9e9e;
        padding: 20px;
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        min-height: 110px;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
        .carousel-speakers .item-wrap .item .info .name {
          font-size: 18px;
          font-weight: 700;
          color: #fff;
          margin-bottom: 0.6em;
          display: block;
          width: 100%; }
        .carousel-speakers .item-wrap .item .info .short-text {
          text-align: center;
          color: #555555;
          font-size: 14px;
          display: block;
          width: 100%;
          -webkit-transition-duration: 0.3s;
          -o-transition-duration: 0.3s;
          transition-duration: 0.3s; }
        .carousel-speakers .item-wrap .item .info .text {
          max-height: 0;
          -webkit-transition-duration: 0.3s;
          -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
          overflow: hidden;
          display: block;
          width: 100%; }
      .carousel-speakers .item-wrap .item:hover .image .img {
        opacity: 0; }
      .carousel-speakers .item-wrap .item:hover .image .img-hover {
        opacity: 1; }
      .carousel-speakers .item-wrap .item:hover .info {
        background-color: rgba(0, 0, 0, 0.8); }
        .carousel-speakers .item-wrap .item:hover .info .short-text {
          color: #fff; }
        .carousel-speakers .item-wrap .item:hover .info .text {
          max-height: 400px; }

.carousel-speakers-nav {
  text-align: center; }
  .carousel-speakers-nav button {
    display: inline-block;
    width: 35px;
    height: 35px;
    margin: 0 12px;
    border-radius: 4px;
    border: 1px solid #0e9abd;
    position: relative;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s; }
    .carousel-speakers-nav button:before {
      content: '';
      position: absolute;
      left: 5px;
      bottom: 4px;
      border: 1px solid #0e9abd;
      border-right: none;
      border-top: none;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      -webkit-transition-duration: 0.3s;
      -o-transition-duration: 0.3s;
      transition-duration: 0.3s;
      width: 8px;
      height: 8px; }
    .carousel-speakers-nav button:after {
      content: '';
      position: absolute;
      left: 6px;
      bottom: 8px;
      background-color: #0e9abd;
      -webkit-transition-duration: 0.3s;
      -o-transition-duration: 0.3s;
      transition-duration: 0.3s;
      width: 13px;
      height: 1px; }
    .carousel-speakers-nav button.slick-next:before {
      right: 5px;
      left: auto;
      -webkit-transform: rotate(225deg);
      -ms-transform: rotate(225deg);
      transform: rotate(225deg); }
    .carousel-speakers-nav button.slick-next:after {
      right: 6px;
      left: auto; }
    .carousel-speakers-nav button:hover {
      border-color: #ef4c22; }
      .carousel-speakers-nav button:hover:before {
        border-color: #ef4c22; }
      .carousel-speakers-nav button:hover:after {
        background-color: #ef4c22; }

@media (max-width: 1366px), (max-height: 870px) {
  .carousel-speakers .item-wrap .item .image img {
    max-height: 250px; }
  .carousel-speakers .item-wrap .item .info .text {
    font-size: 13px; } }

/* section 4 */
#section-4:after, #section-5:after, #section-6:after, #section-7:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: url(../images/bg-section-4.png) right bottom no-repeat;
  background-size: auto 100%; }

#section-4 .container, #section-5 .container, #section-6 .container, #section-7 .container {
  position: relative;
  z-index: 2; }

.box-programm {
  font-weight: 400;
  font-size: 16px;
  max-height: 600px; }
  .box-programm .item {
    margin-bottom: 20px;
    position: relative;
    padding-left: 60px; }
    .box-programm .item:before {
      content: '';
      position: absolute;
      left: 20px;
      top: 9px;
      width: 10px;
      height: 10px;
      background-color: #fff;
      border-radius: 50%; }
    .box-programm .item .h4 {
      margin-bottom: 10px; }
      .box-programm .item .h4 span {
        font-size: 16px;
        font-weight: 400; }
    .box-programm .item p {
      margin-bottom: 12px; }
    .box-programm .item .photo .img {
      margin: 0 10px 10px 0;
      width: 40px;
      height: 40px;
      float: left;
      border-radius: 50%;
      overflow: hidden; }
      .box-programm .item .photo .img img {
        display: block; }

@media (max-width: 1366px), (max-height: 870px) {
  .box-programm {
    font-size: 14px;
    max-height: 450px; } }

@media (max-height: 700px) {
  .box-dark.box-programm {
    padding-top: 25px;
    padding-bottom: 15px;
    max-height: 430px; } }

@media (max-width: 991px) {
  .box-programm .item {
    padding-right: 25px; }
  .tooltip_templates {
    clear: both; } }

@media (min-width: 992px) {
  .tooltip_templates.active {
    display: none !important; } }

@media (max-width: 575px) {
  .box-dark.box-programm {
    padding: 20px;
    max-height: 600px; }
    .box-dark.box-programm .item {
      padding-left: 30px; }
      .box-dark.box-programm .item:before {
        left: 15px; }
      .box-dark.box-programm .item .h4 span {
        font-size: 13px; }
    .box-dark.box-programm .mCSB_outside + .mCS-minimal.mCSB_scrollTools_vertical, .box-dark.box-programm .mCSB_outside + .mCS-minimal-dark.mCSB_scrollTools_vertical {
      right: 10px;
      margin: 15px 0; }
    .box-dark.box-programm .tooltip_templates {
      padding: 10px;
      font-size: 11px; }
      .box-dark.box-programm .tooltip_templates .h3 {
        font-size: 18px; } }

/* section-5 */
#section-5 .box-timeline {
  padding: 15px; }
  #section-5 .box-timeline .h4, #section-5 .box-timeline h4 {
    margin-bottom: 0.6em; }

#building {
  position: absolute;
  left: 0;
  bottom: 20px;
  z-index: 2; }
  #building img {
    width: auto;
    height: auto; }
  #building svg {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0; }
    #building svg .gray {
      fill: #ccc; }
    #building svg .blue {
      fill: #00b7f4; }
    #building svg .green {
      fill: #49bb7b; }
    #building svg .red {
      fill: #f56a3f; }
    #building svg .class {
      fill: #8b7667; }
    #building svg .room {
      opacity: 0;
      -webkit-transition-duration: 0.3s;
      -o-transition-duration: 0.3s;
      transition-duration: 0.3s; }
      #building svg .room.active {
        opacity: 0.8; }

.timeline {
  font-size: 16px;
  font-weight: 700;
  margin-left: -3px;
  margin-right: -3px; }
  .timeline table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 5px 10px; }
    .timeline table th {
      width: 16.66%;
      text-align: left;
      padding: 13px 3px;
      font-size: 15px; }
    .timeline table td {
      width: 16.66%;
      text-align: center;
      padding: 0px 3px;
      font-size: 15px; }
      .timeline table td.border {
        border: 1px solid #fff; }
      .timeline table td.border-green {
        border: 1px solid #49bb7b; }
      .timeline table td.border-blue {
        border: 1px solid #00b7f4; }
      .timeline table td.border-red {
        border: 1px solid #f56a3f; }
      .timeline table td.border-yellow {
        border: 1px solid #8b7667; }
    .timeline table td[data-room] {
      cursor: pointer; }
    .timeline table .first th, .timeline table .first td {
      padding: 5px 3px; }

@media (max-width: 1600px) {
  #building {
    left: -50px;
    bottom: 0px;
    max-width: 900px; } }

@media (max-width: 1366px), (max-height: 870px) {
  #section-5 .box-timeline {
    padding: 15px 15px 10px;
    margin-top: -115px; }
  #building {
    left: -100px;
    bottom: 0px;
    max-width: 700px; } }

@media (max-height: 700px) {
  #section-5 .box-timeline {
    margin-top: -70px; }
  #building {
    bottom: 20px; }
  .timeline table td, .timeline table th {
    font-size: 14px; }
  .timeline table th {
    padding: 10px 3px; } }

@media (max-width: 1199px) {
  .timeline table td, .timeline table th {
    font-size: 12px; } }

@media (max-width: 991px), (max-height: 640px) {
  #section-5 .box-timeline {
    margin-top: 0px; }
  #building {
    bottom: 100px; } }

@media (max-width: 991px) {
  #building {
    position: relative;
    left: auto;
    bottom: auto;
    margin-bottom: 15px;
    max-width: none;
    width: auto;
    margin-left: -100px; }
    #building img {
      width: 100%; }
    #building svg .room {
      opacity: 0.8; } }

@media only screen and (max-width: 575px) {
  .box-timeline {
    margin: 0 -15px; }
  .timeline {
    margin-left: -10px;
    margin-right: -10px; }
    .timeline table {
      border-spacing: 0px 5px; }
  .timeline table td, .timeline table th {
    font-size: 10px;
    padding-left: 1px;
    padding-right: 1px; } }

@media (max-width: 575.98px) {
  .table-responsive-sm {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar; } }

@media (max-width: 575.98px) {
  #building {
    margin-left: -50px; } }

/* section 6 */
.box-dark {
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 20px;
  padding: 40px; }

#section-6 .box-dark {
  margin: 10px 0;
  padding: 25px 40px 20px;
  clear: both; }
  #section-6 .box-dark .h4, #section-6 .box-dark h4 {
    text-align: center; }

#section-6 .slick-arrow {
  position: absolute;
  z-index: 10;
  top: 50%;
  margin-top: -9px;
  height: 18px;
  width: 18px;
  overflow: hidden;
  text-indent: -1000px;
  border: 1px solid #fff;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  border-top: none;
  border-right: none;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s; }
  #section-6 .slick-arrow.slick-prev {
    left: -10px; }
  #section-6 .slick-arrow.slick-next {
    right: -10px;
    -webkit-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    transform: rotate(225deg); }
  #section-6 .slick-arrow:hover {
    border-color: #ef4c22; }

.carousel-partners .item {
  text-align: center;
  padding: 0 15px;
  color: #7c7c7c;
  font-size: 12px;
  font-weight: 400; }
  .carousel-partners .item .image {
    margin-bottom: 5px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-height: 60px; }
    .carousel-partners .item .image img {
      display: block;
      max-height: 60px; }

.carousel-partners-media .item {
  text-align: center; }
  .carousel-partners-media .item .image {
    margin-bottom: 0;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-height: 60px;
    padding: 5px 0; }
    .carousel-partners-media .item .image img {
      display: block;
      max-height: 50px; }

.tooltip_partners {
  display: none;
  font-size: 12px; }

@media (max-width: 1479px), (max-height: 870px) {
  #section-6 .box-dark {
    margin: 10px 0;
    padding: 15px 30px 15px; } }

@media (max-height: 700px) {
  #section-6 .box-dark .h4, #section-6 .box-dark h4 {
    margin-bottom: 10px; } }

/* section 7 */
#section-7 .h1, #section-7 h1 {
  margin-bottom: 0.5em; }

.boxes-registration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .boxes-registration .box-registration {
    width: 505px;
    padding: 40px 30px 30px;
    margin: 0 70px 0 0; }
    .boxes-registration .box-registration .box-full-info {
      width: 100%;
      max-width: 100%;
      margin: 0 0 35px; }
    .boxes-registration .box-registration .form {
      max-width: 320px;
      margin: 0 auto; }
      .boxes-registration .box-registration .form .btn {
        width: 100%; }
  .boxes-registration #workshopBlock {
    width: 410px;
    display: none;
    font-size: 18px; }
    .boxes-registration #workshopBlock label {
      font-weight: 700; }
    .boxes-registration #workshopBlock.active {
      display: block; }
    .boxes-registration #workshopBlock .col-6 {
      margin-bottom: 5px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      height: 50px; }
    .boxes-registration #workshopBlock input[type='checkbox'] + label {
      margin-bottom: 0; }

/*radio*/
input[type='checkbox'], input[type='radio'] {
  vertical-align: top;
  width: 17px;
  height: 17px;
  margin: 0 3px 0 0; }

input[type='checkbox'] + label, input[type='radio'] + label {
  cursor: pointer;
  padding-left: 35px;
  position: relative;
  /*margin-bottom: 35px; */
}
  input[type='checkbox'] + label:before, input[type='radio'] + label:before {
    content: '';
    position: absolute;
    left: 5px;
    top: 50%;
    margin-top: -10px;
    width: 20px;
    height: 20px;
    border-radius: 3px;
    border: 1px solid #fff; }
  input[type='checkbox'] + label:after, input[type='radio'] + label:after {
    content: '';
    position: absolute;
    left: 8px;
    top: 50%;
    margin-top: -7px;
    width: 14px;
    height: 14px;
    border-radius: 0px;
    background-color: #ef4c22;
    opacity: 0; }

input[type='radio'] + label:before {
  border-radius: 50%; }

input[type='radio'] + label:after {
  border-radius: 50%; }

input[type='checkbox']:not(checked), input[type='radio']:not(checked) {
  position: absolute;
  opacity: 0; }

input[type='checkbox']:checked + label:after, input[type='radio']:checked + label:after {
  opacity: 1; }

@media (max-width: 1366px), (max-height: 870px) {
  .boxes-registration .box-registration {
    padding: 20px 30px 20px; }
    .boxes-registration .box-registration .box-full-info {
      margin-bottom: 20px; }
    .boxes-registration .box-registration input[type='text'], .boxes-registration .box-registration input[type='tel'], .boxes-registration .box-registration input[type='search'], .boxes-registration .box-registration input[type='email'], .boxes-registration .box-registration input[type='password'], .boxes-registration .box-registration input[type='number'], .boxes-registration .box-registration input[type='date'], .boxes-registration .box-registration textarea, .boxes-registration .box-registration select {
      height: 35px;
      font-size: 16px; }
    .boxes-registration .box-registration input[type='checkbox'] + label {
      margin-bottom: 20px; }
    .boxes-registration .box-registration .btn {
      margin-bottom: 10px; }
  .boxes-registration #workshopBlock {
    padding-top: 30px; }
    .boxes-registration #workshopBlock .col-6 {
      height: 45px; } }

@media (max-width: 1199px) {
  .boxes-registration {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .boxes-registration .box-registration {
      width: 49%;
      margin: 0 0px 0 0; }
    .boxes-registration #workshopBlock {
      width: 49%;
      font-size: 16px; } }

@media (max-width: 767px) {
  .boxes-registration .box-registration {
    width: 100%;
    margin: 0 0px 10px 0; }
  .boxes-registration #workshopBlock {
    width: 100%;
    font-size: 15px; } }

@media (max-width: 450px) {
  .boxes-registration .box-registration {
    background: none;
    padding-bottom: 0; }
  .boxes-registration #workshopBlock {
    padding: 0; } }

/* mCustomScrollbar */
.mCustomScrollbar {
  -ms-touch-action: pinch-zoom;
  touch-action: pinch-zoom; }

.mCustomScrollbar.mCS_no_scrollbar, .mCustomScrollbar.mCS_touch_action {
  -ms-touch-action: auto;
  touch-action: auto; }

.mCustomScrollBox {
  position: relative;
  overflow: hidden;
  height: 100%;
  max-width: 100%;
  outline: none;
  direction: ltr; }

.mCSB_container {
  overflow: hidden;
  width: auto;
  height: auto; }

.mCSB_inside > .mCSB_container {
  margin-right: 30px; }

.mCSB_container.mCS_no_scrollbar_y.mCS_y_hidden {
  margin-right: 0; }

.mCSB_scrollTools {
  position: absolute;
  width: 5px;
  height: auto;
  left: auto;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #383838; }

.mCSB_outside + .mCSB_scrollTools {
  right: -26px; }

.mCSB_scrollTools .mCSB_draggerContainer {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: auto; }

.mCSB_scrollTools a + .mCSB_draggerContainer {
  margin: 20px 0; }

.mCSB_scrollTools .mCSB_draggerRail {
  width: 2px;
  height: 100%;
  margin: 0 auto;
  border-radius: 16px; }

.mCSB_scrollTools .mCSB_dragger {
  cursor: pointer;
  width: 100%;
  height: 30px;
  z-index: 1;
  background-color: #d1d1d1; }

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  position: relative;
  width: 4px;
  height: 100%;
  margin: 0 auto;
  border-radius: 16px;
  text-align: center; }

.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_dragger.mCSB_dragger_onDrag_expanded .mCSB_dragger_bar,
.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_draggerContainer:hover .mCSB_dragger .mCSB_dragger_bar {
  width: 12px; }

.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_dragger.mCSB_dragger_onDrag_expanded + .mCSB_draggerRail,
.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_draggerContainer:hover .mCSB_draggerRail {
  width: 8px; }

.mCSB_scrollTools .mCSB_buttonUp,
.mCSB_scrollTools .mCSB_buttonDown {
  display: block;
  position: absolute;
  height: 20px;
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
  cursor: pointer; }

.mCSB_outside + .mCS-minimal.mCSB_scrollTools_vertical,
.mCSB_outside + .mCS-minimal-dark.mCSB_scrollTools_vertical {
  right: 40px;
  margin: 40px 0; }

.mCustomScrollBox.mCS-minimal + .mCSB_scrollTools.mCSB_scrollTools_horizontal,
.mCustomScrollBox.mCS-minimal + .mCSB_scrollTools + .mCSB_scrollTools.mCSB_scrollTools_horizontal,
.mCustomScrollBox.mCS-minimal-dark + .mCSB_scrollTools.mCSB_scrollTools_horizontal,
.mCustomScrollBox.mCS-minimal-dark + .mCSB_scrollTools + .mCSB_scrollTools.mCSB_scrollTools_horizontal {
  bottom: 0;
  margin: 0 12px; }

/**/
/* -- tooltip -- */
.tooltip_templates {
  display: none; }

/* .tooltipster-box */
.tooltipster-sidetip .tooltipster-box, .tooltip_templates {
  background: #191919;
  border-radius: 20px; }

.tooltipster-sidetip.tooltipster-bottom .tooltipster-box {
  margin-top: 30px; }

.tooltipster-sidetip.tooltipster-left .tooltipster-box {
  margin-right: 0; }

.tooltipster-sidetip.tooltipster-right .tooltipster-box {
  margin-left: 0; }

.tooltipster-sidetip.tooltipster-top .tooltipster-box {
  margin-bottom: 30px; }

/* .tooltipster-content */
.tooltipster-content, .tooltip_templates {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  padding: 25px; }
  .tooltipster-content .title, .tooltip_templates .title {
    display: block;
    color: #666666;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 10px; }
  .tooltipster-content .info, .tooltip_templates .info {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 15px; }
  .tooltipster-content .sreaker, .tooltip_templates .sreaker {
    margin-bottom: 10px;
    overflow: hidden; }
    .tooltipster-content .sreaker .image, .tooltip_templates .sreaker .image {
      margin: 0 10px 0 0;
      width: 40px;
      height: 40px;
      float: left;
      border-radius: 50%;
      overflow: hidden; }
    .tooltipster-content .sreaker .name, .tooltip_templates .sreaker .name {
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 0; }
    .tooltipster-content .sreaker p, .tooltip_templates .sreaker p {
      font-size: 12px; }
  .tooltipster-content .text, .tooltip_templates .text {
    color: #9b9b9b; }

.tooltipster-sidetip .tooltipster-arrow {
  overflow: hidden;
  position: absolute; }

.tooltipster-sidetip.tooltipster-bottom .tooltipster-arrow {
  height: 30px;
  margin-left: -20px;
  top: 0;
  width: 45px; }

.tooltipster-sidetip.tooltipster-left .tooltipster-arrow {
  height: 45px;
  margin-top: -20px;
  right: -30px;
  top: 0;
  width: 30px; }

.tooltipster-sidetip.tooltipster-right .tooltipster-arrow {
  height: 45px;
  margin-top: -20px;
  left: -30px;
  top: 0;
  width: 30px; }

.tooltipster-sidetip.tooltipster-top .tooltipster-arrow {
  bottom: 0;
  height: 30px;
  margin-left: -20px;
  width: 45px; }

/* common rules between .tooltipster-arrow-background and .tooltipster-arrow-border */
.tooltipster-sidetip .tooltipster-arrow-border {
  height: 0;
  position: absolute;
  width: 0; }

/* .tooltipster-arrow-border */
.tooltipster-sidetip .tooltipster-arrow-border {
  border: 30px solid transparent;
  left: 0;
  top: 0; }

.tooltipster-sidetip.tooltipster-bottom .tooltipster-arrow-border {
  border-bottom-color: #191919;
  border-left: none;
  border-right-width: 45px; }

.tooltipster-sidetip.tooltipster-left .tooltipster-arrow-border {
  border-left-color: #191919;
  border-top: none;
  border-bottom-width: 45px; }

.tooltipster-sidetip.tooltipster-right .tooltipster-arrow-border {
  border-right-color: #191919;
  border-top: none;
  border-bottom-width: 45px; }

.tooltipster-sidetip.tooltipster-top .tooltipster-arrow-border {
  border-top-color: #191919;
  border-left: none;
  border-right-width: 45px; }

/* tooltipster-arrow-uncropped */
.tooltipster-sidetip .tooltipster-arrow-uncropped {
  position: relative; }

.tooltipster-sidetip.tooltipster-bottom .tooltipster-arrow-uncropped {
  top: -30px; }

.tooltipster-sidetip.tooltipster-right .tooltipster-arrow-uncropped {
  left: -30px; }

/* my-tooltipster */
.my-tooltipster .tooltipster-box {
  border-radius: 5px; }

.my-tooltipster .tooltipster-content, .my-tooltipster .tooltip_templates {
  color: #7c7c7c;
  font-size: 12px;
  font-weight: 400;
  padding: 15px; }

.my-tooltipster.tooltipster-bottom .tooltipster-box {
  margin-top: 15px; }

.my-tooltipster.tooltipster-top .tooltipster-box {
  margin-bottom: 15px; }

.my-tooltipster.tooltipster-bottom .tooltipster-arrow {
  height: 15px;
  margin-left: -10px;
  width: 22px; }

.my-tooltipster.tooltipster-left .tooltipster-arrow {
  height: 22px;
  margin-top: -10px;
  right: -15px;
  width: 15px; }

.my-tooltipster.tooltipster-right .tooltipster-arrow {
  height: 22px;
  margin-top: -10px;
  left: -15px;
  width: 15px; }

.my-tooltipster.tooltipster-top .tooltipster-arrow {
  height: 15px;
  margin-left: -10px;
  width: 22px; }

.my-tooltipster .tooltipster-arrow-border {
  border: 15px solid transparent; }

.my-tooltipster.tooltipster-bottom .tooltipster-arrow-border {
  border-right-width: 22px; }

.my-tooltipster.tooltipster-left .tooltipster-arrow-border {
  border-bottom-width: 22px; }

.my-tooltipster.tooltipster-right .tooltipster-arrow-border {
  border-bottom-width: 22px; }

.my-tooltipster.tooltipster-top .tooltipster-arrow-border {
  border-right-width: 22px; }

.my-tooltipster.tooltipster-bottom .tooltipster-arrow-uncropped {
  top: -15px; }

.my-tooltipster.tooltipster-right .tooltipster-arrow-uncropped {
  left: -15px; }

/**/
.modal-open {
  overflow: hidden; }

.modal-open .modal {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99999;
  display: none;
  overflow: hidden;
  outline: 0; }
  .modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto; }

.modal-dialog {
  position: relative;
  width: auto;
  margin: 20px;
  pointer-events: none; }
  .modal.fade .modal-dialog {
    -webkit-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s;
    -webkit-transform: translate(0, -25%);
    -ms-transform: translate(0, -25%);
    transform: translate(0, -25%); }
  .modal.show .modal-dialog {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0); }

.modal-dialog-centered {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-height: calc(100% - 40px); }

.modal-content {
  position: relative;
  width: 100%;
  max-width: 800px;
  pointer-events: auto;
  background-color: #000;
  background-clip: padding-box;
  outline: 0;
  border-radius: 15px;
  text-align: center;
  padding: 45px 45px 15px;
  font-size: 18px; }
  .modal-content img {
    display: inline-block;
    margin: 20px 0; }
  .modal-content .btn {
    min-width: 220px; }

.fade {
  -webkit-transition: opacity .15s linear;
  -o-transition: opacity .15s linear;
  transition: opacity .15s linear; }

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10000;
  background-color: black; }
  .modal-backdrop.fade {
    opacity: 0; }
  .modal-backdrop.show {
    opacity: 0.8; }

@media (max-width: 450px) {
  .modal-content {
    padding: 15px 15px 15px;
    font-size: 14px; } }

/*# sourceMappingURL=style.css.map */
