@import "../_base.scss";
@import "../modules/common.scss";
@import "../modules/common/buttons.scss";

.body-404 {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: $darkBlue;
  background-image: url("../img/grid-checkin.svg");
  background-size: cover;

  @media (width <= 576PX) {
    align-items: flex-start;
  }
  .btn {
    @media (width <= 768PX) {
      margin: 0 auto;
    }
  }
}

.block {
  display: flex;

  max-width: 1140PX;
  margin: auto;

  @media (width <= 1170PX) {
    max-width: 960PX;
  }

  @media (width <= 992PX) {
    max-width: 720PX;
  }

  @media (width <= 768PX) {
    flex-direction: column;

    max-width: 540PX;
  }

  @media (width <= 576PX) {
    max-width: 90%;
    margin-top: 50px;
  }

  &__img {
    display: block;

    max-width: 100%;
  }

  &__left {
    margin-right: 50px;

    @media (width <= 768PX) {
      margin-right: 0;
      margin-bottom: 50px;
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-left: 50px;

    @media (width <= 768PX) {
      margin-left: 0;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 100px;

    text-align: left;

    color: $white;

    font-family: $OpenSans;
    font-size: 58px;
    font-weight: bold;
    line-height: 1.2;

    @media (width <= 576PX) {
      margin-bottom: 50px;
    }
  }

  &__text {
    margin-top: 0;
    margin-bottom: 100px;

    text-align: left;

    color: $white;

    font-family: $OpenSans;
    font-size: 22px;
    font-weight: bold;
    line-height: 1.2;

    @media (width <= 576PX) {
      margin-bottom: 50px;
    }
  }

  .btn {
    margin: 0;
  }
}
