@import "../_base.scss";
@import "../modules/preloader.scss";
@import "../modules/course/header.scss";
@import "../modules/course/course-home.scss";
@import "../modules/course/course-main.scss";
@import "../modules/course/checkin.scss";
@import "../modules/common/navigate.scss";
@import "../modules/home/home.scss";
@import "../modules/common/buttons.scss";
@import "../modules/common/footer-social.scss";
@import "../modules/course/timer.scss";
@import "../modules/home/modal.scss";
@import "../modules/home/window-info.scss";
@import "../libs/simplebar.scss";
@import "../modules/course/course-scrollbar.scss";
@import "../modules/mainMenu.scss";



//.course
.course {
  display: flex;
  overflow-y: hidden;
  flex-direction: column;
  width: 100%;

  @media (width <= 1279PX) {
    overflow-y: auto;
  }
  .alert-danger{
    background-color: #fff;
    border-radius: 1rem;
    padding: 2px;
  }
}

//.section
.section {

  will-change: transform;
  position: absolute 0 0 0 0;
  width: 100%;
  max-width: 100vw;
  height: auto;
  min-height: 100vh;

  opacity: 1;

  @media (width <= 1279PX) {
    position: static;

    min-height: auto;
  }
}

//.is-active
.is-active {
  z-index: 100;

  display: flex;
}

.modal {
  display: none;
}

[data-slide-course] {
  @media (width < 1279px) {
    position: static !important;
    transform: translate(0%, 0%) !important;
  }
}

.scene-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;

  &--blur {
    background-color: $darkBlack;
  }

  &:before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
  }

  @media (width <= 1279PX) {
    background-color: transparent;
    background-image: url("../img/mobile-back.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    filter: none;
  }
}

/*For sale timer*/
.sale-timer{
  h1{
    color: #fefefe;
    font-weight: 100;
    font-size: 3rem;
    text-transform: uppercase;
    margin-top: 10px;
    text-align: center;
    font-family: "Open Sans",sans-serif;
  }

  #clockdiv{
    font-family: sans-serif;
    color: #fff;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
  }

  #clockdiv > div{
    padding: 10px;
    border-radius: 3px;
    background-color: rgba(0,0,0,.5);
    display: inline-block;
  }

  #clockdiv div > span{
    padding: 15px;
    border-radius: 3px;
    background-color: rgba(0,0,0,.7);
    display: inline-block;
  }

  .smalltext{
    padding-top: 5px;
    font-size: 16px;
  }
}

.sale-cost{
  text-decoration: line-through;
}

#video-mute{
  cursor: pointer;
  display: block;
  position: absolute;
  right: 30px;
  bottom: 30px;
  height: 40px;
  width: 40px;
  background-color: #ffffffb3;
  z-index: 999;
  background-repeat: no-repeat;
  background-position: center;

  @media (width <= 1200PX){
    display: none;
  }

}
.button_voice__noisy{
  background-image: url("../img/icons/icon-unmuted.png");

}
.button_voice__mute{
  background-image: url("../img/icons/icon-muted.png");

}