//@import "../libs/bootstrap/scss/bootstrap-reboot.scss";
//@import "../libs/bootstrap/scss/bootstrap.scss";
//@import "../libs/bootstrap/scss/utilities/_sizing.scss";
//@import "./../../../node_modules/bootstrap/scss/bootstrap";
@import "../_base.scss";
@import "../modules/home/map.scss";
@import "../modules/common/footer-social.scss";


::placeholder {
  color: #666;
}

::selection {
  color: #fff;
  background-color: $accent;
}

//::-webkit-scrollbar-track {
//  background-color: #d5d5d5;
//}
//
//::-webkit-scrollbar {
//  width: 6px;
//}
//
//::-webkit-scrollbar-thumb {
//  background-color: $text;
//}


body {
  position: relative;

  overflow-x: hidden;

  min-width: 320px;

  color: $text;

  font-family: $default-font;
  font-size: 16px;
  line-height: 1.65;
  input,
  textarea {
    border: #666 1px solid;
    outline: none;
    &:focus:required:invalid {
      border-color: red;
    }
    &:required:valid {
      border-color: green;
    }
  }
}

ul {
  margin: 0;
  padding: 0;

  list-style-type: none;

  li {
    &:before {
      display: inline-block;

      padding-right: 5px;

      content: "-";
    }
  }
}

a {
  &:hover {
    text-decoration: none;
  }
}

.w-300 {
  width: 300px;
}

.btn {
  border-radius: 10px;
  box-shadow: 0px 0px 5.16px 0.84px rgba(0, 0, 0, 0.35);

  font-size: 20px;
}

.wrapper-btn-orange {
  .btn {
    color: #fff;
    border-color: #ff6e1f;
    background-color: #ff6e1f;
  }

  .btn:hover {
    color: #fff;
    border-color: #eb5300;
    background-color: #f85700;
  }

  .btn:focus,
  .btn.focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 110, 31, 0.5);
  }

  .btn.disabled,
  .btn:disabled {
    color: #fff;
    border-color: #ff6e1f;
    background-color: #ff6e1f;
  }

  .btn:not(:disabled):not(.disabled):active,
  .btn:not(:disabled):not(.disabled).active,
  .show > .btn.dropdown-toggle {
    color: #fff;
    border-color: #de4e00;
    background-color: #eb5300;
  }

  .btn:not(:disabled):not(.disabled):active:focus,
  .btn:not(:disabled):not(.disabled).active:focus,
  .show > .btn.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 110, 31, 0.5);
  }
}

.wrapper-btn-blue {
  .btn {
    color: #fff;
    border-color: #00c4d1;
    background-color: #00c4d1;
  }

  .btn:hover {
    color: #fff;
    border-color: #00949e;
    background-color: #00a0ab;
  }

  .btn:focus,
  .btn.focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 196, 209, 0.5);
  }

  .btn.disabled,
  .btn:disabled {
    color: #fff;
    border-color: #00c4d1;
    background-color: #00c4d1;
  }

  .btn:not(:disabled):not(.disabled):active,
  .btn:not(:disabled):not(.disabled).active,
  .show > .btn.dropdown-toggle {
    color: #fff;
    border-color: #008891;
    background-color: #00949e;
  }

  .btn:not(:disabled):not(.disabled):active:focus,
  .btn:not(:disabled):not(.disabled).active:focus,
  .show > .btn.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 196, 209, 0.5);
  }
}

.img-responsive {
  display: block;

  max-width: 100%;
  height: auto;
  &.img-width {
    width: 100%;
  }
}

.regular {
  font-weight: 400;
}

.semibold {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}

.text {
  max-width: 730px;
}

.text-center {
  text-align: center;
}

.text-orange {
  color: $orange;
}

.text-blue {
  color: $darkBlue !important;
}

.text-black {
  color: $dark;
}

.text-grey {
  color: $grey;
}

.text-dark {
  color: $text !important;
}


.rounded-10 {
  border-radius: 10px;
}

b,
strong {
  font-weight: bold;
}

.wrapper {
  padding-top: $offset;
  padding-bottom: $offset;

  background-color: $orange;
  background-image: url(../img/grid.svg);
}

.wrapper-blue {
  padding-top: $offset;
  padding-bottom: $offset;

  background-color: $darkBlue;
  background-image: url("../img/grid-white.svg");
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: 0 0;
}

.underline {
  border-bottom: 1px solid $darkBlue;
}

.block {
  display: block;

  width: (100% - $offset * 2);
  margin: auto;
  margin-bottom: $offset;

  background-color: $white;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  box-shadow: 0px 0px 58.8px 25.2px rgba(0, 0, 0, 0.13);

  &--1 {
    background-image: url(../img/bg1.png);
  }
}

.bg-cloud {
  background-image: url("../img/cloud.png");
  background-repeat: no-repeat;
  background-position: 0 100%;
  background-size: contain;
}

.input {
  border: none;
  border-bottom: 1px solid $white;
  border-radius: 0;
  background-color: transparent;

  font-size: 24px;

  &::placeholder {
    color: $white;

  }

  &:hover{
    &:placeholder-shown {
      color: $white;
      display: block;


    }
  }

  &:focus {
    border-bottom: 1px solid $blue;
    background-color: transparent;
    box-shadow: none;
  }
}

.shadow {
  position: relative;
  z-index: 2;

  box-shadow: 0 0 300px 100px rgba($dark-grey, 0.8);
}

.logo {
  max-width: 270px;
}

.img {
  max-width: 80px;
  height: auto;
}

.img-icon {
  max-width: 40px;
  height: auto;
}



.owl-stage {
  display: flex;
  align-items: stretch;
  justify-content: center;

  .owl-item {
    display: flex;
    align-items: stretch;
    flex-direction: column;

    padding: 0 10px;
    //height: 100%;
  }
}

.owl-carousel__item {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;

  height: 100%;

  img {
    margin: auto;
  }
}

// students

.students-header {
  box-shadow: 0px 0px 34.58px 3.42px rgba(0, 0, 0, 0.07);

  &__logo {
    display: block;
  }
}

.students-main {
  display: flex;

  background-color: #fefefe;
  &.opened {
    display: flex;
  }
  @media (max-width:768px) {
    display: block;
  }

  &__description {
    width: 90%;
    max-height: 200px;
    padding-right: 5%;
  }

  &__btn {
    width: 60%;

    box-shadow: 0px 0px 34.58px 3.42px rgba(0, 0, 0, 0.07);

    &:focus {
      box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.07);
    }

    @media (max-width:768px) {
      width: 90%;
    }
  }
}

.students-detail {
  display: none;

  background-color: $white;
  &.show{
    display: flex;
  }
  @media (max-width: 768px) {
    padding-bottom: 60px !important;
  }

  &__header {
    display: flex;
    justify-content: center;

    background-color: #f6f6f6;
  }

  &__description {
    overflow-y: auto;

    width: 90%;
    max-height: 200px;
    padding-right: 5%;
  }

  &__item {
    display: block;

    width: 86px;
    height: 86px;
  }

  &__photo {
    position: relative;

    @media (max-width: 768px) {
      min-height: 400px;
    }
  }

  &__btns {
    position: absolute;
    top: 0;
    right: 0;
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 65px;
    height: 65px;

    cursor: pointer;

    background-color: rgba(0, 0, 0, 0.6);
  }

  &.active {
    display: block;

    @media (max-width: 768px) {
      display: flex;
    }
  }
}

.bg-cover {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.students-grid {
  display: grid;

  grid-template-areas: "a b c"
  "d d c"
  "d d e"
  "f f e";

  @media (max-width: 992px) {
    order: -1;

    grid-template-areas: "a b c"
                         "d d c"
                         "f e e";
  }

  @media (max-width: 560px) {
    grid-template-areas: "a b"
    "c e"
    "d d"
    "f f";
  }

  &__item {
    @media (max-width: 992px) {
      min-height: 200px;
    }

    &--a {
      grid-area: a;
    }

    &--b {
      grid-area: b;
    }

    &--c {
      grid-area: c;
    }

    &--d {
      grid-area: d;
    }

    &--e {
      grid-area: e;
    }

    &--f {
      grid-area: f;
    }
  }
}

.minh-100 {
  min-height: 100vh;
}

.students-main__left {
  overflow: auto;
}
.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.col-md-6 {
  flex: 0 0 50%;
  max-width: 50%;
}
.d-flex {
  display: flex !important;
}
.flex-column {
  flex-direction: column !important;
}
.align-items-center {
  align-items: center !important;
}
.flex-sm-row {
  flex-direction: row !important;
}
.ie, .edge{
  .students-grid{
    position: relative;
  }
  .students-grid__item{
    position: absolute;
    &--a{
      left: 0;
      top: 0;
      width: 316.66PX;
      height: 215.75PX;
      background-image: url("https://test.a-level.com.ua/assets/images/cache/4cf8df945871ea70cbd65d69f78c9dfb.jpg");
    }
    &--b{
      left: 316.66PX;
      top: 0;
      width: 316.66PX;
      height: 215.75PX;
      background-image: url("https://test.a-level.com.ua/assets/images/cache/5e1631ceec3be2c728d228cf780558cc.jpg");
    }
    &--c{
      left: 633.32PX;
      top: 0;
      width: 316.66PX;
      height: 431.5PX;
      background-image: url("https://test.a-level.com.ua/assets/images/cache/4ecb5c18bf215d4be5f605c59066d746.jpg");
    }
    &--d{
      left: 0;
      top: 215.75PX;
      width: 633.31PX;
      height: 431.5PX;
      background-image: url("https://test.a-level.com.ua/assets/images/cache/df96dce5eaa6276bd09dea9b0fb78056.jpg");
    }
    &--e{
      left: 633.32PX;
      top: 431.5PX;
      width: 316.66PX;
      height: 431.5PX;
      background-image: url("https://test.a-level.com.ua/assets/images/cache/a330b386624f1939b02f6095edebafc6.jpg");
    }
    &--f{
      left: 0;
      top: 647.25PX;
      width: 633.31PX;
      height: 215.75PX;
      background-image: url("https://test.a-level.com.ua/assets/images/cache/e29951c1c6629893329686988bf49eb0.jpg");
    }
  }
  .students-main{
    display: flex;
    .row{
      display: flex;
      flex-wrap: wrap;
    }
    .students-main__left, .students-grid{
      flex: 0 0 50%;
      max-width: 50%;
      width: 100%;
    }

  }
  // very important
  .students-main__left{
    min-height: 860PX;
  }
}

.hub-r {

  @media (width <= 768PX) {
    align-items: center!important;
  }

}