@import "normalize.css";
@import "_vars.scss";
@import "mixins.scss";
@import "style.css";


* {
  box-sizing: border-box;

  outline: none;

  &::before,
  &::after {
    box-sizing: border-box;
  }
}

::selection {
  color: #fff;
  background-color: $accent;
}

html {
  width: 100%;
  height: 100%;
  min-height: 768PX;

  font-size: 62.5%;

  @media screen and (width <= 1170PX) {
    font-size: 56.25%;
  }

  @media screen and (height <= 1024PX) {
    font-size: 56.25%;
  }

  @media (width <= 992PX) {
    font-size: 50%;
  }

  @media (height <= 768PX) {
    font-size: 40%;
  }

  @media (height <= 900PX) {
    font-size: 48%;
  }

  @media (height <= 480PX) {
    font-size: 35%;
  }

  @media screen and (width <= 768PX) {
    font-size: 43.75%;
  }

  @media screen and (width <= 480PX) {
    font-size: 37.5%;
  }
}

.modal-active {
  overflow: hidden;
}

body {
  overflow-x: hidden;

  width: 100%;
  min-width: 320PX;
  min-height: 768PX;
  margin: 0;
  padding: 0;

  font-family: $OpenSans;
  font-weight: 400;
  line-height: 1.5;
  
  &.modal-opened {
    overflow: hidden;
  }
  @media (width <= 768PX) {
    background-color: $gray;
  }

  &.index {
    @media (width > 768PX) {
      min-height: 7500px;
    }
  }

  &.course {
    background-color: $gray;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    box-shadow: inset 0 0 3000px 3000px rgba(0, 0, 0, 0.5);

    @supports (object-fit: cover) {
      background-image: none;
      box-shadow: none;

      object-fit: cover;
    }

    @media (width <= 768PX) {
      box-shadow: inset 0 0 3000px 3000px rgba(0, 0, 0, 0.5);
    }
  }
}

//
//::-webkit-scrollbar-track {
//  background-color: #d5d5d5;
//}
//
//::-webkit-scrollbar {
//  width: 6px;
//}
//
//::-webkit-scrollbar-thumb {
//  background-color: $orange;
//}

figure {
  margin: 0;
}

.visually-hidden,
.hidden {
  position: absolute;

  overflow: hidden;
  clip: rect(0 0 0 0);

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;
}

.hide {
  display: none !important;
}

a {
  text-decoration: none;

  line-height: 1;
}

ul,
ol {
  margin: 0;
  padding: 0;

  list-style: none;

  li {
    margin: 0;
    padding: 0;
  }
}

@keyframes nav {
  0% {
    left: -65px;
  }

  50% {
    left: -100%;
  }

  100% {
    left: -65px;
  }
}

.editor {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $OpenSans;
    font-size: 20px;
    font-weight: bold;
  }
}
.goto {
  @media (width <= 768PX) {
    opacity: 0;
    visibility: hidden;
    display: none;
  }
}
.gotop {
  position: fixed;
  z-index: 1000;
  right: 20px;
  bottom: 40px;

  display: none;

  &__prev {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    margin: 10px;
    margin-left: 40px;

    cursor: pointer;

    border-radius: 50%;
    background-color: $blue;

    font-size: 10px;

    size: 60px;

    i {
      color: $white;

      font-size: 24px;

      .dark-nav & {
        color: $darkBlack;
      }
    }
  }
}

.triggers {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;

  height: 100%;
  @media (max-height: 768PX) {
    top: 75PX;
  }
}

.trigger {
  //
  position: relative;
  left: -100%;

  display: flex;
  align-items: flex-end;
  flex-direction: row;
  flex-wrap: nowrap;

  margin-bottom: 10px;
  padding-left: 5px;
  padding-right: 15px;

  cursor: pointer;
  transition: 0.4s linear all;

  border: none;
  border-radius: 10px 0 0 10px;
  background-color: #626262;

  @media (width < 1330PX) {
    left: -60px;

    &:hover {
      left: -100%;
    }
  }

  .zoom150 & {
    @media (width <= 1170PX) {
      left: -40px;

      &:hover {
        left: 0;
      }
    }

    @media (width > 992PX), (width <= 1170PX) {
      left: -100%;

      &:hover {
        left: -100%;
      }
    }
  }

  @media (width <= 1279PX) {
    display: none;
  }

  &:hover {
    &.trigger--lightblue {
      background-color: #00c3ce;
    }

    &.trigger--darkblue {
      background-color: #0099ba;
    }

    &.trigger--orange {
      background-color: $orange;
    }

    &.trigger--sale {
      background-color: #c50c10;
    }
  }

  &--active {
    &.trigger--lightblue {
      background-color: #00c3ce;
    }

    &.trigger--darkblue {
      background-color: #0099ba;
    }

    &.trigger--orange {
      background-color: $orange;
    }

    &.trigger--sale {
      background-color: #c50c10;
    }
  }

  &--sale {
    background-color: #f00;
  }

  &__icon {
    display: flex;
    align-items: center;
    max-width: 4vw;
    max-height: 4vw;

    border-radius: 5px;

    size: 40px;

    @media (width < 1330PX) {
      size: 60px;
      max-width: 6vw;
      max-height: 6vw;
    }
    
    i {
      margin: auto;

      color: $white;

      font-size: 18px;

      @media (width <= 1170PX) {
        font-size: 20px;
      }

      @media (width <= 992PX) {
        font-size: 16px;
      }
    }
  }

  &__text {
    position: relative;

    margin: auto;
    margin-left: 10px;

    color: $white;

    font-family: $OpenSans;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.2;
  }
}

.no-br {
  white-space: nowrap;
}

.pd-both {
  padding: 0 10px;
}

.sale {
  position: absolute;
  z-index: 1000;
  right: 40px;
  bottom: 40px;

  display: flex;
  align-items: center;
  flex-direction: column;

  width: 100%;
  max-width: 450px;
  padding-top: 50px;

  color: #c3c3c3;
  background-color: $white;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  min-height: 215PX;

  @media (width <= 1120PX) {
    right: 25%;
    bottom: 150px;
    max-width: 50%;
    min-height: 270PX;
  }

  @media (height <= 600PX) and (orientation: landscape) {
    display: none;
  }
  @media (height <= 640PX){
    bottom: 25PX;
  }
  @media (width <= 768PX) {
    right: 12.5%;
    max-width: 75%;
    min-height: 310PX;
  }
  @media (width <= 599PX) {
    right: 5%;
    left: 5%;
    max-width: 90%;
    min-height: 200PX;
  }
  @media (width <= 360PX) {
    min-height: 160PX;
  }
  .icon-close {
    position: absolute;
    top: -50PX;
    right: -15PX;

    padding: 20px;

    cursor: pointer;

    color: $blue;

    font-size: 24px;
    @media (height <= 640PX) {
      top: -40PX;
    }
  }

  &__heading {
    margin: 0;
    margin-bottom: 30px;

    text-align: center;

    color: rgb(51, 51, 51);

    font-size: 26px;
    font-weight: bold;
    line-height: 1.2;
  }

  &__subheading {
    display: block;

    margin: 0;
    margin-bottom: 20px;
    padding: 10px 20px;

    text-align: center;

    color: $white;
    background: $blue;

    font-size: 18px;
    font-weight: bold;
    line-height: 1.2;
  }

  &__btn {
    margin-bottom: 20px !important;
    padding: 12px 35px !important;
    margin-top: auto!important;
    @media (width <= 1023PX) {
      width: auto!important;
    }
  }

  &__time {
    width: 100%;
    margin-bottom: 30px;

    text-align: center;

    font-size: 24px;
    font-weight: bold;
    line-height: 1.2;
  }
}

.sale-places {
  margin-bottom: 15px;

  text-align: center;

  font-size: 26px;
  font-weight: bold;
  line-height: 1.2;

  &__left {
    color: $blue;
  }

  &__total {
    color: $orange;
  }
}

.sale-time {
  display: flex;
  justify-content: center;

  width: 100%;

  &__item {
    width: 25%;
    max-width: 80px;
    margin: 0 10px;

    text-align: center;

    color: $white;

    font-size: 30px;

    div {
      margin-bottom: 5px;
      padding: 16px 8px;

      background-color: $orange;

      font-size: 24px;
    }

    span {
      display: block;

      width: 100%;

      background-color: #555;

      font-size: 14px;
    }
  }
}

.article-course {
  ul {
    padding-left: 26px;
    @media (width <= 768PX) {
      padding-left: 15px;
    }
  }

  li {
    position: relative;

    margin-bottom: 20px;

    text-align: left;

    color: $darkBlack;

    font-family: $OpenSans;
    font-size: 18px;

    &:last-child {
      margin-bottom: 35px;
    }

    &:before {
      position: absolute;
      top: 50%;
      left: -25px;

      display: block;

      margin-top: -5px;

      content: "";
      transform: rotate(45deg);

      background-color: $blue;

      size: 10px;
    }
  }
}

.alert {
  display: block;
  text-align: center;
  font-family: $OpenSans;
  color: $darkBlack;

  &-danger {
    color: red;
  }
}

a {

  color: $blue;
  font-family: $OpenSans;
  transition: color 0.3s ease;

  &:hover,
  &:active {

    color: lighten($blue, 5%);
  }
}

.cities-id {
  display: inline-block;
  z-index: 1;
  position: relative;
}

.blue-select {
  display: inline-block;
  .select {
    position: relative;
    width: 100%;
    display: inline-block;
    padding: 0 20px;
    text-align: center;
    text-align-last: center;
    vertical-align: middle;
    color: $white;
    border: 0;
    border-radius: 10px;
    outline: 0;
    background-color: #1e98b8;
    box-shadow: 0 0 11.2px 1.8px rgba(0, 0, 0, 0.35);
    cursor: pointer;
    font-family: $OpenSans;
    font-size: 24px;

    &.error {
      margin-bottom: 5px;

      border: 2px solid red;
    }

    &.valid {
      border: 2px solid green;
    }

    & + label {
      margin-right: 10px;
      margin-left: 10px;

      color: red;
    }

    option {
      text-align: center;
    }
    li {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-radius: 1rem;
      margin-bottom: 1rem;
      padding: 0 2.5rem;
      line-height: 2.1;
      background-color: #ffffff;
      box-shadow: 0 0 0.516rem 0.84px rgba(0, 0, 0, .35);
      color: #515151;
      &:hover {
        color: #fff;
        background-color: #00c4d1;
      }
      span {
        width: 100%;
        line-height: 24px;
        padding: 6px 0;
      }
    }
  }
  .select-styled {
    line-height: 31px;
    padding: 5px 15px 5px;
  }
  .select-options {
    top: 100%;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    display: none;
    width: 100%;
    margin-top: 1rem;
    text-align: center;
    -webkit-border-radius: 1rem;
    border-radius: 1rem;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 300px;
    transition: all .3s;
  }
  .icon-after {
    position: absolute;
    top: 30px;
    right: 15px;
    font-size: 14px;
    color: #fff;
  }
  .select2-container--default {
    .select2-selection--single {
      height: 38px;
      .select2-selection__rendered {
        position: relative;
        width: 100%;
        padding: 0 20px;
        border: 0;
        border-radius: 10px;
        outline: 0;
        cursor: pointer;
        font-family: $OpenSans;
        font-size: 24px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1rem;
        line-height: 1.5;
        background-color: #ffffff;
        color: #515151;
        box-shadow: 0 0 1.12rem 1.8px rgba(0, 0, 0, 0.35);
      }
      .select2-selection__arrow {
        height: 38px;
      }
    }
  }

  .select2-container--default {
    width: 100% !important;
    text-align: center;
    .select2-selection--single {
      border: none;
      background-color: transparent;
    }
  }
}

.fix-width {
  width: 385px;
  @media (width <= 400PX) {
    width: 320px;
  }
}

.index {
  .select2-dropdown {
    border: none;
    background: transparent;
    .select2-results__options {
      max-height: 390px;
      margin-top: 5px;
      @media (height <= 600PX) and (orientation: landscape) {
        max-height: 240px;
      }
      &::-webkit-scrollbar {
        width: 5PX;
      }

      &::-webkit-scrollbar-track{
        background: #d5d5d5;
      }

      &::-webkit-scrollbar-thumb {
        background: $orange;
      }
    }
  }

  .select2-results__option {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 1rem;
    margin-bottom: 0rem;
    padding: 0 2.5rem;
    line-height: 1.5;
    background-color: #ffffff;
    box-shadow: 0 0 0.516rem 0.84px rgba(0, 0, 0, .35);
    color: #515151;
    font-size: 20px;
    margin: 0px;
    &:hover {
      color: #fff;
      background-color: #00c4d1;
    }
    &.select2-results__option--highlighted {
      color: #fff;
      background-color: #00c4d1;
    }
    &:not(.select2-results__option--highlighted)[aria-selected=true] {
      background-color: #ffffff;
    }
    span {
      width: 100%;
      line-height: 24px;
      padding: 6px 0;
    }
  }
}

.text-wrap{
  position: relative;
}
.remaining-symbols{
  position: absolute;
  right: 8px;
  top: 1px;
  font-size: 12px;
  color: $footer;
  em{
    font-style: normal;
  }
}
.ie {
  .footer__logo {
    min-height: 61px;
  }
}
.safari{
  .checkin__input{
    border: 1PX solid rgba(0, 0, 0, 0.35);
  }
}
.d-md-flex, .d-flex{
  display: flex;
}
.flex-column{
  flex-direction: column;
}
.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.col-lg-6{
  flex: 0 0 50%;
  max-width: 50%;
}
.students-grid {
  display: grid;
  display: -ms-grid;
  -ms-grid-columns: 2fr 1fr;
  grid-template-areas: "a b c" "d d c" "d d e" "f f e";
}
.students-grid__item--a {
  grid-area: a;
}

.students-grid__item--b {
  grid-area: b;
}

.students-grid__item--c {
  grid-area: c;
}

.students-grid__item--d {
  grid-area: d;
}

.students-grid__item--e {
  grid-area: e;
}

.students-grid__item--f {
  grid-area: f;
}
