.scroll-y {
  overflow-y: scroll !important;
}

@mixin input-placeholder {
  &.placeholder {
    @content;
  }

  &:-moz-placeholder {
    @content;
  }

  &::-moz-placeholder {
    @content;
  }

  &:-ms-input-placeholder {
    @content;
  }

  &::-webkit-input-placeholder {
    @content;
  }
}

// For using you should write so

//@include input-placeholder {
//  color: $grey;
//}

//@extend .heading-in-course;
.heading-in-course {
  color: $orange;

  font-family: $OpenSans;
  font-size: 36px;
  font-weight: bold;
  line-height: 1.2;
}
