@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon/icomoon.eot?nck1bd');
  src:  url('../fonts/icomoon/icomoon.eot?nck1bd#iefix') format('embedded-opentype'),
    url('../fonts/icomoon/icomoon.ttf?nck1bd') format('truetype'),
    url('../fonts/icomoon/icomoon.woff?nck1bd') format('woff'),
    url('../fonts/icomoon/icomoon.svg?nck1bd#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-android:before {
  content: "\e900";
}
.icon-arrow-down:before {
  content: "\e901";
}
.icon-arrow-left:before {
  content: "\e902";
}
.icon-arrow-people:before {
  content: "\e903";
}
.icon-arrow-right:before {
  content: "\e904";
}
.icon-arrow-top:before {
  content: "\e905";
}
.icon-atoms:before {
  content: "\e906";
}
.icon-audience:before {
  content: "\e907";
}
.icon-bigben:before {
  content: "\e908";
}
.icon-binary:before {
  content: "\e909";
}
.icon-blank:before {
  content: "\e90a";
}
.icon-blog:before {
  content: "\e90b";
}
.icon-bottom:before {
  content: "\e90c";
}
.icon-businessman:before {
  content: "\e90d";
}
.icon-c:before {
  content: "\e90e";
}
.icon-calendar:before {
  content: "\e90f";
}
.icon-calendar-clock:before {
  content: "\e910";
}
.icon-city:before {
  content: "\e911";
}
.icon-clock:before {
  content: "\e912";
}
.icon-close:before {
  content: "\e913";
}
.icon-code:before {
  content: "\e914";
}
.icon-codeman:before {
  content: "\e915";
}
.icon-community:before {
  content: "\e916";
}
.icon-copy:before {
  content: "\e917";
}
.icon-csharp:before {
  content: "\e918";
}
.icon-dedent:before {
  content: "\e919";
}
.icon-desktop-monitor:before {
  content: "\e91a";
}
.icon-diagram:before {
  content: "\e91b";
}
.icon-document:before {
  content: "\e91c";
}
.icon-envelope:before {
  content: "\e91d";
}
.icon-facebook:before {
  content: "\e91e";
}
.icon-farbs:before {
  content: "\e91f";
}
.icon-folder:before {
  content: "\e920";
}
.icon-go-to-work:before {
  content: "\e921";
}
.icon-grow-up:before {
  content: "\e922";
}
.icon-hi-from-pc:before {
  content: "\e923";
}
.icon-html5:before {
  content: "\e924";
}
.icon-information:before {
  content: "\e925";
}
.icon-instagram:before {
  content: "\e926";
}
.icon-java:before {
  content: "\e927";
}
.icon-java-phone:before {
  content: "\e928";
}
.icon-js:before {
  content: "\e929";
}
.icon-kh:before {
  content: "\e92a";
}
.icon-layers:before {
  content: "\e92b";
}
.icon-lector:before {
  content: "\e92c";
}
.icon-left:before {
  content: "\e92d";
}
.icon-lesson:before {
  content: "\e92e";
}
.icon-linkedin:before {
  content: "\e92f";
}
.icon-location:before {
  content: "\e930";
}
.icon-magic-wand:before {
  content: "\e931";
}
.icon-man-check:before {
  content: "\e932";
}
.icon-man-pc:before {
  content: "\e933";
}
.icon-man-table:before {
  content: "\e934";
}
.icon-man-with-computer:before {
  content: "\e935";
}
.icon-monitor:before {
  content: "\e936";
}
.icon-multiple-users:before {
  content: "\e937";
}
.icon-mustache:before {
  content: "\e938";
}
.icon-pallete:before {
  content: "\e939";
}
.icon-partners:before {
  content: "\e93a";
}
.icon-pazzles:before {
  content: "\e93b";
}
.icon-photo-camera:before {
  content: "\e93c";
}
.icon-php:before {
  content: "\e93d";
}
.icon-pl:before {
  content: "\e93e";
}
.icon-plus:before {
  content: "\e93f";
}
.icon-register:before {
  content: "\e940";
}
.icon-right:before {
  content: "\e941";
}
.icon-robot-book:before {
  content: "\e942";
}
.icon-search-brain:before {
  content: "\e943";
}
.icon-search-site:before {
  content: "\e944";
}
.icon-shemes:before {
  content: "\e945";
}
.icon-smartphone:before {
  content: "\e946";
}
.icon-speech-chat:before {
  content: "\e947";
}
.icon-startup:before {
  content: "\e948";
}
.icon-steps:before {
  content: "\e949";
}
.icon-study:before {
  content: "\e94a";
}
.icon-tag:before {
  content: "\e94b";
}
.icon-teacher-students:before {
  content: "\e94c";
}
.icon-telegram:before {
  content: "\e94d";
}
.icon-top:before {
  content: "\e94e";
}
.icon-user:before {
  content: "\e94f";
}
.icon-user-profile:before {
  content: "\e950";
}
.icon-users:before {
  content: "\e951";
}
.icon-vk:before {
  content: "\e952";
}
.icon-wallet:before {
  content: "\e953";
}
.icon-ways:before {
  content: "\e954";
}
.icon-youtube:before {
  content: "\e955";
}
